{% extends 'base.html' %}
{% load static %}

{% block header %}
    <title>HUI Report</title>
{% endblock %}

{% block content %}
    <main class="d-flex justify-content-center align-items-center"
          style="background-color: var(--main-color);font-family: 'Open Sans', sans-serif;font-size: 20px;min-height: 100vh">
        <form method="post" action=""
              style="padding: 50px; background-color: white;border-radius: 15px;max-width: 700px">{% csrf_token %}
            <div class="form-row">
                <div class="col">
                    <h1 class="text-center" style="color: var(--main-color);margin-bottom: 10px;font-weight: bold;">
                        Filter HUI Report by
                        Date</h1>
                </div>
            </div>
            <div class="form-row" style="margin-bottom: 15px;">
                <div class="col d-flex flex-column justify-content-center align-items-center flex-sm-column flex-md-row flex-lg-row flex-xl-row">
                    <input class="form-control" type="date" name="date_start"/>
                    <span style="color: var(--main-color);margin: 7px;">to</span>
                    <input class="form-control" type="date" name="date_end"/></div>
            </div>
            <div class="form-row">
                <div class="col d-flex justify-content-center align-items-center">
                    <button class="btn btn-success btn-lg" type="submit" style="border-radius: 10px;">
                        Generate HUI Report
                    </button>
                </div>
            </div>
            <label>
                <input class="d-none" id="fields" type="text" name="fields" value="">
            </label>
        </form>
    </main>
{% endblock %}

