TvachaCare/settings.py
TvachaCare/saved_settings.py


manage.py
README.md
SECURITY.md

TvachaCare/__init__.py
TvachaCare/wsgi.py
TvachaCare/asgi.py

venv

.vs

obj

tvachacare-serverfiles.pyproj

mydatabase

patientInformation/migrations

media_cdn/
static_cdn/

__pycache__
patientInformation/__pycache__

filter.csv

.vscode/
.idea/

patientInformation_eventlog.csv

db.sqlite3

account/migrations/0001_initial.py

media/patient_images.zip

waiting_list.csv
media/uploaded_template.csv
