TvachaCare/settings.py
TvachaCare/saved_settings.py


manage.py
README.md
SECURITY.md

TvachaCare

venv

.vs

obj

tvachacare-serverfiles.pyproj

mydatabase

patientInformation/migrations

media_cdn/
static_cdn/

__pycache__
patientInformation/__pycache__

filter.csv

.vscode/
.idea/

patientInformation_eventlog.csv