{% extends 'base.html' %}
{% load static %}

{% block header %}
    <title>{{ patient.last_name }}, {{ patient.first_name }}</title>
    <link rel="stylesheet" href="{% static 'patient_page.css' %}">
    <script src="{% static 'js/patient_page.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="justify-content-center align-items-center delete-patient d-none"
         style="display: flex;top: 0;left: 0;width: 100vw;height: 100vh;position: fixed;z-index: 1000;background-color: rgba(128,128,128,0.57);">
        <div class="d-flex flex-column"
             style="background-color: white;padding: 50px;border-radius: 5px;box-shadow: 0 0 5px 0 var(--accent-color);">
            <h1 style="color: var(--main-color);font-weight: bold;font-family: 'Open Sans', sans-serif;margin-bottom: 15px;">
                Are
                you sure?</h1>
            <div role="group" class="btn-group">
                <button class="btn btn-secondary" type="button" onclick="closeMenu()"
                        style="border-radius: 5px;margin: 3px;">Cancel
                </button>
                <a class="btn btn-danger d-print-none" role="button" style="border-radius: 5px;margin: 3px;"
                   href="{% url 'delete_patient' patient.slug %}">Delete</a>
            </div>
        </div>
    </div>
    <div class="justify-content-center align-items-center d-none"
         style="overflow: auto;z-index: 99999;top: 0;left: 0;width: 100vw;height: 100vh;position: fixed;background-color: rgba(128,128,128,0.57);filter: blur(0px);"
         id="email-story">
        <form class="d-flex flex-column justify-content-center" method="post" enctype="multipart/form-data"
              style="overflow: auto;max-height: 100vh;background-color: white;padding: 50px;border-radius: 5px;max-width: 600px;width: 100%;position: relative;">
            {% csrf_token %}
            <h1 style="color: var(--main-color);font-weight: bold;font-family: 'Open Sans', sans-serif;margin-bottom: 15px;text-align: center;">
                Email Story</h1>
            <p style="color: var(--main-color); text-align: center">Separate email recipients by commas</p>
            <input type="text" class="form-control" name="to" placeholder="To" required
                   style="font-size: 20px;margin-bottom: 5px;"/>
            <input type="text" class="form-control" name="cc" placeholder="Cc"
                   style="font-size: 20px;margin-bottom: 5px;"/>
            <input type="text" class="form-control" name="bcc" placeholder="Bcc"
                   style="font-size: 20px;margin-bottom: 5px;"/>
            <input type="text" class="form-control" name="name" required placeholder="Your Name"
                   style="font-size: 20px;margin-bottom: 5px;"/>
            <input type="text" class="form-control" name="title" placeholder="Title" style="font-size: 20px;" required/>
            <textarea class="form-control" name="message" placeholder="Other Info..."
                      style="margin: 10px 0;font-size: 20px;"></textarea>
            <div role="group" class="btn-group">
                <button class="btn btn-secondary" onclick="closeStory()" type="button"
                        style="border-radius:5px;margin: 0 2.5px;">Cancel
                </button>
                <button class="btn btn-success" type="submit" style="margin: 0 2.5px;border-radius: 5px;">Send Email
                </button>
            </div>
        </form>
    </div>
    <main style="min-height: 100vh;font-family: Raleway, sans-serif;background: #fc9c34;padding: 15px;">
        <div class="container" style="background: white;border-radius: 8px;padding: 15px;">
            <div class="row no-gutters patient-images" style="margin-bottom: 1rem;">
                <a href="
                        {% if patient.patient_image %}{{ patient.patient_image.url }}{% else %}{% static 'img/placeholder_patient.png' %}{% endif %}"
                   class="col" style="padding: 1rem;">
                    <div class="patient-picture" style="padding-top: 100%;border-radius: 8px;background: url('{% if patient.patient_image %}{{ patient.patient_image.url }}{% else %}{% static 'img/placeholder_patient.png' %}{% endif %}') center / contain no-repeat, whitesmoke"></div>
                </a>
                <a href="
                        {% if patient.injury_image %}{{ patient.injury_image.url }}{% else %}{% static 'img/placeholder_injury.png' %}{% endif %}"
                   class="col" style="padding: 1rem;">
                    <div class="injury-picture" style="padding-top: 100%; border-radius: 8px;background: url('{% if patient.injury_image %}{{ patient.injury_image.url }}{% else %}{% static 'img/placeholder_injury.png' %}{% endif %}') center / contain no-repeat, whitesmoke"></div>
                </a>
            </div>
            <div class="row no-gutters" style="margin-bottom: 1rem;">
                <div class="col d-flex justify-content-center" style="font-size: 45px;font-weight: bold;">
                    <a class="name-card" href="{% url 'patient_page' patient.slug %}"
                       style="text-decoration: none;color: #fc9c34;padding: 10px;border-radius: 8px;">
                        <h1 class="text-center"
                            style="margin: 0;font-size: 45px;font-weight: bold;">{{ patient.first_name }} {{ patient.middle_name|default_if_none:'' }} {{ patient.last_name }}</h1>
                    </a>
                </div>
            </div>
            <div class="row no-gutters justify-content-center" style="margin: 8px;">
                <div class="col col-12 col-lg-3" style="padding: 10px;">
                    <button class="btn btn-block btn-transparent-primary" onclick="window.print()" type="button">Print
                    </button>
                </div>
                <div class="col col-12 col-lg-3" style="padding: 10px;">
                    <button class="btn btn-block btn-transparent-secondary" onclick="openStory()" type="button">Email
                        Story
                    </button>
                </div>
                {% if account.group.can_add_patients %}
                    <div class="col col-12 col-lg-3" style="padding: 10px;">
                        <a href="{% url 'edit_patient' patient.slug %}" class="btn btn-block btn-transparent-success"
                           role="button">Edit</a>
                    </div>
                    <div class="col col-12 col-lg-3" style="padding: 10px;">
                        <button onclick="openMenu()" class="btn btn-block btn-transparent-danger" type="button">Delete
                        </button>
                    </div>
                {% endif %}
            </div>
            <div class="row no-gutters" style="margin-bottom: 1rem;">
                <div class="col col-12 col-lg-4" style="padding: 0.5rem;">
                    <div class="d-flex flex-column justify-content-around"
                         style="padding: 1.5rem;color: rgb(255,255,255);background: slategray;border-radius: 8px;height: 100%;">
                        <i class="fas fa-qrcode" style="font-size: 25px;text-align: center;margin-bottom: 8px;"></i>
                        <h4 style="text-align: center;font-family: Raleway, sans-serif;">Patient Record Number</h4>
                        <h2 style="text-align: center;font-weight: bold;">{{ patient.patient_record_number }}</h2>
                    </div>
                </div>
                <div class="col col-12 col-lg-4" style="padding: 0.5rem;">
                    <div class="d-flex flex-column justify-content-around"
                         style="padding: 1.5rem;color: rgb(255,255,255);background: slategray;border-radius: 8px;height: 100%;">
                        <i class="fas fa-venus-mars" style="font-size: 25px;text-align: center;margin-bottom: 8px;"></i>
                        <h4 style="text-align: center;font-family: Raleway, sans-serif;">Gender</h4>
                        <h2 style="text-align: center;font-weight: bold;">{{ patient.gender|default:'None' }}</h2>
                    </div>
                </div>
                <div class="col col-12 col-lg-4" style="padding: 0.5rem;">
                    <div class="d-flex flex-column justify-content-around"
                         style="padding: 1.5rem;color: rgb(255,255,255);background: slategray;border-radius: 8px;height: 100%;">
                        <i class="far fa-clock" style="font-size: 25px;text-align: center;margin-bottom: 8px;"></i>
                        <h4 style="text-align: center;font-family: Raleway, sans-serif;">Age</h4>
                        <h2 style="text-align: center;font-weight: bold;">{{ patient.age }}</h2>
                    </div>
                </div>
            </div>
            {% for field, value in fields %}
                {% if value %}
                    <div class="row no-gutters flex-column flex-lg-row"
                         style="border-radius: 8px;background: whitesmoke;margin: 8px 8px 1rem 8px">
                        <div class="col d-flex align-items-center"
                             style="border-radius: 8px;background: #fc9c34;padding: 1rem;">
                            <h3 style="margin: 0;font-weight: bold;color: white;">{{ field }}</h3>
                        </div>
                        <div class="col d-flex align-items-center" style="padding: 1rem;">
                            <h3 style="margin: 0;color: var(--dark);font-family: 'Open Sans', sans-serif;">{{ value }}<br/>
                            </h3>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            <div class="row no-gutters" style="padding: 15px;">
                <div class="col">
                    <h1 style="margin-bottom: 0;font-weight: bold;color: #fc9c34;">Surgeries</h1>
                    <hr/>
                    <div class="row no-gutters" style="margin-bottom: 1rem">
                        {% if surgery %}
                            {% for surgery, image in surgery %}
                                <a href="{% url 'surgery_page' patient.slug surgery.id %}" class="col col-12 col-lg-4"
                                   style="border-radius: 8px;padding: 5px;">
                                    <div class="d-flex flex-column justify-content-between surgery-card"
                                         style="padding: 1rem;height: 100%;border-radius: 8px;background: whitesmoke;">
                                        <div class="d-flex justify-content-center align-items-center"
                                             style="height: 100%;padding-top: 51%;margin: 1rem;
                                                     background: url('{% if image %}{{ image.image.url }}{% else %}{% static 'img/placeholder_surgery.png' %}{% endif %}') center / contain no-repeat, rgb(225,225,225);border-radius: 8px;"></div>
                                        <div class="justify-content-around">
                                            <h3 style="font-weight: bold;margin: 0;color: #fc9c34;text-align: center;">
                                                Surgery #{{ surgery.id }}</h3>
                                            {% if surgery.date_of_surgery %}
                                                <hr style="width: 100%;"/>
                                                <h5 style="font-weight: bold;color: slategray;text-align: center;">{{ surgery.date_of_surgery }}</h5>
                                            {% endif %}
                                        </div>
                                    </div>
                                </a>
                            {% endfor %}
                        {% else %}
                            <div class="col d-flex flex-column justify-content-center align-items-center"
                                 style="padding: 1rem; margin: 0.5rem 0; background: whitesmoke; border-radius: 8px">
                                <img class="img-fluid" style="max-height: 250px; margin: 1rem"
                                     src="{% static 'img/No Surgeries.png' %}" alt="No Surgeries">
                                <h1 style="font-weight: bold; font-family: Raleway, sans-serif; color: var(--main-color); margin: 0.5rem; text-align: center">
                                    No Surgeries</h1>
                            </div>
                        {% endif %}
                    </div>
                    {% if account.group.can_add_surgeries %}
                        <div class="row no-gutters">
                            <div class="col">
                                <a href="{% url 'add_surgery' patient.slug %}"
                                   class="btn btn-block btn-lg btn-tvachacare" style="font-weight: bold" role="button">Add
                                    Surgery
                                </a>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}