{% extends 'admin/admin_template.html' %}

{% block admin_block %}
    {% if model.title == 'Surgeries' or model.title == 'Patients' %}
        <div class="row no-gutters row-cols-4 row-cols-sm-1 justify-content-center" style="margin-bottom: 10px">
            {% for image in images %}
                <div class="col" style="max-width: 200px;margin: 5px;">
                    <img style="width: 100%;border-radius: 8px;" src="{{ image.image.url }}"/></div>
            {% endfor %}
            {% if patient.patient_image %}
                <div class="col" style="max-width: 200px;margin: 5px;">
                    <img style="width: 100%;border-radius: 8px;" src="{{ patient.patient_image.url }}"/></div>
            {% endif %}
            {% if patient.injury_image %}
                <div class="col" style="max-width: 200px;margin: 5px;">
                    <img style="width: 100%;border-radius: 8px;" src="{{ patient.injury_image.url }}"/></div>
            {% endif %}
        </div>

    {% endif %}
    {% for field in model.item %}
        <div class="row information-container no-gutters"
             style="width: 100%;margin-bottom: 15px;background-color: white; border-radius: 8px">
            <div class="information col d-flex justify-content-center align-items-center justify-content-sm-center justify-content-md-start justify-content-lg-start justify-content-xl-start"
                 style="background-color: var(--main-color);border-radius: 8px;padding: 10px 15px;">
                <h6 style="color: white;font-weight: bold;margin-bottom: 0;">{{ field.label }}</h6>
            </div>
            <div class="information-text col-xl-8 d-flex justify-content-center align-content-center justify-content-sm-center justify-content-md-start justify-content-lg-start justify-content-xl-start"
                 style="padding: 10px 15px;">
                {% if field.label == 'Profile picture path' and user.profile_picture_path %}
                    <a target="_blank" href="{{ user.profile_picture_path.url }}"><img src="{{ user.profile_picture_path.url }}" style="height: 50px; border-radius: 8px" alt="Profile Image"></a>
                {% else %}
                <p style="color: var(--accent-color);font-family: 'Raleway', sans-serif;font-weight: bold;margin-bottom: 0;font-style: normal;">
                    {{ field.data|default_if_none:"" }}</p>
                {% endif %}
            </div>
        </div>
    {% endfor %}
    {% if model.title == 'Surgeries' %}
        {% if procedure_codes %}
            {% for code in procedure_codes %}
                <div class="row information-container no-gutters"
                     style="width: 100%;margin-bottom: 15px;background-color: white; border-radius: 8px">
                    <div class="information col d-flex justify-content-center align-items-center justify-content-sm-center justify-content-md-start justify-content-lg-start justify-content-xl-start"
                         style="background-color: var(--main-color);border-radius: 8px;padding: 10px 15px;">
                        <h6 style="color: white;font-weight: bold;margin-bottom: 0;">Procedure
                            Code {{ forloop.counter }}</h6>
                    </div>
                    <div class="information-text col-xl-8 d-flex justify-content-center align-content-center justify-content-sm-center justify-content-md-start justify-content-lg-start justify-content-xl-start"
                         style="padding: 10px 15px;">
                        <p style="color: var(--accent-color);font-family: 'Raleway', sans-serif;font-weight: bold;margin-bottom: 0;font-style: normal;">
                            {{ code.procedure_codes }}</p>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    {% endif %}
    <div role="group" class="btn-group d-flex"
         style="border-radius: 0 !important;">
        <a class="btn btn-secondary" href="{% url 'admin_template' model.model %}"
           style="border-style: none;font-weight: bold">
            Back
        </a>
    </div>
{% endblock %}