<div role="group"
     class="button-container d-flex justify-content-around btn-group"
     style="width: 100%; margin-bottom: 20px; font-family: Raleway, sans-serif">
    <button class="btn btn-sm btn-surgeries btn-danger"
            onclick="openDeniedSurgeries()">View Denied Surgeries
    </button>
    <button class="btn btn-sm btn-surgeries-approved btn-success"
            onclick="openApprovedSurgeries()">View Approved Surgeries
    </button>
</div>
<div class="denied-patients" style="display: none">
    <h5 style="color: var(--accent-color);font-family: Raleway, sans-serif; font-weight: bold">Denied Surgeries</h5>
    <ul class="list-group" id="denied-list"
        style="color: #092327;font-family: Raleway, sans-serif;font-weight: bold;font-style: normal;text-align: left;padding-bottom: 15px;">
        {% for surgery in surgery %}
            {% if surgery.is_approved == False and surgery.is_denied == True %}
                <li class="list-group-item patient-list"
                    style="display: flex; justify-content: space-between; align-items: center">
                    <a href="{% url 'surgery_page' surgery.patient.slug surgery.id %}"
                       class='patient-name'>{{ surgery.patient.last_name }}, {{ surgery.patient.first_name }}</a>
                    <a href="{% url 'surgery_page' surgery.patient.slug surgery.id %}"
                       class='patient-name'>Surgery ID #{{ surgery.id }}</a>
                    <button class="btn d-flex justify-content-center align-items-center"
                            style="padding: 5px; border-radius: 50px"
                            onclick="openSurgeryInfo({{ surgery.id }})">
                        <i class="material-icons-round"
                           style="margin-right: 1px;font-size: 20px">info</i>
                    </button>
                </li>
                <li class="list-group-item list-group-item-secondary surgery-{{ surgery.id }}"
                    style="display: none;font-family: 'Open Sans', sans-serif; font-weight: normal;">
                    <div class="d-flex justify-content-between">
                        {% if surgery.reason %}
                            <small>Notes for
                                Denial: {{ surgery.reason }}</small>{% endif %}
                        <small>Uploaded: {{ surgery.date_of_upload }}</small>
                    </div>
                </li>
            {% else %}
            {% endif %}
        {% endfor %}
    </ul>
</div>
<div class="approved-patients" style="display: none">
    <h5 style="color: var(--accent-color);font-family: Raleway, sans-serif; font-weight: bold">Approved Surgeries</h5>
    <ul class="list-group" id="denied-list"
        style="color: #092327;font-family: Raleway, sans-serif;font-weight: bold;font-style: normal;text-align: left;padding-bottom: 15px;">
        {% for surgery in surgery %}
            {% if surgery.is_approved == True and surgery.is_denied == False %}
                <li class="list-group-item patient-list"
                    style="display: flex; justify-content: space-between; align-items: center">
                    <a href="{% url 'surgery_page' surgery.patient.slug surgery.id %}"
                       class='patient-name'>{{ surgery.patient.last_name }}, {{ surgery.patient.first_name }}</a>
                    <a href="{% url 'surgery_page' surgery.patient.slug surgery.id %}"
                       class='patient-name'>Surgery ID #{{ surgery.id }}</a>
                    <button class="btn d-flex justify-content-center align-items-center"
                            style="padding: 5px; border-radius: 50px"
                            onclick="openSurgeryInfo({{ surgery.id }})">
                        <i class="material-icons-round"
                           style="margin-right: 1px;font-size: 20px">info</i>
                    </button>
                </li>
                <li class="list-group-item list-group-item-secondary surgery-{{ surgery.id }}"
                    style="display: none;font-family: 'Open Sans', sans-serif; font-weight: normal;">
                    <div class="d-flex justify-content-between">
                        {% if surgery.reason %}
                            <small>Notes for
                                Approval: {{ surgery.reason }}</small>{% endif %}
                        <small>Uploaded: {{ surgery.date_of_upload }}</small>
                    </div>
                </li>
            {% else %}
            {% endif %}
        {% endfor %}
    </ul>
</div>