<div class="col-md-12 col-lg-5 col-xl-3 d-flex flex-column d-print-none"
     style="font-family: Raleway, sans-serif;background: whitesmoke;max-height: 100vh;position: sticky;top: 0;z-index: 10000;">
    <div class="row no-gutters">
        <div class="col d-flex flex-row justify-content-between align-items-center justify-content-lg-center"
             style="padding: 1rem;">
            <a class="patient-name h2" href="{% url 'home' %}" style="margin: 0;">
                <span style="font-weight: bold;color: var(--main-color);">TvachaCare</span>
                <span style="font-weight: bold;color: darkgray;">HUI</span>
            </a>
            <button class="btn justify-content-center align-items-center btn-tvachacare d-flex d-lg-none" type="button"
                    data-toggle="collapse" data-target="#navbar-collapse">
                <i class="fas fa-bars"></i>
            </button>
        </div>
    </div>
    <div class="row no-gutters flex-grow-1 overflow-auto collapse d-lg-flex" id="navbar-collapse">
        <div class="col d-flex flex-column">
            <div class="row no-gutters sticky-top" style="background: whitesmoke;">
                <div class="col d-flex justify-content-center" style="padding-bottom: 1rem;">
                    <a class="btn btn-secondary btn-sm" role="button" style="font-weight: bold;margin-right: 5px;"
                       href="{% url 'account' %}">Account</a>
                    <a class="btn btn-sm btn-transparent-secondary" role="button"
                       style="font-weight: bold;margin-right: 5px;" href="{% url 'logout' %}">Log Out</a>
                </div>
            </div>
            <div class="row no-gutters flex-grow-1 overflow-auto" style="min-height: 0;">
                <div class="col overflow-auto" style="padding: 1rem;">
                    <div class="list-group d-flex justify-content-center">
                        <a class="list-group-item list-group-item-action d-flex btn btn-transparent-tvachacare"
                           style="border-style: none;border-radius: 8px;font-weight: bold;margin-bottom: 0.5rem;"
                           href="{% url 'home' %}">
                            <i class="material-icons-round" style="margin-right: 15px;text-align: center;">home</i>
                            <span class="d-flex align-items-center" style="margin: 0;font-weight: bold;">Home</span>
                        </a>
                        <a class="list-group-item list-group-item-action d-flex btn btn-transparent-tvachacare"
                           style="border-style: none;border-radius: 8px;font-weight: bold;margin-bottom: 0.5rem;"
                           href="
                                   {% if account.group.name != 'Approver' %}{% url 'filter_by_date' %}{% else %}{% url 'hui_report' %}{% endif %}">
                            <i class="material-icons-round"
                               style="margin-right: 15px;text-align: center;">table_view</i>
                            <span class="d-flex align-items-center" style="margin: 0;font-weight: bold;">Reports</span>
                        </a>
                        <a class="list-group-item list-group-item-action d-flex btn btn-transparent-tvachacare"
                           style="border-style: none;border-radius: 8px;font-weight: bold;margin-bottom: 0.5rem;"
                           href="{% url 'groups' %}">
                            <i class="material-icons-round"
                               style="margin-right: 15px;text-align: center;">category</i>
                            <span class="d-flex align-items-center" style="margin: 0;font-weight: bold;">Groups</span>
                        </a>
                        <a class="list-group-item list-group-item-action d-flex btn btn-transparent-tvachacare"
                           style="border-style: none;border-radius: 8px;font-weight: bold;margin-bottom: 0.5rem;"
                           href="{% url 'calendar' today.year today.month %}">
                            <i class="material-icons-round"
                               style="margin-right: 15px;text-align: center;">today</i>
                            <span class="d-flex align-items-center" style="margin: 0;font-weight: bold;">Calendar</span>
                        </a>
                    {% if account.group.can_add_patients %}

                        <button class="list-group-item list-group-item-action d-flex btn btn-transparent-tvachacare"
                           style="border-style: none;border-radius: 8px;font-weight: bold;margin-bottom: 0.5rem;" data-toggle="dropdown">
                            <i class="material-icons-round"
                               style="margin-right: 15px;text-align: center;">add_circle</i>
                            <span class="d-flex align-items-center dropdown-toggle" style="margin: 0;font-weight: bold;">Add Patient</span>
                        </button>
                        <div class="dropdown-menu dropdown-menu-left overflow-auto shadow"
                             style="width: 90%;border: none; background: whitesmoke;">
                            <a class="dropdown-item" href="{% url 'addPatient' %}"
                               style="font-weight: bold; color: slategray">
                                <i class="fa fa-plus" style="margin-right: 10px"></i>
                                Add Patient
                            </a>
                            <a class="dropdown-item" href="{% url 'import_patients' %}"
                               style="font-weight: bold; color: slategray">
                                <i class="fas fa-upload" style="margin-right: 10px"></i>
                                Import Patients
                            </a>
                        </div>
                    {% endif %}
                    {% if request.user.group.name == 'Admin' %}
                        <a class="list-group-item list-group-item-action d-flex btn btn-transparent-tvachacare"
                           style="border-style: none;border-radius: 8px;font-weight: bold;margin-bottom: 0.5rem;"
                           href="{% url 'waiting_list' %}">
                            <i class="material-icons-round"
                               style="margin-right: 15px;text-align: center;">list_alt</i>
                            <span class="d-flex align-items-center" style="margin: 0;font-weight: bold;">Waiting List</span>
                        </a>
                        <a class="list-group-item list-group-item-action d-flex btn btn-transparent-tvachacare"
                           style="border-style: none;border-radius: 8px;font-weight: bold;margin-bottom: 0.5rem;"
                           href="{% url 'admin-console' %}">
                            <i class="material-icons-round"
                               style="margin-right: 15px;text-align: center;">settings</i>
                            <span class="d-flex align-items-center" style="margin: 0;font-weight: bold;">Admin Console</span>
                        </a>

                    {% endif %}
                    </div>
                </div>
            </div>
            <div class="row no-gutters position-sticky" style="padding: 1rem;bottom: 0;background: whitesmoke;">
                <div class="col d-flex justify-content-between d-flex align-items-end justify-content-center"
                     style="padding: 1rem;border-radius: 8px;border: 1px solid #dadce0;color: var(--accent-color);background: white;">
                    <h4 style="margin: 0;font-weight: bold;">Pacific Time</h4>
                    <h4 id="current_time" style="margin: 0;font-weight: bold;font-family: 'Open Sans', sans-serif;">
                        12:00AM</h4>
                </div>
            </div>
        </div>
    </div>
</div>