<div class="row no-gutters p-3">
    <div class="col" style="border-radius: 8px;background: {% if color %}{{ color }}{% else %}whitesmoke{% endif %};">
        <div class="row no-gutters">
            <div class="col-12 col-md-auto d-flex flex-column align-items-center flex-md-row p-3">
                <button class="btn btn-secondary" type="button"
                        style="font-weight: bold;">{{ object.count }} {{ object_name }}</button>
            </div>
            <div class="col d-flex justify-content-center align-items-center {% if sort_by %}p-3{% endif %}">
                {% if sort_by %}
                    {% if field_error %}
                        <h4 class="m-0">
                            <span class="badge badge-danger">{{ field_error }}</span>
                        </h4>
                    {% else %}
                        <h4 class="m-0 text-truncate">
                            <span class="badge badge-light text-truncate">Currently Sorting By: {{ sort_by.field|title }}</span>
                        </h4>
                    {% endif %}
                {% endif %}
            </div>
            <div class="col-12 col-md-auto d-flex flex-row justify-content-around align-items-center p-3">
                <div class="dropleft">
                    <button class="btn dropdown-toggle btn-transparent-success" type="button" data-toggle="dropdown">
                        Sort By
                    </button>
                    <div class="dropdown-menu shadow-sm overflow-auto" style="border-style: none;max-height: 200px">
                        {% for field in field_list %}
                            {% if field.name not in excluded_fields %}
                                <a class="dropdown-item" href="{{ request.path }}?sort-by={{ field.name }}"
                                   style="color: var(--accent-color);font-weight: bold;">{{ field.verbose_name|title }}</a>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                {% if sort_by %}
                    <a class="btn btn-transparent-warning mx-2" role="button"
                       href="{{ request.path }}?sort-by={{ sort_by.first_val }}{{ sort_by.value }}">Reverse</a>
                    <a class="btn btn-transparent-danger" role="button"
                       href="{{ request.path }}?sort-by=">Clear</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>