{% extends 'base.html' %}
{% load static %}
{% load getattribute %}

{% block header %}
    <title>Add Surgeries - {{ group.name }}</title>
    <link rel="stylesheet" href="{% static 'homePage.css' %}">
    <script src="{% static 'js/group_add_surgeries.js' %}"></script>
{% endblock %}

{% block content %}

    <main class="d-flex flex-column" style="background: white;font-family: Raleway, sans-serif;">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="container-fluid d-flex flex-column p-3" style="min-height: 100vh;">
                <div class="row no-gutters p-3">
                    <div class="col p-3" style="border-radius: 8px;background: whitesmoke;">
                        <div class="row d-flex flex-column align-items-center flex-md-row mb-2">
                            <div class="col py-3 py-md-0">
                                <h2 class="text-center text-md-left mb-0"
                                    style="font-weight: bold;color: var(--main-color);">
                                    <strong>Add Surgeries - {{ group.name }}</strong>
                                    <br/>
                                </h2>
                            </div>
                            {% if request.user.group.name == 'Admin' %}
                                <div class="col-auto py-3 py-md-0">
                                    <a class="btn btn-transparent-success px-3 py-2 btn-sm" role="button"
                                       style="font-weight: bold;border-style: none;"
                                       href="{% url 'edit_group' group.id %}">
                                        <i class="fas fa-pen mr-2"></i>Edit</a>
                                </div>
                            {% endif %}
                            <div class="col-auto py-3 py-md-0">
                                <a class="btn btn-transparent-secondary px-3 py-2 btn-sm" role="button"
                                   style="font-weight: bold;border-style: none;" href="{% url 'groups' %}">
                                    <i class="fas fa-arrow-left mr-2"></i>Group Home</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p class="lead text-center text-md-left m-0"
                                   style="font-weight: bold;color: var(--accent-color);">Here, you can add surgeries to
                                    a specific group and view the surgeries already added to the system</p>
                            </div>
                        </div>
                    </div>
                </div>
                {% include 'snippets/searchbar.html' %}
                {% include 'snippets/patient-toolbar.html' %}
                <div class="row no-gutters d-flex flex-column flex-grow-1 p-3 overflow-visible overflow-md-auto">
                    <div class="col d-flex flex-column flex-grow-1 p-3 overflow-visible overflow-md-auto"
                         style="border-radius: 8px;background: whitesmoke;">
                        <ul class="list-group flex-grow-1 list-group-flush h-100 overflow-auto"
                            style="border-style: solid;border-color: rgba(0,0,0,0.14);border-radius: 8px;">
                            <li class="list-group-item list-group-item-secondary d-none d-md-block sticky-top"
                                style="border-radius: 0;">
                                <div class="row">
                                    <div class="col-auto d-flex align-items-center custom-control invisible">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" id="sample-surgery" class="custom-control-input"/>
                                                <label for="sample-surgery" class="custom-control-label"></label>
                                            </div>
                                    </div>
                                    <div class="col d-flex align-items-center">
                                        <span style="font-weight: bold;padding:0 5px">Patient Name</span>
                                    </div>
                                    <div class="col d-flex align-items-center">
                                        <span style="font-weight: bold;padding:0 5px">Surgery ID</span>
                                    </div>
                                    {% if sort_by %}
                                        <div class="col d-flex align-items-center">
                                            <span style="font-weight: bold;">{{ sort_by.field|title }}</span>
                                        </div>
                                    {% endif %}
                                </div>
                            </li>
                            {% for surgery in object %}
                                <li class="list-group-item {% if surgery.is_approved %}list-group-item-success{% elif surgery.is_denied %}list-group-item-danger{% else %}{% endif %}"
                                    style="border-radius: 0;">
                                    <div class="row d-flex flex-column flex-md-row patient-row">
                                        <div class="col-auto d-flex justify-content-center align-items-center custom-control">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" name="surgeries[]" id="surgery-{{ surgery.id }}"
                                                       value="{{ surgery.id }}" class="custom-control-input"
                                                       {% if surgery.group == group %}checked{% endif %}/>
                                                <label for="surgery-{{ surgery.id }}"
                                                       class="custom-control-label"></label>
                                            </div>
                                        </div>
                                        <div class="col d-flex justify-content-center align-items-center justify-content-md-start py-2 include-in-search">
                                            <a class="patient-name p-1" href="#"
                                               style="font-weight: bold;">{{ surgery.patient }}</a>
                                        </div>
                                        <div class="col d-flex justify-content-center align-items-center justify-content-md-start py-2 include-in-search">
                                            <a class="patient-name p-1" href="#"
                                               style="font-weight: bold;">#{{ surgery.id }}</a>
                                        </div>
                                        {% if sort_by %}
                                            <div class="col text-truncate d-flex justify-content-center align-items-center justify-content-md-start py-2">
                                                <span class="text-truncate"
                                                      style="font-weight: bold;">{{ surgery|getattribute:sort_by.value|default:'None' }}</span>
                                            </div>
                                        {% endif %}
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="row no-gutters p-3">
                    <div class="col">
                        <button class="btn btn-success btn-block btn-lg font-weight-bold" type="submit">Add Surgeries
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </main>

{% endblock %}