:root {
    --main-color: #fc9c34;
    --accent-color: #80868b;
    --font-family-sans-serif: Raleway, sans-serif;
    --main-accent: #EB9132;
}

.text-tvachacare {
    color: var(--main-color) !important;
}

.btn-tvachacare {
    color: #fff;
    background-color: var(--main-color);
    border-color: var(--main-color);
}

.btn-tvachacare:hover {
    color: #fff;
    background-color: var(--main-accent);
    transition-duration: 0.2s;
    border-color: var(--main-accent);
}

.btn-tvachacare-inverted {
    color: var(--main-color);
    background-color: #fff;
    border-color: var(--main-color);
}

.btn-tvachacare-inverted:hover {
    color: var(--main-color);
    background-color: whitesmoke;
    transition-duration: 0.2s;
}

.btn-transparent-success {
    background: rgba(40, 167, 69, 0.14);
    color: rgb(40, 167, 69);
    font-family: Raleway, sans-serif;
    font-weight: bold;
}

.btn-transparent-danger {
    background: rgba(220, 53, 69, 0.14);
    color: rgb(220, 53, 69);
    font-family: Raleway, sans-serif;
    font-weight: bold;
}

.btn-transparent-success:hover {
    color: white;
    background: rgb(40, 167, 69);
    font-family: Raleway, sans-serif;
    font-weight: bold;
}

.btn-transparent-danger:hover {
    color: white;
    background: rgb(220, 53, 69);
    font-family: Raleway, sans-serif;
    font-weight: bold;
}

.btn-transparent-success:hover {
    color: white;
    background: rgb(40, 167, 69);
    font-family: Raleway, sans-serif;
    font-weight: bold;
}

.btn-transparent-danger:hover {
    color: white;
    background: rgb(220, 53, 69);
    font-family: Raleway, sans-serif;
    font-weight: bold;
}

.btn-transparent-tvachacare {
    background: rgba(252, 156, 52, 0.14);
    color: rgb(252, 156, 52);
    font-family: Raleway, sans-serif;
    font-weight: bold;
}

.btn-transparent-tvachacare:hover, .btn-transparent-tvachacare:focus {
    color: white;
    background: rgb(252, 156, 52);
    font-family: Raleway, sans-serif;
    font-weight: bold;
}

.btn-transparent-primary {
    background: rgba(0, 123, 255, 0.14);
    color: rgb(0, 123, 255);
    font-family: Raleway, sans-serif;
    font-weight: bold;
}

.btn-transparent-primary:hover {
    color: white;
    background: rgb(0, 123, 255);
    font-family: Raleway, sans-serif;
    font-weight: bold;
}

.btn-transparent-secondary {
    background: rgba(108, 117, 125, 0.14);
    color: rgb(108, 117, 125);
    font-family: Raleway, sans-serif;
    font-weight: bold;
}

.btn-transparent-secondary:hover {
    color: white;
    background: rgb(108, 117, 125);
    font-family: Raleway, sans-serif;
    font-weight: bold;
}

html, body {
    height: 100%;
    width: 100%;
}

.sp-loading {
    text-align: center;
    max-width: 270px;
    padding: 15px;
    border: 5px solid #eee;
    border-radius: 3px;
    font-size: 12px;
    color: #888;
}

.sp-wrap {
    display: none;
    line-height: 0;
    font-size: 0;
    background: #eee;
    border: 5px solid #eee;
    border-radius: 3px;
    position: relative;
    margin: 0 25px 15px 0;
    float: left;
    max-width: 300px;
}

.sp-thumbs {
    text-align: left;
    display: inline-block;
}

.sp-thumbs img {
    min-height: 50px;
    min-width: 50px;
    max-width: 50px;
}

.sp-thumbs a:link, .sp-thumbs a:visited {
    width: 50px;
    height: 50px;
    overflow: hidden;
    opacity: .3;
    display: inline-block;
    background-size: cover;
    background-position: center;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

.sp-thumbs a:hover {
    opacity: 1;
}

.sp-thumbs a:active, .sp-current {
    opacity: 1 !important;
    position: relative;
}

.sp-large {
    position: relative;
    overflow: hidden;
    top: 0;
    left: 0;
}

.sp-large a img {
    max-width: 100%;
    height: auto;
}

.sp-large a {
    display: block;
}

.sp-zoom {
    position: absolute;
    left: -50%;
    top: -50%;
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
    cursor: zoom-in;
    display: none;
}

.sp-lightbox {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, .9);
    z-index: 1031;
    display: none;
    cursor: pointer;
}

.sp-lightbox img {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 90%;
    max-height: 90%;
    border: 2px solid #fff;
}

#sp-prev, #sp-next {
    position: absolute;
    top: 50%;
    margin-top: -25px;
    z-index: 501;
    color: #fff;
    padding: 14px;
    text-decoration: none;
    background: #000;
    border-radius: 25px;
    border: 2px solid #fff;
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    transition: .2s;
}

#sp-prev {
    left: 10px;
}

#sp-prev:before {
    content: '';
    border: 7px solid transparent;
    border-right: 15px solid #fff;
    position: absolute;
    top: 16px;
    left: 7px;
}

#sp-next {
    right: 10px;
}

#sp-next:before {
    content: '';
    border: 7px solid transparent;
    border-left: 15px solid white;
    position: absolute;
    top: 16px;
    left: 18px;
}

#sp-prev:hover, #sp-next:hover {
    background: #444;
}

@media screen and (max-width: 400px) {
    .sp-wrap {
        margin: 0 0 15px 0;
    }
}

@media screen and (max-width: 400px) {
    #sp-prev, #sp-next {
        top: auto;
        margin-top: 0;
        bottom: 25px;
    }
}

.bg-white {
    background-color: #1F271B !important;
}

.bg-white {
    /*background-color: #fff!important;*/
}


a {
    color: var(--main-color);
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color: var(--main-color);
    text-decoration: none;
}

.log-out {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    border: 2px solid white;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: var(--main-color) !important;
}

.overflow-auto {
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
}

.page-footer h5 {
    color: var(--main-color) !important;
}

@media screen and (max-width: 990px) {
    .navbar-collapse ul {
        margin-top: 20px;
        overflow-x: auto;
        overflow-y: visible !important;
    }
}

.nav-links {
    background: rgba(252, 156, 52, 0.22);
    color: rgb(227, 142, 48)
}

.nav-links:hover, .nav-links:focus {
    background: #fc9c34;
    color: white
}

@media screen and (max-width: 768px) {
    .nav-links {
        border-top-right-radius: 50px !important;
        border-bottom-right-radius: 50px !important;
    }

    #nav-list-container {
        padding: 20px !important;
    }
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: white;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--accent-color);
    border-radius: 8px;
    margin: 3px;
}

@media (min-width: 768px) {
    .datetime-container {
        position: absolute;
    }
}

@media (max-height: 550px) {
    .datetime-container {
        position: relative !important;
    }
}

@media (max-width: 768px) {
    .side-nav {
        position: relative !important;
    }
}

span.ripple {
    position: absolute; /* The absolute position we mentioned earlier */
    border-radius: 50%;
    transform: scale(0);
    animation: ripple 600ms linear;
    background-color: rgba(255, 255, 255, 0.3);
}

@keyframes ripple {
    to {
        transform: scale(4);
        opacity: 0;
    }
}

.btn-ripple {
    position: relative !important;
    overflow: hidden;
    transition: background 400ms;
}