.search-patients {
    background: var(--main-color);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    transition: 0.2s all ease;
}

.search-patients::placeholder {
    color: white;
    opacity: 0.7;
    transition: 0.2s all ease;
}

.search-patients:focus::placeholder {
    color: slategray;
}

.search-patients ~ i {
    color: white;
    transition: 0.2s all ease;
}

.search-patients:focus ~ i {
    color: slategray;
    opacity: 1;
}

.patient-list-item:nth-child(2n + 1) {
    background: whitesmoke;
}

.highlight {
    background: blue !important;
    color: white !important;
}