.surgery-card:hover {
    background: #ececec !important;
    transition-duration: 0.2s;
}

.surgery-card {
    transition-duration: 0.2s;
}

.name-card:hover {
    background: whitesmoke !important;
    transition-duration: 0.2s;
}

.name-card {
    transition-duration: 0.2s;
}