{% extends 'base.html' %}

{% block header %}
    <title>Activity</title>
{% endblock %}

{% block content %}
    <main class="bg-white">
        <div class="container-fluid d-flex flex-column p-3" style="min-height: 100vh;">
            <div class="row no-gutters p-3">
                <div class="col p-3" style="border-radius: 8px;background: whitesmoke;">
                    <h1 class="text-center text-md-left mb-0 mb-lg-2"
                        style="font-weight: bold;color: var(--main-color);">Activity Log</h1>
                    <p class="lead mb-0 d-none d-lg-block" style="font-weight: bold;color: var(--accent-color);">
                        <strong>The Activity Log shows a history of all events performed on the system. Whenever a
                            patient is added, a surgery is approved, or any other event, it gets logged here!</strong>
                        <br/>
                    </p>
                </div>
            </div>
            <div class="row no-gutters d-flex flex-column flex-grow-1 p-3 overflow-md-auto">
                <div class="col flex-grow-1 p-3 overflow-md-auto" style="border-radius: 8px;background: whitesmoke;">
                    {% for event_date in events %}
                        {% ifchanged event_date.event_time.date %}
                            <div class="row">
                                <div class="col d-flex justify-content-center align-items-center position-relative">
                                    <hr class="w-100"/>
                                    <span class="position-absolute px-3"
                                          style="font-weight: bold;color: var(--accent-color);background: whitesmoke;">{{ event_date.event_time.date }}</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col py-3">
                                    <ul class="list-group list-group-flush" style="border-radius: 8px;">
                                        {% for event in events %}
                                            {% if event.event_time.date == event_date.event_time.date %}
                                                <li class="list-group-item list-group-item-{{ event.color }}">
                                                    <div class="row d-flex flex-column flex-md-row">
                                                        <div class="col-auto d-flex justify-content-center align-items-center justify-content-md-start py-2 py-md-0">
                                                            <i class="{{ event.icon }}"></i>
                                                        </div>
                                                        <div class="col d-flex justify-content-center align-items-center justify-content-md-start py-2 py-md-0"
                                                             style="font-weight: bold;">
                                                            <span>{{ event.event_type }}</span>
                                                        </div>
                                                        <div class="col d-flex justify-content-center align-items-center justify-content-md-start py-2 py-md-0"
                                                             style="font-weight: bold;">
                                                            <span>{{ event.creator }}</span>
                                                        </div>
                                                        <div class="col d-flex justify-content-center align-items-center justify-content-md-start py-2 py-md-0"
                                                             style="font-weight: bold;">
                                                            <span>
                                                                <strong>{{ event.event_time }}</strong>
                                                                <br/>
                                                            </span>
                                                        </div>
                                                        <div class="col-auto d-flex justify-content-center align-items-center justify-content-md-start py-2 py-md-0"
                                                             style="font-weight: bold;">
                                                            <button class="btn btn-sm" type="button"
                                                                    data-toggle="collapse"
                                                                    data-target="#event-collapse-{{ event.id }}">
                                                                <i class="fas fa-info-circle"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div id="event-collapse-{{ event.id }}" class="collapse">
                                                        <div class="row no-gutters pb-2 pt-3">
                                                            <div class="col p-3"
                                                                 style="border-radius: 8px;background: rgba(0,0,0,0.08);">
                                                                <p class="text-center text-md-left m-0"
                                                                   style="font-weight: bold;">
                                                                    {{ event.notes }}<br/>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        {% endifchanged %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}