{% extends 'base.html' %}
{% load static %}

{% block header %}
    <title>Add A Patient</title>
    <link rel="stylesheet" href="{% static 'Responsive-Form.css' %}">
    <link rel="stylesheet" href="{% static 'upload.css' %}">
    <style>
        #add-images {
            transition-duration: 0.2s !important;
        }

        #add-images:hover {
            background-color: gray;
            color: white !important;
            transition-duration: 0.2s !important;
        }
    </style>
{% endblock %}

{% block content %}

    <main>
        <div class="container" style="background-color: white;padding: 50px 0;">
            <div>
                <h1 class="text-center" style="color: #fc9c34;margin-bottom: 20px;font-family: Raleway, sans-serif;">Add
                    A Patient</h1>
                <form class="d-flex">
                    <div class="form-group" style="width: 100%;">
                        <div id="formdiv" style="color: #fc9c34;font-family: Raleway, sans-serif;">
                            <div class="form-row d-flex justify-content-center align-items-center"
                                 style="padding-top: 30px;">
                                <div class="col d-flex justify-content-center align-items-center">
                                    <a
                                            class="btn d-flex flex-column justify-content-center align-items-center"
                                            role="button" id="add-images"
                                            style="color: gray;height: 30vh;width: 80%;/*background-color: transparent;*/border: 5px solid gray;border-radius: 15px;font-family: Raleway, sans-serif;font-weight: bold;"><i
                                            class="fa fa-plus" style="font-size: 40px;"></i>Add Images</a>
                                </div>
                            </div>
                            <div class="form-row" style="margin-right:0px;margin-left:0px;padding-top:24px;">
                                <div class="col-md-8 offset-md-1">
                                    <p style="margin-left: 2%;font-family: Raleway, sans-serif;font-size: 24px;">
                                        <strong>Registration Number</strong></p>
                                </div>
                                <div class="col-md-10 offset-md-1">
                                    <input type="text" class="form-control"
                                           style="margin-left: 0px;font-family: 'Open Sans', sans-serif;"
                                           name="registration_number"
                                           placeholder="Registration Number" required/>
                                </div>
                            </div>
                            <div class="form-row" style="margin-right:0px;margin-left:0px;padding-top:24px;">
                                <div class="col-md-8 offset-md-1">
                                    <p style="margin-left: 2%;font-family: Raleway, sans-serif;font-size: 24px;">
                                        <strong>First Name</strong></p>
                                </div>
                                <div class="col-md-10 offset-md-1">
                                    <input type="text" class="form-control" style="margin-left:
                                                                          0px;font-family: 'Open Sans', sans-serif;"
                                           name="first_name" placeholder="First Name"/>
                                </div>
                            </div>
                            <div class="form-row" style="margin-right:0px;margin-left:0px;padding-top:24px;">
                                <div class="col-md-8 offset-md-1">
                                    <p style="margin-left: 2%;font-family: Raleway, sans-serif;font-size: 24px;">
                                        <strong>Middle Name</strong></p>
                                </div>
                                <div class="col-md-10 offset-md-1">
                                    <input type="text" class="form-control"
                                           style="margin-left: 0px;font-family: 'Open Sans', sans-serif;"
                                           name="middle_name" placeholder="Middle Name"/>
                                </div>
                            </div>
                            <div class="form-row" style="margin-right:0px;margin-left:0px;padding-top:24px;">
                                <div class="col-md-8 offset-md-1">
                                    <p style="margin-left: 2%;font-family: Raleway, sans-serif;font-size: 24px;">
                                        <strong>Last Name</strong></p>
                                </div>
                                <div class="col-md-10 offset-md-1">
                                    <input type="text" class="form-control"
                                           style="margin-left: 0px;font-family: 'Open Sans', sans-serif;"
                                           name="last_name" placeholder="Last Name"/>
                                </div>
                            </div>
                            <div class="form-row" style="margin-right:0px;margin-left:0px;padding-top:24px;">
                                <div class="col-md-8 offset-md-1">
                                    <p style="margin-left: 2%;font-family: Raleway, sans-serif;font-size: 24px;">
                                        <strong>Date of Birth</strong></p>
                                </div>
                                <div class="col-md-10 offset-md-1">
                                    <input class="form-control"
                                           style="font-family: 'Open Sans', sans-serif;"
                                           name="date_of_birth" type="date"/></div>
                            </div>
                            <div class="form-row" style="margin-right:0px;margin-left:0px;padding-top:24px;">
                                <div class="col-md-8 offset-md-1">
                                    <p style="margin-left: 2%;font-family: Raleway, sans-serif;font-size: 24px;">
                                        <strong>Age</strong></p>
                                </div>
                                <div class="col-md-10 offset-md-1">
                                    <input type="number" class="form-control"
                                           style="font-family: 'Open Sans', sans-serif;"
                                           placeholder="Age" name="age"/></div>
                            </div>
                            <div class="form-row"
                                 style="margin-right:0px;margin-left:0px;padding-top:24px;margin-top:-16px;">
                                <div class="col-md-8 offset-md-1">
                                    <p style="margin-left: 2%;font-family: Raleway, sans-serif;font-size: 24px;">
                                        <strong>Gender</strong></p>
                                </div>
                                <div class="col-md-10 offset-md-1">
                                    <select class="form-control" style="font-family: 'Open Sans', sans-serif;"
                                            name="gender">
                                        <option value="Male" selected>Male</option>
                                        <option value="Female">Female</option>
                                    </select></div>
                            </div>
                            <div class="form-row" style="margin-right:0px;margin-left:0px;padding-top:24px;">
                                <div class="col-md-8 offset-md-1">
                                    <p style="margin-left: 2%;font-family: Raleway, sans-serif;font-size: 24px;">
                                        <strong>Race</strong></p>
                                </div>
                                <div class="col-md-10 offset-md-1">
                                    <input type="text" class="form-control"
                                           style="margin-left: 0px;font-family: 'Open Sans', sans-serif;"
                                           name="race" placeholder="Race"/></div>
                            </div>
                            <div class="form-row" style="margin-right:0px;margin-left:0px;padding-top:24px;">
                                <div class="col-md-8 offset-md-1">
                                    <p style="margin-left: 2%;font-family: Raleway, sans-serif;font-size: 24px;">
                                        <strong>Address</strong></p>
                                </div>
                                <div class="col-md-10 offset-md-1">
                                    <textarea class="form-control"
                                              style="font-family: 'Open Sans', sans-serif;"
                                              placeholder="Address"
                                              name="address"></textarea></div>
                            </div>
                            <div class="form-row" style="margin-right:0px;margin-left:0px;padding-top:24px;">
                                <div class="col-md-8 offset-md-1">
                                    <p style="margin-left: 2%;font-family: Raleway, sans-serif;font-size: 24px;">
                                        <strong>Telephone Number</strong></p>
                                </div>
                                <div class="col-md-10 offset-md-1">
                                    <input type="text" class="form-control"
                                           style="margin-left: 0px;font-family: 'Open Sans', sans-serif;"
                                           name="telephone_number"
                                           placeholder="Telephone Number"/></div>
                            </div>
                            <div class="form-row" style="margin-right:0px;margin-left:0px;padding-top:24px;">
                                <div class="col-md-8 offset-md-1">
                                    <p style="margin-left: 2%;font-family: Raleway, sans-serif;font-size: 24px;">
                                        <strong>Parents</strong></p>
                                </div>
                                <div class="col-md-10 offset-md-1">
                                    <textarea class="form-control"
                                              style="font-family: 'Open Sans', sans-serif;"
                                              placeholder="Parents"
                                              name="parents"></textarea></div>
                            </div>
                            <div class="form-row" style="margin-right:0px;margin-left:0px;padding-top:24px;">
                                <div class="col-md-8 offset-md-1">
                                    <p style="margin-left: 2%;font-family: Raleway, sans-serif;font-size: 24px;">
                                        <strong>Relationship</strong></p>
                                </div>
                                <div class="col-md-10 offset-md-1">
                                    <input type="text" class="form-control"
                                           style="margin-left: 0px;font-family: 'Open Sans', sans-serif;"
                                           name="relationship"
                                           placeholder="Relationship"/></div>
                            </div>
                            <div class="form-row" style="margin-right:0px;margin-left:0px;padding-top:24px;">
                                <div class="col-md-8 offset-md-1">
                                    <p style="margin-left: 2%;font-family: Raleway, sans-serif;font-size: 24px;">
                                        <strong>Hospital</strong></p>
                                </div>
                                <div class="col-md-10 offset-md-1">
                                    <textarea class="form-control"
                                              style="font-family: 'Open Sans', sans-serif;"
                                              placeholder="Hospital"
                                              name="hospital"></textarea></div>
                            </div>
                            <div class="form-row" style="margin-right:0px;margin-left:0px;padding-top:24px;">
                                <div class="col-md-8 offset-md-1">
                                    <p style="margin-left: 2%;font-family: Raleway, sans-serif;font-size: 24px;">
                                        <strong>Referral</strong></p>
                                </div>
                                <div class="col-md-10 offset-md-1">
                                    <input type="text" class="form-control"
                                           style="margin-left: 0px;font-family: 'Open Sans', sans-serif;"
                                           name="referral" placeholder="Referral"/></div>
                            </div>
                            <div class="form-row" style="margin-right:0px;margin-left:0px;padding-top:24px;">
                                <div class="col-md-8 offset-md-1">
                                    <p style="margin-left: 2%;font-family: Raleway, sans-serif;font-size: 24px;">
                                        <strong>Diagnosis</strong></p>
                                </div>
                                <div class="col-md-10 offset-md-1">
                                    <textarea class="form-control"
                                              style="font-family: 'Open Sans', sans-serif;"
                                              placeholder="Diagnosis"
                                              name="diagnosis"></textarea></div>
                            </div>
                            <div class="form-row" style="margin-right:0px;margin-left:0px;padding-top:24px;">
                                <div class="col-md-8 offset-md-1">
                                    <p style="margin-left: 2%;font-family: Raleway, sans-serif;font-size: 24px;">
                                        <strong>Weight (kg)</strong></p>
                                </div>
                                <div class="col-md-10 offset-md-1">
                                    <input type="number" class="form-control"
                                           style="font-family: 'Open Sans', sans-serif;"
                                           placeholder="Weight" name="weight" min="0"/>
                                </div>
                            </div>
                            <div class="form-row" style="margin-right:0px;margin-left:0px;padding-top:24px;">
                                <div class="col-md-8 offset-md-1">
                                    <p style="margin-left: 2%;font-family: Raleway, sans-serif;font-size: 24px;">
                                        <strong>Height (cm)</strong></p>
                                </div>
                                <div class="col-md-10 offset-md-1">
                                    <input type="number" class="form-control"
                                           style="font-family: 'Open Sans', sans-serif;"
                                           placeholder="Height" name="height" min="0"/>
                                </div>
                            </div>
                            <div class="form-row" style="margin-right:0px;margin-left:0px;padding-top:24px;">
                                <div class="col-md-8 offset-md-1">
                                    <p style="margin-left: 2%;font-family: Raleway, sans-serif;font-size: 24px;">
                                        <strong>Prior Surgery</strong></p>
                                </div>
                                <div class="col-md-10 offset-md-1">
                                    <textarea class="form-control"
                                              style="font-family: 'Open Sans', sans-serif;"
                                              placeholder="Prior Surgery"
                                              name="prior_surgery"></textarea></div>
                            </div>
                            <div class="form-row" style="margin-right:0px;margin-left:0px;padding-top:24px;">
                                <div class="col-md-8 offset-md-1">
                                    <p style="margin-left: 2%;font-family: Raleway, sans-serif;font-size: 24px;">
                                        <strong>Drug Allergy</strong></p>
                                </div>
                                <div class="col-md-10 offset-md-1">
                                    <textarea class="form-control"
                                              style="font-family: 'Open Sans', sans-serif;"
                                              placeholder="Drug Allergy"
                                              name="drug_allergy"></textarea></div>
                            </div>
                            <div class="form-row" style="margin-right:0px;margin-left:0px;padding-top:24px;">
                                <div class="col-md-8 offset-md-1">
                                    <p style="margin-left: 2%;font-family: Raleway, sans-serif;font-size: 24px;">
                                        <strong>Name of Evaluation</strong></p>
                                </div>
                                <div class="col-md-10 offset-md-1">
                                    <input type="text" class="form-control"
                                           style="margin-left: 0px;font-family: 'Open Sans', sans-serif;"
                                           name="name_of_evaluation"
                                           placeholder="Name of Evaluation"/></div>
                            </div>
                            <div class="form-row" style="margin-right:0px;margin-left:0px;padding-top:24px;">
                                <div class="col-md-8 offset-md-1">
                                    <p style="margin-left: 2%;font-family: Raleway, sans-serif;font-size: 24px;">
                                        <strong>Date of Evaluation</strong></p>
                                </div>
                                <div class="col-md-10 offset-md-1">
                                    <input class="form-control"
                                           style="font-family: 'Open Sans', sans-serif;"
                                           name="date_of_evaluation" type="date"/></div>
                            </div>
                            <div class="form-row" style="margin-right:0px;margin-left:0px;padding-top:24px;">
                                <div class="col-md-8 offset-md-1">
                                    <p style="margin-left: 2%;font-family: Raleway, sans-serif;font-size: 24px;">
                                        <strong>Cause of Burn</strong></p>
                                </div>
                                <div class="col-md-10 offset-md-1">
                                    <textarea class="form-control"
                                              style="font-family: 'Open Sans', sans-serif;"
                                              placeholder="Cause of Burn"
                                              name="cause_of_burn"></textarea></div>
                            </div>
                            <div class="form-row" style="margin-right:0px;margin-left:0px;padding-top:24px;">
                                <div class="col-md-8 offset-md-1">
                                    <p style="margin-left: 2%;font-family: Raleway, sans-serif;font-size: 24px;">
                                        <strong>Year of Burn</strong></p>
                                </div>
                                <div class="col-md-10 offset-md-1">
                                    <input type="text" class="form-control"
                                           style="margin-left: 0px;font-family: 'Open Sans', sans-serif;"
                                           name="year_of_burn"
                                           placeholder="Year of Burn"/></div>
                            </div>
                            <div class="form-row" style="margin-right:0px;margin-left:0px;padding-top:24px;">
                                <div class="col-md-8 offset-md-1">
                                    <p style="margin-left: 2%;font-family: Raleway, sans-serif;font-size: 24px;">
                                        <strong>Diagnosis Admission</strong></p>
                                </div>
                                <div class="col-md-10 offset-md-1">
                                    <textarea class="form-control"
                                              style="font-family: 'Open Sans', sans-serif;"
                                              placeholder="Diagnosis Admission"
                                              name="diagnosis_admission"></textarea>
                                </div>
                            </div>
                            <div class="form-row" style="margin-right:0px;margin-left:0px;padding-top:24px;">
                                <div class="col-md-8 offset-md-1">
                                    <p style="margin-left: 2%;font-family: Raleway, sans-serif;font-size: 24px;">
                                        <strong>Date of Admission</strong></p>
                                </div>
                                <div class="col-md-10 offset-md-1">
                                    <input class="form-control"
                                           style="font-family: 'Open Sans', sans-serif;"
                                           name="date_of_admission" type="date"/></div>
                            </div>
                            <div class="form-row" style="margin-right:0px;margin-left:0px;padding-top:24px;">
                                <div class="col-md-8 offset-md-1">
                                    <p style="margin-left: 2%;font-family: Raleway, sans-serif;font-size: 24px;">
                                        <strong>Date of Surgery</strong></p>
                                </div>
                                <div class="col-md-10 offset-md-1">
                                    <input class="form-control"
                                           style="font-family: 'Open Sans', sans-serif;"
                                           name="date_of_surgery" type="date"/></div>
                            </div>
                            <div class="form-row" style="margin-right:0px;margin-left:0px;padding-top:24px;">
                                <div class="col-md-8 offset-md-1">
                                    <p style="margin-left: 2%;font-family: Raleway, sans-serif;font-size: 24px;">
                                        <strong>Date of Discharge</strong></p>
                                </div>
                                <div class="col-md-10 offset-md-1">
                                    <input class="form-control"
                                           style="font-family: 'Open Sans', sans-serif;"
                                           name="date_of_discharge" type="date"/></div>
                            </div>
                            <div class="form-row" style="margin-right:0px;margin-left:0px;padding-top:24px;">
                                <div class="col-md-8 offset-md-1">
                                    <p style="margin-left: 2%;font-family: Raleway, sans-serif;font-size: 24px;">
                                        <strong>Surgeons</strong></p>
                                </div>
                                <div class="col-md-10 offset-md-1">
                                    <textarea class="form-control"
                                              style="font-family: 'Open Sans', sans-serif;"
                                              placeholder="Surgeons"
                                              name="surgeons"></textarea></div>
                            </div>
                            <div class="form-row" style="margin-right:0px;margin-left:0px;padding-top:24px;">
                                <div class="col-md-8 offset-md-1">
                                    <p style="margin-left: 2%;font-family: Raleway, sans-serif;font-size: 24px;">
                                        <strong>Anesthesiologist</strong><br/></p>
                                </div>
                                <div class="col-md-10 offset-md-1">
                                    <input type="text" class="form-control"
                                           style="margin-left: 0px;font-family: 'Open Sans', sans-serif;"
                                           name="anesthesiologist"
                                           placeholder="Anesthesiologist"/></div>
                            </div>
                            <div class="form-row" style="margin-right:0px;margin-left:0px;padding-top:24px;">
                                <div class="col-md-8 offset-md-1">
                                    <p style="margin-left: 2%;font-family: Raleway, sans-serif;font-size: 24px;">
                                        <strong>Anesthesia</strong></p>
                                </div>
                                <div class="col-md-10 offset-md-1">
                                    <input type="text" class="form-control"
                                           style="margin-left: 0px;font-family: 'Open Sans', sans-serif;"
                                           name="anesthesia" placeholder="Anesthesia"/>
                                </div>
                            </div>
                            <div class="form-row" style="margin-right:0px;margin-left:0px;padding-top:24px;">
                                <div class="col-md-8 offset-md-1">
                                    <p style="margin-left: 2%;font-family: Raleway, sans-serif;font-size: 24px;">
                                        <strong>Duration</strong></p>
                                </div>
                                <div class="col-md-10 offset-md-1">
                                    <input type="text" class="form-control"
                                           style="margin-left: 0px;font-family: 'Open Sans', sans-serif;"
                                           name="duration" placeholder="Duration"/></div>
                            </div>
                            <div class="form-row" style="margin-right:0px;margin-left:0px;padding-top:24px;">
                                <div class="col-md-8 offset-md-1">
                                    <p style="margin-left: 2%;font-family: Raleway, sans-serif;font-size: 24px;">
                                        <strong>Burn Operation Number</strong></p>
                                </div>
                                <div class="col-md-10 offset-md-1">
                                    <input type="text" class="form-control"
                                           style="margin-left: 0px;font-family: 'Open Sans', sans-serif;"
                                           name="burn_operation_number"
                                           placeholder="Burn Operation Number"/></div>
                            </div>
                            <div class="form-row" style="margin-right:0px;margin-left:0px;padding-top:24px;">
                                <div class="col-md-8 offset-md-1">
                                    <p style="margin-left: 2%;font-family: Raleway, sans-serif;font-size: 24px;">
                                        <strong>Type of Surgery</strong></p>
                                </div>
                                <div class="col-md-10 offset-md-1">
                                    <textarea class="form-control"
                                              style="font-family: 'Open Sans', sans-serif;"
                                              placeholder="Type of Surgery"
                                              name="type_of_surgery"></textarea></div>
                            </div>
                            <div class="form-row" style="margin-right:0px;margin-left:0px;padding-top:24px;">
                                <div class="col-md-8 offset-md-1">
                                    <p style="margin-left: 2%;font-family: Raleway, sans-serif;font-size: 24px;">
                                        <strong>Area Operated</strong></p>
                                </div>
                                <div class="col-md-10 offset-md-1">
                                    <input type="text" class="form-control"
                                           style="margin-left: 0px;font-family: 'Open Sans', sans-serif;"
                                           name="area_operated"
                                           placeholder="Area Operated" required/></div>
                            </div>
                            <div class="form-row" style="margin-right:0px;margin-left:0px;padding-top:24px;">
                                <div class="col-md-8 offset-md-1">
                                    <p style="margin-left: 2%;font-family: Raleway, sans-serif;font-size: 24px;">
                                        <strong>Complications</strong></p>
                                </div>
                                <div class="col-md-10 offset-md-1">
                                    <textarea class="form-control"
                                              style="font-family: 'Open Sans', sans-serif;"
                                              placeholder="Complications"
                                              name="complications"></textarea></div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>

{% endblock %}