{% extends 'base.html' %}
{% load static %}

{% block header %}
    <title>Add a Surgery</title>
    <link rel="stylesheet" href="{% static 'Responsive-Form.css' %}">
    <link rel="stylesheet" href="{% static 'upload.css' %}">
    <style>
        #add-images {
            transition-duration: 0.2s !important;
        }

        #add-images:hover {
            background-color: gray;
            color: white !important;
            transition-duration: 0.2s !important;
        }
    </style>
    <script>

        function openImages() {
            $('.images-container').removeClass('invisible');
        }

        function closeImages() {
            $('.images-container').addClass('invisible');
        }

        function drugAllergy() {
            if ($('.drugAllergy-checkbox').prop("checked") === true) {
                $('.drugAllergy').removeClass('d-none');
            } else {
                $('.drugAllergy').addClass('d-none');
            }
        }

        let numOfForms = 0

        function cloneMore() {
            const newElement = $('div.image-container')
            newElement.prepend("<div class=\"d-flex flex-column justify-content-between align-items-center\"\n" +
                "                                     style=\"width: 350px;height: 300px;background: #fc9c34;border-radius: 10px;margin: 5px;margin-left: 0px;border: 10px solid #fc9c34;position: relative;\">\n" +
                "                                    <img style=\"max-width: 100%;max-height: 190px;border-radius: 10px;\"\n" +
                "                                         src=\"{% static 'img/placeholder_patient.png' %}\"/>\n" +
                "                                    <div class=\"d-flex flex-column\" style=\"width: 100%;\">\n" +
                "                                        <div class=\"d-flex justify-content-center align-items-center\"\n" +
                "                                             style=\"border-radius: 5px;margin-bottom: 5px;\">\n" +
                "                                            <h6 style=\"width: 270px;margin: 0 0 0 5px;\">Date of Upload:</h6>\n" +
                "                                            <input class=\"form-control\" style=\"border-style: none;\" placeholder=\"Date of Upload\"\n" +
                "                                                   type=\"date\" name=\"form-" + numOfForms + "-date_of_upload_image\"/>\n" +
                "                                        </div>\n" +
                "                                        <div class=\"custom-file\">\n" +
                "                                            <input type=\"file\" class=\"custom-file-input\" id=\"id_form-" + numOfForms + "-image\"\n" +
                "                                               name=\"form-" + numOfForms + "-image\" onchange=\"loadImage(event, this)\"/>\n" +
                "                                            <label class=\"custom-file-label\" style=\"border-bottom-right-radius: 10px;border-bottom-left-radius: 10px;\">Upload File</label>\n" +
                "                                        </div>\n" +
                "                                    </div>\n" +
                "                                    <button class=\"btn d-flex justify-content-center align-items-center\" type=\"button\"\n" +
                "                                            style=\"border-style: none;color: white;background: red;position: absolute;right: 0;\" onclick=\"deleteImage(this)\">x</button>\n" +
                "                                </div>")
            let totalForms = $('input#id_form-TOTAL_FORMS');
            totalForms.val(numOfForms + 1)
            numOfForms++
        }

        function deleteImage(element) {
            let parent = $(element).parent();
            parent.remove()
            numOfForms--
            let totalForms = $('input#id_form-TOTAL_FORMS');
            totalForms.val(numOfForms)
        }

        function loadImage(event, element) {
            let image = URL.createObjectURL(event.target.files[0]);
            let parent = $(element).parent();
            let grandparent = parent.parent();
            let image_html = grandparent.parent().find('img');
            image_html.attr("src", image)
        }


    </script>
{% endblock %}

{% block content %}
    <script>
        let fields = []

        function addFields(checkbox) {
            if ($(checkbox).prop("checked") === true) {
                fields.push(" " + $(checkbox).attr("name"))
            } else {
                let index = fields.indexOf(" " + $(checkbox).attr("name"))
                fields.splice(index, 1)
            }
            $('input#id_area_operated').val(fields)
            console.log($('input#id_area_operated').val())
        }

        let otherFields = []
        let otherTypeFields = []

        $(document).on("change", "select", function () {
            $("option[value=" + this.value + "]", this)
                .attr("selected", true).siblings()
                .removeAttr("selected")
        });


        function selected(selector) {
            if ($('#other_option').is(':selected')) {
                $('#id_other').removeClass('d-none');
            } else {
                $('#id_other').addClass('d-none');
            }
        }

        function selectedType(selector) {
            if ($('#other_option_type').is(':selected')) {
                $('#id_other_type').removeClass('d-none');
            } else {
                $('#id_other_type').addClass('d-none');
            }
        }

        function addToOther(input) {
            otherFields = []
            otherFields.push($(input).val())

            $('#other_option').val(otherFields)
            console.log(otherFields)
        }

        function addToOtherType(input) {
            otherTypeFields = []
            otherTypeFields.push($(input).val())

            $('#other_option_type').val(otherTypeFields)
            console.log(otherTypeFields)
        }

    </script>
    <main>
        <div class="container" style="background-color: white;padding: 50px 0;">
            <div>
                <h1 class="text-center" style="color: #fc9c34;margin-bottom: 20px;font-family: Raleway, sans-serif;">Add
                    A Surgery</h1>
                <form class="d-flex" method="post" enctype="multipart/form-data">
                    {% csrf_token %}{{ formset.management_form }}
                    <input type="text" class="d-none" name="patient" value="{{ patient.id }}"/>
                    <div class="d-flex justify-content-center align-items-center invisible images-container"
                         style="width: 100vw;height: 100vh;position: fixed;background-color: rgba(128,128,128,0.57);z-index: 10000;top: 0;right: 0;left: 0;bottom: 0;">
                        <div class="d-flex flex-row justify-content-center align-items-center flex-wrap image-container"
                             style="background-color: white;padding: 50px;border-radius: 10px;width: 930px;height: 540px;overflow: auto;position: relative;">
                            {% for form in formset %}
                                <div class="d-flex flex-column justify-content-between align-items-center"
                                     style="width: 350px;height: 300px;background: #fc9c34;border-radius: 10px;margin: 5px;margin-left: 0px;border: 10px solid #fc9c34;position: relative;">
                                    <img style="max-width: 100%;max-height: 190px;border-radius: 10px;"
                                         src="{% static 'img/placeholder_patient.png' %}"/>
                                    <div class="d-flex flex-column" style="width: 100%;">
                                        <div class="d-flex justify-content-center align-items-center"
                                             style="border-radius: 5px;margin-bottom: 5px;">
                                            <h6 style="width: 270px;margin: 0 0 0 5px;">Date of Upload:</h6>
                                            <input class="form-control" style="border-style: none;"
                                                   placeholder="Date of Upload" id="{{ form.date_of_upload_image.id_for_label }}"
                                                   type="date" name="{{ form.date_of_upload_image.html_name }}"/>
                                        </div>
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input"
                                                   id="{{ form.image.id_for_label }}"
                                                   name="{{ form.image.html_name }}" onchange="loadImage(event, this)"/>
                                            <label class="custom-file-label"
                                                   style="border-bottom-right-radius: 10px;border-bottom-left-radius: 10px;">Upload
                                                File</label>
                                        </div>
                                    </div>
                                    <button class="btn d-flex justify-content-center align-items-center" type="button"
                                            style="border-style: none;color: white;background: red;position: absolute;right: 0;"
                                            onclick="deleteImage(this)">x
                                    </button>
                                </div>
                            {% endfor %}
                            <button class="btn btn-primary" id="add_more" type="button"
                                    style="width: 350px;height: 300px;border-width: 7px;border-color: gray;background-color: transparent;border-radius: 10px;color: gray;"
                                    onclick="cloneMore()">
                                <i class="fa fa-plus" style="font-size: 50px;"></i></button>
                            <button class="btn" type="button" onclick="closeImages()"
                                    style="position: absolute;top: 3px;right: 7px;color: black;font-weight: bold;font-family: Raleway, sans-serif;">
                                x
                            </button>

                        </div>
                    </div>
                    <div class="form-group" style="width: 100%;">
                        <div id="formdiv" style="color: #fc9c34;font-family: Raleway, sans-serif;padding-bottom: 20px;">
                            <div class="form-row d-flex justify-content-center align-items-center"
                                 style="padding-top: 30px;">
                                <div class="col d-flex justify-content-center align-items-center">
                                    <button class="btn d-flex flex-column justify-content-center align-items-center"
                                            role="button" type="button" id="add-images"
                                            style="color: gray;height: 30vh;width: 80%;/*background-color: transparent;*/border: 5px solid gray;border-radius: 15px;font-family: Raleway, sans-serif;font-weight: bold;"
                                            onclick="openImages()"><i
                                            class="fa fa-plus" style="font-size: 40px;"></i>Add Images
                                    </button>
                                </div>
                            </div>
                            <div class="form-row" style="margin-right:0px;margin-left:0px;padding-top:24px;">
                                <div class="col-md-8 offset-md-1">
                                    <p style="margin-left: 2%;font-family: Raleway, sans-serif;font-size: 24px;">
                                        <strong>Hospital</strong></p>
                                </div>
                                <div class="col-md-10 offset-md-1"><textarea class="form-control"
                                                                             style="font-family: 'Open Sans', sans-serif;"
                                                                             name="hospital"></textarea></div>
                            </div>
                            <div class="form-row" style="margin-right:0px;margin-left:0px;padding-top:24px;">
                                <div class="col-md-8 offset-md-1">
                                    <p style="margin-left: 2%;font-family: Raleway, sans-serif;font-size: 24px;">
                                        <strong>Referral</strong></p>
                                </div>
                                <div class="col-md-10 offset-md-1"><input type="text" class="form-control"
                                                                          style="margin-left: 0px;font-family: 'Open Sans', sans-serif;"
                                                                          name="referral"/></div>
                            </div>
                            <div class="form-row" style="margin-right:0px;margin-left:0px;padding-top:24px;">
                                <div class="col-md-8 offset-md-1">
                                    <p style="margin-left: 2%;font-family: Raleway, sans-serif;font-size: 24px;">
                                        <strong>Patient District</strong></p>
                                </div>
                                <div class="col-md-10 offset-md-1">
                                    <input type="number" class="form-control"
                                           style="font-family: 'Open Sans', sans-serif;" name="patient_district" min="1"
                                           max="13" step="1"/>
                                </div>
                            </div>
                            <div class="form-row" style="margin-right:0px;margin-left:0px;padding-top:24px;">
                                <div class="col-md-8 offset-md-1">
                                    <p style="margin-left: 2%;font-family: Raleway, sans-serif;font-size: 24px;">
                                        <strong>Type of Sponsor</strong></p>
                                </div>
                                <div class="col-md-10 offset-md-1">
                                    <select class="form-control" style="font-family: 'Open Sans', sans-serif;"
                                            name="type_of_sponsor" id="id_type_of_sponsor" onchange="selected()">
                                        <option value selected="selected"></option>
                                        <option value="Resurge">Resurge</option>
                                        <option value="HUI">HUI</option>
                                        <option value="Private">Private</option>
                                        <option value="Government">Government</option>
                                        <option value="Third Party">Third Party</option>
                                        <option id="other_option" value="Other">Other</option>
                                    </select>
                                    <input type="text" class="form-control d-none"
                                           style="margin: 10px 0;font-family: 'Open Sans', sans-serif;"
                                           id="id_other" placeholder="Specify..."
                                           name="other" onchange="addToOther(this)"/>
                                </div>
                            </div>
                            <div class="form-row" style="margin-right:0px;margin-left:0px;padding-top:24px;">
                                <div class="col-md-8 offset-md-1 d-flex align-items-center align-self-center"
                                     style="font-size: 25px;font-weight: bold;margin-bottom: 10px;">
                                    <div class="form-check d-flex align-items-center"><input type="checkbox"
                                                                                             class="form-check-input drugAllergy-checkbox"
                                                                                             id="formCheck-5"
                                                                                             onclick="drugAllergy()"
                                                                                             style="margin-top: 0;"/>
                                        <label
                                                class="form-check-label" for="formCheck-5">Drug Allergy?</label></div>
                                </div>
                                <div class="col-md-10 offset-md-1 d-none drugAllergy"><textarea class="form-control"
                                                                                                style="font-family: 'Open Sans', sans-serif;"
                                                                                                name="drug_allergy"></textarea>
                                </div>
                            </div>
                            <div class="form-row" style="margin-right:0px;margin-left:0px;padding-top:24px;">
                                <div class="col-md-8 offset-md-1">
                                    <p style="margin-left: 2%;font-family: Raleway, sans-serif;font-size: 24px;">
                                        <strong>Name of Evaluation</strong></p>
                                </div>
                                <div class="col-md-10 offset-md-1"><input type="text" class="form-control"
                                                                          style="margin-left: 0px;font-family: 'Open Sans', sans-serif;"
                                                                          name="name_of_evaluation"/></div>
                            </div>
                            <div class="form-row" style="margin-right:0px;margin-left:0px;padding-top:24px;">
                                <div class="col-md-8 offset-md-1">
                                    <p style="margin-left: 2%;font-family: Raleway, sans-serif;font-size: 24px;">
                                        <strong>Date of Evaluation</strong></p>
                                </div>
                                <div class="col-md-10 offset-md-1"><input class="form-control"
                                                                          style="font-family: 'Open Sans', sans-serif;"
                                                                          name="date_of_evaluation" type="date"/></div>
                            </div>
                            <div class="form-row" style="margin-right:0px;margin-left:0px;padding-top:24px;">
                                <div class="col-md-8 offset-md-1">
                                    <p style="margin-left: 2%;font-family: Raleway, sans-serif;font-size: 24px;">
                                        <strong>Cause of Burn</strong></p>
                                </div>
                                <div class="col-md-10 offset-md-1"><select class="form-control"
                                                                           style="font-family: 'Open Sans', sans-serif;"
                                                                           name="cause_of_burn">
                                    <option value selected></option>
                                    <option value="Accidental">Accidental</option>
                                    <option value="Suicidal">Suicidal</option>
                                    <option value="Homicidal">Homicidal</option>
                                </select></div>
                            </div>
                            <div class="form-row" style="margin-right:0px;margin-left:0px;padding-top:24px;">
                                <div class="col-md-8 offset-md-1">
                                    <p style="margin-left: 2%;font-family: Raleway, sans-serif;font-size: 24px;">
                                        <strong>Year of Burn</strong></p>
                                </div>
                                <div class="col-md-10 offset-md-1"><input type="number" class="form-control"
                                                                          style="font-family: 'Open Sans', sans-serif;"
                                                                          name="year_of_burn" min="1900"/></div>
                            </div>
                            <div class="form-row" style="margin-right:0px;margin-left:0px;padding-top:24px;">
                                <div class="col-md-8 offset-md-1">
                                    <p style="margin-left: 2%;font-family: Raleway, sans-serif;font-size: 24px;">
                                        <strong>Type of Burn</strong></p>
                                </div>
                                <div class="col-md-10 offset-md-1">
                                    <select class="form-control" style="font-family: 'Open Sans', sans-serif;"
                                            name="type_of_burn" onchange="selectedType()">
                                        <option value selected></option>
                                        <option value="Scald Burn">Scald Burn</option>
                                        <option value="Open Flame">Open Flame</option>
                                        <option value="Chemical Burn">Chemical Burn</option>
                                        <option value="Gasoline Burn">Gasoline Burn</option>
                                        <option value="Electrical Burn">Electrical Burn</option>
                                        <option value="Contact Burn">Contact Burn</option>
                                        <option id="other_option_type" value="Other">Other</option>
                                    </select>
                                    <input type="text" class="form-control d-none"
                                           style="margin: 10px 0;font-family: 'Open Sans', sans-serif;"
                                           id="id_other_type" placeholder="Specify..."
                                           name="other" onchange="addToOtherType(this)"/>
                                </div>
                            </div>
                            <div class="form-row"
                                 style="margin-right:0px;margin-left:0px;padding-top:24px;margin-top:-16px;">
                                <div class="col-md-8 offset-md-1">
                                    <p style="margin-left: 2%;font-family: Raleway, sans-serif;font-size: 24px;">
                                        <strong>Diagnosis Admission</strong></p>
                                </div>
                                <div class="col-md-10 offset-md-1"><input type="text" class="form-control"
                                                                          style="margin-left: 0px;font-family: 'Open Sans', sans-serif;"
                                                                          name="diagnosis_admission"/></div>
                            </div>
                            <div class="form-row" style="margin-right:0px;margin-left:0px;padding-top:24px;">
                                <div class="col-md-8 offset-md-1">
                                    <p style="margin-left: 2%;font-family: Raleway, sans-serif;font-size: 24px;">
                                        <strong>Date of Admission</strong></p>
                                </div>
                                <div class="col-md-10 offset-md-1"><input class="form-control"
                                                                          style="font-family: 'Open Sans', sans-serif;"
                                                                          name="date_of_admission" type="date"/></div>
                            </div>
                            <div class="form-row" style="margin-right:0px;margin-left:0px;padding-top:24px;">
                                <div class="col-md-8 offset-md-1">
                                    <p style="margin-left: 2%;font-family: Raleway, sans-serif;font-size: 24px;">
                                        <strong>Date of Surgery</strong></p>
                                </div>
                                <div class="col-md-10 offset-md-1"><input class="form-control"
                                                                          style="font-family: 'Open Sans', sans-serif;"
                                                                          name="date_of_surgery" type="date"/></div>
                            </div>
                            <div class="form-row" style="margin-right:0px;margin-left:0px;padding-top:24px;">
                                <div class="col-md-8 offset-md-1">
                                    <p style="margin-left: 2%;font-family: Raleway, sans-serif;font-size: 24px;">
                                        <strong>Date of Discharge</strong></p>
                                </div>
                                <div class="col-md-10 offset-md-1"><input class="form-control"
                                                                          style="font-family: 'Open Sans', sans-serif;"
                                                                          name="date_of_discharge" type="date"/></div>
                            </div>
                            <div class="form-row" style="margin-right:0px;margin-left:0px;padding-top:24px;">
                                <div class="col-md-8 offset-md-1">
                                    <p style="margin-left: 2%;font-family: Raleway, sans-serif;font-size: 24px;">
                                        <strong>Surgeons</strong></p>
                                </div>
                                <div class="col-md-10 offset-md-1"><textarea class="form-control"
                                                                             style="font-family: 'Open Sans', sans-serif;"
                                                                             name="surgeons"></textarea></div>
                            </div>
                            <div class="form-row" style="margin-right:0px;margin-left:0px;padding-top:24px;">
                                <div class="col-md-8 offset-md-1">
                                    <p style="margin-left: 2%;font-family: Raleway, sans-serif;font-size: 24px;">
                                        <strong>Details of Surgery</strong></p>
                                </div>
                                <div class="col-md-10 offset-md-1"><textarea class="form-control"
                                                                             style="font-family: 'Open Sans', sans-serif;"
                                                                             name="details_of_surgery"></textarea></div>
                            </div>
                            <div class="form-row" style="margin-right:0px;margin-left:0px;padding-top:24px;">
                                <div class="col-md-8 offset-md-1">
                                    <p style="margin-left: 2%;font-family: Raleway, sans-serif;font-size: 24px;">
                                        <strong>Anesthesiologist</strong></p>
                                </div>
                                <div class="col-md-10 offset-md-1"><input type="text" class="form-control"
                                                                          style="margin-left: 0px;font-family: 'Open Sans', sans-serif;"
                                                                          name="anesthesiologist"/></div>
                            </div>
                            <div class="form-row" style="margin-right:0px;margin-left:0px;padding-top:24px;">
                                <div class="col-md-8 offset-md-1">
                                    <p style="margin-left: 2%;font-family: Raleway, sans-serif;font-size: 24px;">
                                        <strong>Anesthesia</strong></p>
                                </div>
                                <div class="col-md-10 offset-md-1"><input type="text" class="form-control"
                                                                          style="margin-left: 0px;font-family: 'Open Sans', sans-serif;"
                                                                          name="anesthesia"/></div>
                            </div>
                            <div class="form-row" style="margin-right:0px;margin-left:0px;padding-top:24px;">
                                <div class="col-md-8 offset-md-1">
                                    <p style="margin-left: 2%;font-family: Raleway, sans-serif;font-size: 24px;">
                                        <strong>Duration</strong></p>
                                </div>
                                <div class="col-md-10 offset-md-1">
                                    <select class="form-control" style="font-family: 'Open Sans', sans-serif;"
                                            name="duration">
                                        <option value selected></option>
                                        <option value="Up to 1 Hour">Up to 1 Hour</option>
                                        <option value="1.5 - 2 Hours">1.5 - 2 Hours</option>
                                        <option value="2-3 Hours">2-3 Hours</option>
                                        <option value="3+ Hours">3+ Hours</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-row" style="margin-right:0px;margin-left:0px;padding-top:24px;">
                                <div class="col-md-8 offset-md-1">
                                    <p style="margin-left: 2%;font-family: Raleway, sans-serif;font-size: 24px;">
                                        <strong>Burn Operation Number</strong></p>
                                </div>
                                <div class="col-md-10 offset-md-1"><input type="text" class="form-control"
                                                                          id="id_burn_operation_number"
                                                                          style="margin-left: 0px;font-family: 'Open Sans', sans-serif;"
                                                                          name="burn_operation_number" required/></div>
                            </div>
                            <div class="form-row" style="margin-right:0px;margin-left:0px;padding-top:24px;">
                                <div class="col-md-8 offset-md-1">
                                    <p style="margin-left: 2%;font-family: Raleway, sans-serif;font-size: 24px;">
                                        <strong>Type of Surgery</strong></p>
                                </div>
                                <div class="col-md-10 offset-md-1"><textarea class="form-control"
                                                                             style="font-family: 'Open Sans', sans-serif;"
                                                                             name="type_of_surgery"></textarea></div>
                            </div>
                            <div class="form-row" style="margin-right:0px;margin-left:0px;padding-top:24px;">
                                <div class="col-md-8 offset-md-1">
                                    <p style="margin-left: 2%;font-family: Raleway, sans-serif;font-size: 24px;">
                                        <strong>Area Operated</strong></p>
                                </div>
                                <div class="col-md-10 offset-md-1">
                                    <div class="dropdown show d-flex justify-content-center">
                                        <button class="btn dropdown-toggle d-flex justify-content-between align-items-center form-control"
                                                data-toggle="dropdown" aria-expanded="false" type="button"
                                                style="width: 100%;border: 1px solid #ced4da;">
                                        </button>
                                        <div role="menu"
                                             class="dropdown-menu flex-row justify-content-center align-items-center flex-wrap"
                                             style="width: 100%;">
                                            <div class="form-check d-flex align-items-center dropdown-item"
                                                 style="margin: 10px;" role="presentation">
                                                <input type="checkbox" onchange="addFields(this)"
                                                       class="form-check-input" id="formCheck-2"
                                                       style="margin-top: 0;" name="Lower Extremities"/>
                                                <label class="form-check-label" for="formCheck-2"
                                                       style="font-size: 20px;">Lower
                                                    Extremities</label></div>
                                            <div class="form-check d-flex align-items-center dropdown-item"
                                                 style="margin: 10px;" role="presentation">
                                                <input type="checkbox" onchange="addFields(this)"
                                                       class="form-check-input" id="formCheck-2"
                                                       style="margin-top: 0;" name="Upper Extremities"/>
                                                <label class="form-check-label" for="formCheck-2"
                                                       style="font-size: 20px;">Upper
                                                    Extremities</label></div>
                                            <div class="form-check d-flex align-items-center dropdown-item"
                                                 style="margin: 10px;" role="presentation">
                                                <input type="checkbox" class="form-check-input" id="formCheck-6"
                                                       style="margin-top: 0;" onchange="addFields(this)"
                                                       name="Face"/>
                                                <label class="form-check-label" for="formCheck-2"
                                                       style="font-size: 20px;">Face</label>
                                            </div>
                                            <div class="form-check d-flex align-items-center dropdown-item"
                                                 style="margin: 10px;" role="presentation">
                                                <input type="checkbox" class="form-check-input" id="formCheck-6"
                                                       style="margin-top: 0;" onchange="addFields(this)"
                                                       name="Neck"/>
                                                <label class="form-check-label" for="formCheck-2"
                                                       style="font-size: 20px;">Neck</label>
                                            </div>
                                            <div class="form-check d-flex align-items-center dropdown-item"
                                                 style="margin: 10px;" role="presentation">
                                                <input type="checkbox" onchange="addFields(this)"
                                                       class="form-check-input" id="formCheck-4"
                                                       style="margin-top: 0;" name="Torso"/>

                                                <label class="form-check-label" for="formCheck-2"
                                                       style="font-size: 20px;">Torso</label>
                                            </div>
                                        </div>
                                    </div>
                                    <input type="text" class="form-control d-none"
                                           style="margin-left: 0px;font-family: 'Open Sans', sans-serif;"
                                           id="id_area_operated"
                                           name="area_operated"/>
                                </div>
                            </div>
                            <div class="form-row" style="margin-right:0px;margin-left:0px;padding-top:24px;">
                                <div class="col-md-8 offset-md-1">
                                    <p style="margin-left: 2%;font-family: Raleway, sans-serif;font-size: 24px;">
                                        <strong>Complications</strong></p>
                                </div>
                                <div class="col-md-10 offset-md-1"><textarea class="form-control"
                                                                             style="font-family: 'Open Sans', sans-serif;"
                                                                             name="complications"></textarea></div>
                            </div>
                            <div class="form-row" style="margin-right:0px;margin-left:0px;padding-top:24px;">
                                <div class="col-md-8 col-xl-10 offset-md-1">
                                    <div class="form-check d-flex align-items-center">
                                        <input type="checkbox" class="form-check-input" id="formCheck-1"
                                               style="margin-top: 0px;" name="consent"/>
                                        <label class="form-check-label" for="formCheck-1" style="font-size: 20px;">Does
                                            this patient give consent to use photos?</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row" style="margin: 0;margin-top: 20px;">
                                <div class="col d-flex justify-content-center align-items-center"
                                     style="height: 60px;margin: 10px;margin-bottom: 0px;">
                                    <div role="group" class="btn-group"
                                         style="height: 100%;width: 100%;border-style: none;">
                                        <button class="btn btn-danger" type="reset"
                                                style="border-top-left-radius: 10px;border-bottom-left-radius: 10px;">
                                            Reset
                                        </button>
                                        <button class="btn btn-success" type="submit"
                                                style="border-top-right-radius: 10px;border-bottom-right-radius: 10px;">
                                            Submit
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>
{% endblock %}