{% extends 'base.html' %}

{% block header %}
    <title>Admin - {{ model.title }}</title>
    <style>
        .active-list {
            background: rgba(255, 222, 173, 0.5) !important;
        }

        .admin-list:hover {
            background: rgba(255, 222, 173, 0.3) !important;
        }

        .plus-button:hover {
            background: #eb9132 !important;
        }

        small {
            font-weight: bold;
        }
    </style>
    <script>
        $(document).ready(function () {
            let inputs = $('input:file')
            inputs.removeClass('form-control')
            let checkboxes = $('input:checkbox')
            checkboxes.removeClass('form-control')
        })
    </script>
{% endblock %}

{% block content %}
    <main class="d-flex justify-content-center align-items-center" style="min-height: 90vh;">
        <div class="container-fluid shadow"
             style="padding: 30px;background: whitesmoke;font-family: Raleway, sans-serif;width: 90%;border-radius: max(0px, min(8px, calc((100vw - 4px - 100%) * 9999))) / 8px;">
            <div class="row no-gutters flex-lg-row flex-column align-items-center align-items-lg-start">
                <button data-toggle="collapse" class="navbar-toggler d-lg-none" data-target="#navcol-2"
                        style="background-color: #fc9c34;border-color: #FC9C34;width: 50px">
                    <span class="sr-only">Toggle navigation</span>
                    <i class="fas fa-ellipsis-h" style="color: white;"></i>
                </button>
                <div class="col-md-12 col-lg-4 col-xl-4 collapse d-lg-block" id="navcol-2"
                     style="border-right: 1px solid lightgray;">
                    <h1 style="color: #fc9c34;font-family: Raleway, sans-serif;font-weight: bold;text-align: center;margin-bottom: 20px;">
                        {{ model.title }}</h1>
                    <ul class="list-group">
                        <a href="{% url 'admin-console' %}"
                           class="list-group-item d-flex flex-row justify-content-between align-items-center admin-list"
                           style="text-align: center;font-family: 'Open Sans', sans-serif;font-weight: bold;color: #e28c2e;position: relative;border-top-style: none;border-right-style: none;border-bottom-style: none;border-left-style: none;border-radius: 50px 0 0 50px;margin-bottom: 10px;background: transparent">
                            <i class="fas fa-user-cog d-flex flex-column"
                               style="position: absolute;font-size: 25px;"></i>
                            <span class="flex-grow-1">Admin</span></a>
                        <a href="{% url 'admin_template' 'accounts' %}"
                           class="list-group-item d-flex flex-row justify-content-between align-items-center {% if model.title == 'Accounts' %}active-list {% else %}admin-list{% endif %}"
                           style="text-align: center;font-family: 'Open Sans', sans-serif;font-weight: bold;color: #e28c2e;position: relative;border-top-style: none;border-right-style: none;border-bottom-style: none;border-left-style: none;border-radius: 50px 0 0 50px;background: transparent;margin-bottom: 10px;">
                            <i class="fas fa-user d-flex flex-column" style="position: absolute;font-size: 25px;"></i>
                            <span class="flex-grow-1">Accounts</span></a>
                        <a href="{% url 'admin_template' 'groups' %}"
                           class="list-group-item d-flex flex-row justify-content-between align-items-center {% if model.title == 'Groups' %}active-list {% else %}admin-list{% endif %}"
                           style="text-align: center;font-family: 'Open Sans', sans-serif;font-weight: bold;color: #e28c2e;position: relative;border-top-style: none;border-right-style: none;border-bottom-style: none;border-left-style: none;border-radius: 50px 0 0 50px;background: transparent;margin-bottom: 10px;">
                            <i class="fas fa-users d-flex flex-column" style="position: absolute;font-size: 25px;"></i>
                            <span class="flex-grow-1">Groups</span></a>
                        <a href="{% url 'admin_template' 'event-logs' %}"
                           class="list-group-item d-flex flex-row justify-content-between align-items-center {% if model.title == 'Event Logs' %}active-list {% else %}admin-list{% endif %}"
                           style="text-align: center;font-family: 'Open Sans', sans-serif;font-weight: bold;color: #e28c2e;position: relative;border-top-style: none;border-right-style: none;border-bottom-style: none;border-left-style: none;border-radius: 50px 0 0 50px;background: transparent;margin-bottom: 10px;">
                            <i class="far fa-file-alt d-flex flex-column"
                               style="position: absolute;font-size: 25px;"></i>
                            <span class="flex-grow-1">Event Logs</span></a>
                        <a href="{% url 'admin_template' 'patients' %}"
                           class="list-group-item d-flex flex-row justify-content-between align-items-center {% if model.title == 'Patients' %}active-list {% else %}admin-list{% endif %}"
                           style="text-align: center;font-family: 'Open Sans', sans-serif;font-weight: bold;color: #e28c2e;position: relative;border-top-style: none;border-right-style: none;border-bottom-style: none;border-left-style: none;border-radius: 50px 0 0 50px;background: transparent;margin-bottom: 10px;">
                            <i class="fas fa-user-md d-flex flex-column"
                               style="position: absolute;font-size: 25px;"></i>
                            <span class="flex-grow-1">Patients</span></a>
                        <a href="{% url 'admin_template' 'surgeries' %}"
                           class="list-group-item d-flex flex-row justify-content-between align-items-center {% if model.title == 'Surgeries' %}active-list {% else %}admin-list{% endif %}"
                           style="text-align: center;font-family: 'Open Sans', sans-serif;font-weight: bold;color: #e28c2e;position: relative;border-top-style: none;border-right-style: none;border-bottom-style: none;border-left-style: none;border-radius: 50px 0 0 50px;background: transparent;margin-bottom: 10px;">
                            <i class="fas fa-notes-medical d-flex flex-column"
                               style="position: absolute;font-size: 25px;">
                            </i><span class="flex-grow-1">Surgeries</span></a>
                    </ul>
                </div>
                <div class="col d-flex flex-column"
                     style="max-height: 80vh;color: slategray;overflow-y: auto; overflow-x: hidden; padding: 10px; min-height:50vh">
                    {% block admin_block %}
                        <div class="list-group list-group-flush"
                             style="font-family: Raleway, sans-serif;font-weight: bold; border-radius: 8px">
                            {% for item in model.items %}
                                <li style="display:flex; justify-content: space-between; font-weight: bold; position: relative"
                                    class="list-group-item flex-lg-row flex-column align-items-center {% if item.email == account.email %}list-group-item-success{% endif %}">
                                    <a href="{% if model.title == 'Patients' %}
                                {% url 'patient_page' item.slug %}
                                {% elif model.title == 'Surgeries' %}
                                {% url 'surgery_page' item.patient.slug item.id %}
                                         {% endif %}" class="text-lg-left text-center"
                                       style="color: slategray; width: 250px; white-space: nowrap">{{ item }}</a>
                                    {% if model.title == 'Accounts' %}
                                        <span>{{ item.last_name }}, {{ item.first_name }}</span>
                                        <span>{{ item.group.name }}</span>
                                    {% elif model.title == 'Groups' %}
                                        <span>Id: {{ item.id }}</span>
                                    {% elif model.title == 'Event Logs' %}
                                        <span>{{ item.event_time }}</span>
                                        <span class="">{{ item.user }}</span>
                                    {% elif model.title == 'Patients' %}
                                        <span>Uploaded: {{ item.uploaded }}</span>
                                    {% elif model.title == 'Surgeries' %}
                                        <span>Patient: {{ item.patient }}</span>
                                    {% endif %}
                                    <button class="btn d-flex justify-content-center align-items-center"
                                            style="padding: 5px; border-radius: 50px" onclick="openItem({{ item.id }})">
                                        <i class="fa fa-cog" style="margin-right: 1px;"></i>
                                    </button>
                                </li>
                                <li class="list-group-item list-group-item-secondary item-{{ item.id }}"
                                    style="display: none;font-family: 'Open Sans', sans-serif; font-weight: normal;padding: 0">
                                    <div role="group" class="btn-group btn-group-sm d-flex"
                                         style="border-radius: 0 !important;">
                                        <a class="btn btn-success" href="{% url 'admin_edit' model.model item.id %}"
                                           type="button" style="border-style: none;">
                                            <i class="fa fa-edit"></i> Edit
                                        </a>
                                        <a class="btn btn-danger" href="{% url 'admin_delete' model.model item.id %}"
                                           style="border-style: none;">
                                            <i class="fa fa-trash"></i> Delete
                                        </a>
                                        <a class="btn btn-info" href="{% url 'admin_view' model.model item.id %}"
                                           style="border-style: none;">
                                            <i class="fa fa-info-circle"></i> View
                                        </a>
                                    </div>
                                </li>
                            {% endfor %}
                            <li class="list-group-item list-group-item-secondary add-item"
                                style="display: none;padding: 20px; font-family: 'Open Sans', sans-serif; font-weight: normal;">
                                <form method="post" enctype="multipart/form-data">{% csrf_token %}
                                    {% if model.title == 'Surgeries' %}
                                        <div role="group" class="btn-group d-flex image-button"
                                             style="border-radius: 0 !important;margin-bottom: 5px">
                                            <button class="btn btn-secondary" onclick="cloneMore(this)"
                                                    style="border-style: none;font-weight: bold">
                                                Add Image
                                            </button>
                                        </div>
                                    {% endif %}
                                    {{ model.new_form.as_p }}
                                    {% if model.title == 'Surgeries' %}
                                        <div>
                                            <div role="group" class="btn-group d-flex image-button"
                                                 style="border-radius: 0 !important;margin-bottom: 10px">
                                                <button class="btn btn-secondary" type="button"
                                                        onclick="cloneMoreProcedures(this)"
                                                        style="border-style: none;font-weight: bold">
                                                    Add Procedure Code
                                                </button>
                                            </div>
                                        </div>

                                    {% endif %}
                                    <div role="group" class="btn-group btn-group-sm d-flex"
                                         style="border-radius: 0 !important;">
                                        <button class="btn btn-danger" type="reset" onclick="openNewForm()"
                                                style="border-style: none;">
                                            Reset
                                        </button>
                                        <button class="btn btn-success" name="new_form_submit" type="submit"
                                                style="border-style: none;">
                                            Submit
                                        </button>
                                    </div>
                                </form>
                            </li>
                            <button class="list-group-item list-group-item-action d-flex justify-content-center align-items-center plus-button"
                                    style="background: #FC9C34; color: white; border-color: #FC9C34"
                                    onclick="openNewForm()">
                                <i class="fa fa-plus"></i>
                            </button>


                        </div>

                    {% endblock %}
                </div>
            </div>
        </div>
    </main>
    <script>
        function openItem(itemid) {
            let itemId = '.item-' + itemid
            $(itemId).slideToggle(100);
        }

        function openNewForm() {
            let newForm = '.add-item'
            $(newForm).slideToggle(300);
        }

        function openUpdateForm(itemid) {
            let itemId = '.edit-' + itemid
            $(itemId).slideToggle(100);
        }

        function cloneMore(element) {
            $(element).parent().parent().prepend('<p>' +
                '<div class="image-container" style="background: white; padding: 10px; margin-bottom: 10px; border-radius: 8px">' +
                '<label>Add image:</label> ' +
                '<input type="file" name="surgery_images" accept="image/*" class="">' +
                '</p>' +
                '<div role="group" class="btn-group btn-group-sm d-flex image-button"\n' +
                'style="border-radius: 0 !important;margin-bottom: 5px">\n' +
                '<button class="btn btn-danger" onclick="deleteImage(this)"\n' +
                'style="border-style: none;font-weight: bold">\n' +
                'Delete Image\n' +
                '</button>\n' +
                '</div>' +
                '</div>')
        }

        function deleteImage(element) {
            $(element).parent().parent().remove()
        }

        function cloneMoreProcedures(element) {
            $(element).parent().parent().prepend('<p>' +
                '<div class="procedure-container" style="background: white; padding: 10px; margin-bottom: 10px; border-radius: 8px">' +
                '<label>Add Procedure Code:</label> ' +
                '<input type="text" name="procedure_codes" class="form-control">' +
                '</p>' +
                '<div role="group" class="btn-group btn-group-sm d-flex image-button"\n' +
                'style="border-radius: 0 !important;margin-bottom: 5px">\n' +
                '<button class="btn btn-danger" onclick="deleteImage(this)"\n' +
                'style="border-style: none;font-weight: bold">\n' +
                'Delete Code\n' +
                '</button>\n' +
                '</div>' +
                '</div>')
        }
    </script>
{% endblock %}