{% extends 'base.html' %}
{% load static %}

{% block header %}
    <title>Admin - {{ model.title }}</title>
    <link rel="stylesheet" href="{% static 'admin_template.css' %}">
    <script>
        $(document).ready(function () {
            let inputs = $('input:file')
            inputs.removeClass('form-control')
            let checkboxes = $('input:checkbox')
            checkboxes.removeClass('form-control')
        })
        $(document).ready(function () {
            $('.search-patients').on('keyup', function () {
                let information = $(this).val().toLowerCase();
                $('.list-group .item-list').filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(information) > -1)
                });
            });
        });
    </script>
{% endblock %}

{% block content %}
    <script>
        function onChangeCheck() {
            let anyChecks = false;
            $('#delete-items-form').find('input[type="checkbox"]').each(function () {
                if ($(this).is(':checked')) {
                    anyChecks = true
                }
            })
            if (anyChecks) {
                $('.delete-selected').slideDown(100)
            } else {
                $('.delete-selected').slideUp(100)
            }
        }

        function showConfirmation() {
            $('.delete-items-confirmation').removeClass('d-none')
        }

        function hideConfirmation() {
            $('.delete-items-confirmation').addClass('d-none')
        }

        function submitDeleteForm() {
            $('#delete-items-form').submit()
        }

        $('document').ready(function () {
            baguetteBox.run('#image-object-container')
        })

    </script>
    <main class="d-flex justify-content-center align-items-center" style="min-height: 100vh;">
        <div class="justify-content-center align-items-center delete-items-confirmation d-none"
             style="display: flex;top: 0;left: 0;width: 100vw;height: 100vh;position: fixed;z-index: 1000;background-color: rgba(128,128,128,0.57);">
            <div class="d-flex flex-column"
                 style="background-color: white;padding: 50px;border-radius: 5px;box-shadow: 0 0 5px 0 var(--accent-color);">
                <h1 style="color: var(--main-color);font-weight: bold;font-family: 'Open Sans', sans-serif;margin-bottom: 15px;">
                    Are
                    you sure?</h1>
                <div role="group" class="btn-group">
                    <button class="btn btn-secondary" type="button" onclick="hideConfirmation()"
                            style="border-radius: 5px;margin: 3px;">Cancel
                    </button>
                    <button class="btn btn-danger" role="button" style="border-radius: 5px;margin: 3px;"
                            onclick="submitDeleteForm()"
                            type="button">Delete
                    </button>
                </div>
            </div>
        </div>
        <div class="container-fluid shadow"
             style="padding: 30px;background: whitesmoke;font-family: Raleway, sans-serif;width: 90%;border-radius: max(0px, min(8px, calc((100vw - 4px - 100%) * 9999))) / 8px;">
            <div class="row no-gutters flex-lg-row flex-column align-items-center align-items-lg-start">
                <button data-toggle="collapse"
                        class="navbar-toggler d-lg-none d-flex justify-content-center align-items-center"
                        data-target="#navcol-2"
                        style="background-color: var(--main-color);border-color: var(--main-color);width: 50px;margin-bottom: 10px">
                    <span class="sr-only">Toggle navigation</span>
                    <i class="material-icons-round" style="color: white;">menu</i>
                </button>
                <div class="col-md-12 col-lg-4 col-xl-3 collapse d-lg-block" id="navcol-2"
                     style="border-right: 1px solid lightgray;">
                    <h1 style="color: var(--main-color);font-family: Raleway, sans-serif;font-weight: bold;text-align: center;margin-bottom: 20px;">
                        {{ model.title }}</h1>
                    <ul class="list-group">
                        <a href="{% url 'admin-console' %}"
                           class="list-group-item d-flex flex-row justify-content-between align-items-center admin-list"
                           style="text-align: center;font-family: 'Open Sans', sans-serif;font-weight: bold;color: #e28c2e;position: relative;border-top-style: none;border-right-style: none;border-bottom-style: none;border-left-style: none;border-radius: 50px 0 0 50px;margin-bottom: 10px;background: transparent">
                            <i class="material-icons-round d-flex flex-column"
                               style="position: absolute;font-size: 25px;">settings</i>
                            <span class="flex-grow-1">Admin</span></a>
                        <a href="{% url 'admin_template' 'accounts' %}"
                           class="list-group-item d-flex flex-row justify-content-between align-items-center {% if model.title == 'Accounts' %}active-list {% else %}admin-list{% endif %}"
                           style="text-align: center;font-family: 'Open Sans', sans-serif;font-weight: bold;color: #e28c2e;position: relative;border-top-style: none;border-right-style: none;border-bottom-style: none;border-left-style: none;border-radius: 50px 0 0 50px;background: transparent;margin-bottom: 10px;">
                            <i class="material-icons-round d-flex flex-column"
                               style="position: absolute;font-size: 25px;">person</i>
                            <span class="flex-grow-1">Accounts</span></a>
                        <a href="{% url 'admin_template' 'groups' %}"
                           class="list-group-item d-flex flex-row justify-content-between align-items-center {% if model.title == 'Groups' %}active-list {% else %}admin-list{% endif %}"
                           style="text-align: center;font-family: 'Open Sans', sans-serif;font-weight: bold;color: #e28c2e;position: relative;border-top-style: none;border-right-style: none;border-bottom-style: none;border-left-style: none;border-radius: 50px 0 0 50px;background: transparent;margin-bottom: 10px;">
                            <i class="material-icons-round d-flex flex-column"
                               style="position: absolute;font-size: 25px;">groups</i>
                            <span class="flex-grow-1">Groups</span></a>
                        <a href="{% url 'admin_template' 'event-logs' %}"
                           class="list-group-item d-flex flex-row justify-content-between align-items-center {% if model.title == 'Event Logs' %}active-list {% else %}admin-list{% endif %}"
                           style="text-align: center;font-family: 'Open Sans', sans-serif;font-weight: bold;color: #e28c2e;position: relative;border-top-style: none;border-right-style: none;border-bottom-style: none;border-left-style: none;border-radius: 50px 0 0 50px;background: transparent;margin-bottom: 10px;">
                            <i class="material-icons-round d-flex flex-column"
                               style="position: absolute;font-size: 25px;">assignment</i>
                            <span class="flex-grow-1">Event Logs</span></a>
                        <a href="{% url 'admin_template' 'patients' %}"
                           class="list-group-item d-flex flex-row justify-content-between align-items-center {% if model.title == 'Patients' %}active-list {% else %}admin-list{% endif %}"
                           style="text-align: center;font-family: 'Open Sans', sans-serif;font-weight: bold;color: #e28c2e;position: relative;border-top-style: none;border-right-style: none;border-bottom-style: none;border-left-style: none;border-radius: 50px 0 0 50px;background: transparent;margin-bottom: 10px;">
                            <i class="material-icons-round d-flex flex-column"
                               style="position: absolute;font-size: 25px;">contacts</i>
                            <span class="flex-grow-1">Patients</span></a>
                        <a href="{% url 'admin_template' 'surgeries' %}"
                           class="list-group-item d-flex flex-row justify-content-between align-items-center {% if model.title == 'Surgeries' %}active-list {% else %}admin-list{% endif %}"
                           style="text-align: center;font-family: 'Open Sans', sans-serif;font-weight: bold;color: #e28c2e;position: relative;border-top-style: none;border-right-style: none;border-bottom-style: none;border-left-style: none;border-radius: 50px 0 0 50px;background: transparent;margin-bottom: 10px;">
                            <i class="material-icons-round d-flex flex-column"
                               style="position: absolute;font-size: 25px;">note_add
                            </i><span class="flex-grow-1">Surgeries</span></a>
                        <a href="{% url 'admin_template' 'images' %}"
                           class="list-group-item d-flex flex-row justify-content-between align-items-center {% if model.title == 'Images' %}active-list {% else %}admin-list{% endif %}"
                           style="text-align: center;font-family: 'Open Sans', sans-serif;font-weight: bold;color: #e28c2e;position: relative;border-top-style: none;border-right-style: none;border-bottom-style: none;border-left-style: none;border-radius: 50px 0 0 50px;background: transparent;margin-bottom: 10px;">
                            <i class="material-icons-round d-flex flex-column"
                               style="position: absolute;font-size: 25px;">insert_photo
                            </i><span class="flex-grow-1">Images</span></a>
                    </ul>
                </div>
                <div class="col d-flex flex-column admin-list-col"
                     style="max-height: 80vh;color: var(--accent-color);overflow-y: auto; overflow-x: hidden; padding: 10px; min-height:50vh">
                    {% block admin_block %}
                        <div role="group" class="btn-group btn-group delete-selected"
                             style="border-radius: 0 !important;margin-bottom: 10px; display: none">
                            <button class="btn btn-danger" type="button" onclick="showConfirmation()"
                                    style="border-style: none;border-radius: 8px">
                                <i class="fa fa-trash"></i> Delete Selected
                            </button>
                        </div>
                        <div class="form-group"
                             style="position:relative; width: 100%; display: flex; align-items: center; margin-bottom: 20px">
                            <i class="fas fa-search search-icon"
                               style="position: absolute; margin-left: 15px; color: rgb(255, 255, 255);"></i>
                            <input class="form-control search-patients" autocomplete="off" id="searchbar-nav"
                                   onfocusin="$('.search-icon').css('color', 'var(--accent-color)')"
                                   onfocusout="$('.search-icon').css('color', 'white')"
                                   placeholder="Search for {{ model.title|lower }}..." name="search">
                        </div>
                        <div class="list-group list-group-flush"
                             style="font-family: Raleway, sans-serif;font-weight: bold; border-radius: 8px">
                            <form class="list-group-flush" id="delete-items-form" method="post"
                                  style="border-radius: 8px !important;">
                                {% if model.title != 'Images' %}
                                    {% for item in model.items %}
                                        <li style="display:flex; justify-content: space-between; font-weight: bold; position: relative"
                                            class="list-group-item flex-lg-row flex-column align-items-center item-list {% if item.email == account.email %}list-group-item-success{% endif %}">
                                            <div class="custom-control custom-checkbox" style="width: 10%">
                                                <input class="custom-control-input" type="checkbox"
                                                       onchange="onChangeCheck()"
                                                       name="delete[]" value="{{ item.id }}" id="check-{{ item.id }}">
                                                <label class="custom-control-label delete-checks"
                                                       for="check-{{ item.id }}"></label>
                                            </div>
                                            <span class="w-100">
                                        <a href="{% url 'admin_view' model.model item.id %}"
                                           class="text-lg-left text-center patient-name"
                                           style="color: var(--accent-color);white-space: nowrap">{{ item }}</a>
                                    </span>
                                            {% if model.title == 'Accounts' %}
                                                <span class="w-100 text-lg-left text-center">{{ item.group.name }}</span>
                                            {% elif model.title == 'Groups' %}
                                                <span class="w-100 text-lg-left text-center">Id: {{ item.id }}</span>
                                            {% elif model.title == 'Event Logs' %}
                                                <span class="w-100 text-lg-left text-center">{{ item.event_time }}</span>
                                            {% elif model.title == 'Patients' %}
                                                <span class="w-100 text-lg-left text-center">Uploaded: {{ item.uploaded }}</span>
                                            {% elif model.title == 'Surgeries' %}
                                                <span class="w-100 text-lg-left text-center">Patient: {{ item.patient }}</span>
                                            {% endif %}
                                            <button type="button"
                                                    class="btn d-flex justify-content-center align-items-center"
                                                    style="padding: 5px; border-radius: 50px"
                                                    onclick="openItem({{ item.id }})">
                                                <i class="material-icons-round"
                                                   style="margin-right: 1px;font-size: 18px">settings</i>
                                            </button>
                                        </li>
                                        <li class="list-group-item list-group-item-secondary item-{{ item.id }}"
                                            style="display: none;font-family: 'Open Sans', sans-serif; font-weight: normal;padding: 0">
                                            <div role="group" class="btn-group btn-group-sm d-flex"
                                                 style="border-radius: 0 !important;">
                                                <a class="btn btn-success"
                                                   href="{% url 'admin_edit' model.model item.id %}"
                                                   type="button" style="border-style: none;">
                                                    <i class="fa fa-edit"></i> Edit
                                                </a>
                                                <a class="btn btn-danger"
                                                   href="{% url 'admin_delete' model.model item.id %}"
                                                   style="border-style: none;">
                                                    <i class="fa fa-trash"></i> Delete
                                                </a>
                                            </div>
                                        </li>
                                    {% endfor %}
                                {% else %}
                                    <div class="row no-gutters" style="margin-bottom: 1rem" id="image-object-container">
                                        {% for item in model.items %}

                                            <div class="col col-12 col-lg-4"
                                               style="border-radius: 8px;padding: 5px;">
                                                <div class="d-flex flex-column justify-content-between"
                                                     style="padding: 1rem;height: 100%;border-radius: 8px;background: whitesmoke;{% if surgeries == surgery %}border: 3px solid #dfe1e5!important;{% else %}{% endif %}">
                                                    <a href="{{ item.image.url }}" class="d-flex justify-content-center align-items-center"
                                                         style="height: 100%;padding-top: 51%;margin: 1rem;
                                                                 background: url('{{ item.image.url }}') center / contain no-repeat, rgb(225,225,225);border-radius: 8px;"></a>
                                                    <div class="justify-content-around">
                                                    <h3 class="text-center">
                                                        <a href="{% url 'admin_view' 'surgeries' item.surgery.id %}" style="font-weight: bold;margin: 0;color: #fc9c34;text-align: center; width: 100%" class="patient-name">
                                                            Surgery #{{ item.surgery }}</a></h3>
                                                        {% if item.surgery.patient %}
                                                            <hr style="width: 100%;"/>
                                                            <h5 style="font-weight: bold;color: slategray;text-align: center;">
                                                                <a href="{% url 'admin_view' 'patients' item.surgery.patient.id %}" class="patient-name" style="color: slategray;">
                                                                {{ item.surgery.patient }}
                                                                </a>
                                                            </h5>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>

                                        {% endfor %}
                                    </div>

                                {% endif %}
                                {% csrf_token %}
                            </form>

                            <li class="list-group-item list-group-item-secondary add-item"
                                style="display: none;padding: 20px; font-family: 'Open Sans', sans-serif; font-weight: normal;">
                                <form method="post" enctype="multipart/form-data">{% csrf_token %}
                                    {% if model.title == 'Surgeries' %}
                                        <div role="group" class="btn-group d-flex image-button"
                                             style="border-radius: 0 !important;margin-bottom: 5px">
                                            <button class="btn btn-secondary" type="button" onclick="cloneMore(this)"
                                                    style="border-style: none;font-weight: bold">
                                                Add Image
                                            </button>
                                        </div>
                                    {% endif %}
                                    {{ model.new_form.as_p }}
                                    <div role="group" class="btn-group btn-group-sm d-flex"
                                         style="border-radius: 0 !important;">
                                        <button class="btn btn-danger" type="reset" onclick="openNewForm()"
                                                style="border-style: none;">
                                            Reset
                                        </button>
                                        <button class="btn btn-success" name="new_form_submit" type="submit"
                                                style="border-style: none;">
                                            Submit
                                        </button>
                                    </div>
                                </form>
                            </li>
                            <button class="list-group-item list-group-item-action d-flex justify-content-center align-items-center plus-button"
                                    style="background: var(--main-color); color: white; border-color: var(--main-color)"
                                    onclick="openNewForm()">
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>

                    {% endblock %}
                </div>
            </div>
        </div>
    </main>
    <script>
        function openItem(itemid) {
            let itemId = '.item-' + itemid
            $(itemId).slideToggle(100);
        }

        function openNewForm() {
            let newForm = '.add-item'
            $(newForm).slideToggle(300);
        }

        function openUpdateForm(itemid) {
            let itemId = '.edit-' + itemid
            $(itemId).slideToggle(100);
        }

        function cloneMore(element) {
            $(element).parent().parent().prepend('<p>' +
                '<div class="image-container" style="background: white; padding: 10px; margin-bottom: 10px; border-radius: 8px">' +
                '<label>Add image:</label> ' +
                '<input type="file" name="surgery_images" accept="image/*" class="">' +
                '</p>' +
                '<div role="group" class="btn-group btn-group-sm d-flex image-button"\n' +
                'style="border-radius: 0 !important;margin-bottom: 5px">\n' +
                '<button class="btn btn-danger" onclick="deleteImage(this)"\n' +
                'style="border-style: none;font-weight: bold">\n' +
                'Delete Image\n' +
                '</button>\n' +
                '</div>' +
                '</div>')
        }

        function deleteImage(element) {
            $(element).parent().parent().remove()
        }

        function cloneMoreProcedures(element) {
            $(element).parent().parent().prepend('<p>' +
                '<div class="procedure-container" style="background: white; padding: 10px; margin-bottom: 10px; border-radius: 8px">' +
                '<label>Add Procedure Code:</label> ' +
                '<input type="text" name="procedure_codes" class="form-control">' +
                '</p>' +
                '<div role="group" class="btn-group btn-group-sm d-flex image-button"\n' +
                'style="border-radius: 0 !important;margin-bottom: 5px">\n' +
                '<button class="btn btn-danger" onclick="deleteImage(this)"\n' +
                'style="border-style: none;font-weight: bold">\n' +
                'Delete Code\n' +
                '</button>\n' +
                '</div>' +
                '</div>')
        }
    </script>
{% endblock %}