{% load static %}
<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="UTF-8">

    <meta name="description"
          content="TvachaCare is a medical billing database for medical professionals to store and query documents regarding burn victims.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="icon" type="image/png" sizes="500x452" href="{% static 'img/logoNoText.ico' %}">
    <link rel="stylesheet" href="{% static 'bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{% static 'js/jquery.fittext.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-172938628-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-172938628-2');
    </script>
    <style>
        .page-footer h5 {
            color: var(--main-color) !important;
        }

        @media screen and (max-width: 990px) {
            .navbar-collapse ul {
                margin-top: 20px;
                overflow-x: auto;
                overflow-y: visible !important;
            }
        }

        .nav-links:hover {
            box-shadow: 0 0 .5rem rgba(0, 0, 0, .075) !important;
        }

        @media screen and (max-width: 768px) {
            .nav-links {
                border-top-right-radius: 50px !important;
                border-bottom-right-radius: 50px !important;
            }

            #nav-list-container {
                padding: 20px !important;
            }
        }

        ::-webkit-scrollbar {
            width: 10px;
            height: 10px;
        }

        ::-webkit-scrollbar-track {
            background: white;
            border-radius: 8px;
        }

        ::-webkit-scrollbar-thumb {
            background-color: var(--accent-color);
            border-radius: 8px;
            margin: 3px;
        }

        @media (min-width: 768px) {
            .datetime-container {
                position: absolute;
            }
        }

        @media (max-width: 768px) {
            .side-nav {
                position: relative !important;
            }
        }

        span.ripple {
            position: absolute; /* The absolute position we mentioned earlier */
            border-radius: 50%;
            transform: scale(0);
            animation: ripple 600ms linear;
            background-color: rgba(255, 255, 255, 0.3);
        }

        @keyframes ripple {
            to {
                transform: scale(4);
                opacity: 0;
            }
        }

        .btn-ripple {
            position: relative !important;
            overflow: hidden;
            transition: background 400ms;
        }

    </style>
    <link rel="icon" type="image/png" href="{% static 'img/logoNoText.png' %}">
    <script>
        function hours12(date) {
            return (date.getUTCHours() + 16) % 12 || 12;
        }

        function formatAMPM(hours) {
            if (hours >= 24) {
                hours -= 24
            }
            return hours >= 12 ? 'pm' : 'am'
        }

        function startTime() {
            let today = new Date();
            let h = hours12(today);
            let m = today.getUTCMinutes();
            let s = today.getUTCSeconds();
            m = checkTime(m);
            s = checkTime(s);
            document.getElementById('current_time').innerHTML =
                h + ":" + m + ":" + s + formatAMPM(today.getUTCHours() + 16);
            let t = setTimeout(startTime, 500);
        }

        function checkTime(i) {
            if (i < 10) {
                i = "0" + i
            }
            // add zero in front of numbers < 10
            return i;
        }

    </script>
    {% block header %}
        <title>TvachaCare Helpers United</title>
    {% endblock %}
</head>
<body style="background: whitesmoke;place-items: center" {% if account %}onload="startTime()"{% endif %}>
<script>
    function createRipple(event) {
        const button = event.currentTarget;

        const circle = document.createElement("span");
        const diameter = Math.max(button.clientWidth, button.clientHeight);
        const radius = diameter / 2;

        circle.style.width = circle.style.height = `${diameter}px`;
        circle.style.left = `${event.clientX - button.offsetLeft - radius}px`;
        circle.style.top = `${event.clientY - button.offsetTop - radius}px`;
        circle.classList.add("ripple");

        const ripple = button.getElementsByClassName("ripple")[0];

        if (ripple) {
            ripple.remove();
        }

        button.appendChild(circle);

        console.log('hello')
    }

    $(document).ready(function () {
        const buttons = document.getElementsByClassName('btn-ripple');
        for (const button of buttons) {
            button.addEventListener("click", createRipple);
        }
    })

</script>
<div class="container-fluid" style="padding: 0;min-height: 100vh;border-right-style: none;">
    <div class="row no-gutters" style="height: 100%;min-height: 100vh; flex-wrap: wrap">
        {% if account %}
            <div class="col-md side-nav" style="max-height: 100vh;background: transparent;position: sticky; top: 0">
                <div class="row no-gutters">
                    <a href="{% url 'home' %}" class="col d-flex justify-content-center align-items-center"
                       style="padding: 20px; text-decoration: none">
                        <img class="d-flex justify-content-center align-items-center"
                             src="{% static 'img/logoTvacha.png' %}"
                             height="30px" style="min-height: 30px;max-height: 38px;">
                        <span style="font-family: Raleway, sans-serif;
    font-size: 30px;color: darkgray;font-weight: bold;vertical-align: baseline;margin-left: 5px;display: inline-block;line-height: 30px;margin-top: 4px;">HUI</span>
                    </a>
                    <div class="col-2 d-flex justify-content-center align-items-center d-md-none"
                         style="padding: 20px">
                        <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"
                                style="background-color: var(--main-color); border: none">
                            <i class="fa fa-ellipsis-h text-white"></i>
                        </button>
                    </div>
                </div>
                <div class="collapse d-md-block h-50" id="navcol-1">
                    <div class="row no-gutters">
                        <div class="col d-flex justify-content-center align-items-center"
                             style="padding: 5px">
                            <a class="btn log-out" href="{% url 'logout' %}"
                               style="margin-left: 10px; border-radius: 50px;padding: 7px 12px; border-color: var(--main-color) !important; color: var(--main-color)">Log
                                Out</a>
                        </div>
                    </div>
                    <hr>
                    <div class="row no-gutters flex-column justify-content-between d-block">
                        <div class="col d-flex justify-content-center" id="nav-list-container"
                             style="padding: 20px 0 20px 20px;">
                            <div class="list-group"
                                 style="color: #e28c2e;font-family: Raleway, sans-serif;font-weight: bold;width: 100%;border-right: 1px none var(--accent-color) ;">
                                <a class="list-group-item list-group-item-action nav-links btn-ripple"
                                   style="border-top-left-radius: 50px;border-bottom-left-radius: 50px;background: navajowhite;color: #e28c2e;width: 100%;margin-bottom: 10px;border-style: none;"
                                   href="{% url 'home' %}">
                                    <i class="fas fa-home" style="margin-right: 20px;"></i>
                                    <span>Home</span>
                                </a>
                                <a class="list-group-item list-group-item-action nav-links btn-ripple"
                                   style="border-top-left-radius: 50px;border-bottom-left-radius: 50px;background: navajowhite;color: #e28c2e;width: 100%;margin-bottom: 10px;border-style: none;"
                                   href="{% if account.group.name != 'Approver' %}
                                            {% url 'filter_by_date' %}
                                            {% else %}{% url 'hui_report' %}
                                            {% endif %}">
                                    <i class="fas fa-table" style="margin-right: 20px;"></i>
                                    <span>Reports</span></a>
                                <a class="list-group-item list-group-item-action nav-links btn-ripple"
                                   style="border-top-left-radius: 50px;border-bottom-left-radius: 50px;background: navajowhite;color: #e28c2e;width: 100%;margin-bottom: 10px;border-style: none;"
                                   href="{% url 'calendar' today.year today.month %}">
                                    <i class="far fa-calendar" style="margin-right: 20px;"></i>
                                    <span>Calendar</span>
                                </a>
                                {% if account.group.can_add_patients %}
                                    <a class="list-group-item list-group-item-action nav-links btn-ripple"
                                       style="border-top-left-radius: 50px;border-bottom-left-radius: 50px;background: navajowhite;color: #e28c2e;width: 100%;margin-bottom: 10px;border-style: none;"
                                       href="{% url 'addPatient' %}">
                                        <i class="fas fa-plus" style="margin-right: 20px;"></i>
                                        <span>Add Patient</span>
                                    </a>
                                {% endif %}
                                {% if request.user.group.name == 'Admin' %}
                                    <a class="list-group-item list-group-item-action nav-links btn-ripple"
                                       style="border-top-left-radius: 50px;border-bottom-left-radius: 50px;background: navajowhite;color: #e28c2e;width: 100%;margin-bottom: 10px;border-style: none;"
                                       href="{% url 'admin-console' %}">
                                        <i class="fas fa-user-cog" style="margin-right: 20px;"></i>
                                        <span>Admin Console</span>
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col d-flex align-items-end justify-content-center datetime-container"
                             style="bottom: 0; padding: 0 20px 20px;">
                            <div style="width:100%;padding: 10px; background-color: white; color: var(--accent-color); border-radius: 8px; font-family: 'Raleway', sans-serif;box-shadow: 0 0 .5rem rgba(0,0,0,.075)!important">
                                <h3 style="font-weight: bold; text-align: center">Pacific Time</h3>
                                <h1 style="font-weight: bold; text-align: center; font-family: 'Open Sans', sans-serif"
                                    id="current_time"></h1>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        {% endif %}
        <div class="{% if account %} col-12 col-md-7 col-lg-8 col-xl-9 {% else %} col-12 {% endif %} shadow"
             style="background-color: var(--main-color); width: 100%">
            {% block content %}
            {% endblock %}
            <footer class="page-footer light"
                    style="box-shadow: 0 0 15px rgba(0,0,0,.2) !important;background-color: whitesmoke !important;">
                <div class="container">
                    <div class="row no-gutters justify-content-center">
                        <div class="col-sm-3">
                            <h5 style="font-family: Raleway, sans-serif;font-weight: 700;">Get started</h5>
                            <ul>
                                <li><a href="{% url 'home' %}" style="font-family: 'Open Sans', sans-serif;">Home</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-3">
                            <h5 style="font-family: Raleway, sans-serif;">About us</h5>
                            <ul>
                                <li><a href="#" style="font-family: 'Open Sans', sans-serif;">Company Information</a>
                                </li>
                                <li><a href="https://tvachacare.com#Contact" target="_blank"
                                       style="font-family: 'Open Sans', sans-serif;">Contact us</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-3">
                            <h5 style="font-family: Raleway, sans-serif;">Legal</h5>
                            <ul>
                                <li><a href="{% url 'terms_of_service' %}"
                                       style="font-family: 'Open Sans', sans-serif;">Terms of Service</a></li>
                                <li><a href="{% url 'privacy_policy' %}" style="font-family: 'Open Sans', sans-serif;">Privacy
                                    Policy</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="footer-copyright">
                    <p>© 2020 TvachaCare</p>
                </div>
            </footer>
        </div>
    </div>
</div>
<script src="{% static 'js/smoothproducts.min.js' %}"></script>
<script src="{% static 'js/theme.js' %}"></script>
<script>
    $('.nav-item').hover(function () {
        $(this).find('i').toggle(50);
    })
</script>
</body>
</html>