{% extends 'base.html' %}
{% load static %}

{% block header %}
    <title>{{ month }}, {{ year }}</title>
    <script>
        $(document).ready(function () {
            let formattedNumber = ("0" + {{ month_num }}).slice(-2);
            $('#form-date').val('{{ year }}-' + formattedNumber)
        })
    </script>
{% endblock %}

{% block content %}
    <main class="container-fluid" style="background: white;width: 100%;height: 100vh;padding: 30px 50px;">
        <div class="row flex-column" style="margin: 0;height: 100%;">
            <div class="col d-inline-flex justify-content-around align-items-center"
                 style="width: 100%;max-height: 50px;">
                <a class="btn d-flex justify-content-center align-items-center" type="button"
                   href="{% url 'calendar' year month_num|add:"-1" %}"
                   style="width: 50px;height: 50px;background: transparent;padding: 0;"><i
                        class="fa fa-angle-left"
                        style="color: #888888;font-size: 35px;margin-right: 4px;margin-bottom: 2px;"></i></a>
                <h1 class="month-header" onclick="
                $(this).addClass('d-none');$('.date-form').removeClass('d-none').addClass('d-flex')"
                    style="cursor: pointer;color: #888888;margin: 0;">{{ month }} {{ year }}</h1>
                <form class="d-none date-form" action="">
                    <input onclick="event.stopPropagation();" onchange="addDate()" class="form-control text-center"
                           id="form-date" style="font-size: 2.5rem;color: #888888" type="month" onkeyup="">
                </form>
                <a class="btn d-flex justify-content-center align-items-center" type="button"
                   href="{% url 'calendar' year month_num|add:"1" %}"
                   style="width: 50px;height: 50px;background: transparent;padding: 0;"><i
                        class="fa fa-angle-right"
                        style="color: #888888;font-size: 35px;margin-bottom: 2px;margin-right: 0;margin-left: 2px;"></i>
                </a>
            </div>
            <div class="col d-flex flex-column"
                 style="height: 100%;margin-top: 20px;padding: 0;border: 0.5px solid #c8ced7 ; overflow-y: auto; overflow-x: hidden;">
                <div class="row" style="margin: 0;">
                    <div class="col"
                         style="padding: 10px;background: #ffffff;color: #888888;border: 0.5px solid #c8ced7;">
                        <div class="row flex-column">
                            <div class="col">
                                <h5 style="text-align: center;font-family: 'Open Sans', sans-serif;margin-bottom: 5px;">
                                    Sun</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col"
                         style="padding: 10px;background: #ffffff;color: #888888;border: 0.5px solid #c8ced7;">
                        <div class="row flex-column">
                            <div class="col">
                                <h5 style="text-align: center;font-family: 'Open Sans', sans-serif;margin-bottom: 5px;">
                                    Mon</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col"
                         style="padding: 10px;background: #ffffff;color: #888888;border: 0.5px solid #c8ced7;">
                        <div class="row flex-column">
                            <div class="col">
                                <h5 style="text-align: center;font-family: 'Open Sans', sans-serif;margin-bottom: 5px;">
                                    Tue</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col"
                         style="padding: 10px;background: #ffffff;color: #888888;border: 0.5px solid #c8ced7;">
                        <div class="row flex-column">
                            <div class="col">
                                <h5 style="text-align: center;font-family: 'Open Sans', sans-serif;margin-bottom: 5px;">
                                    Wed</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col"
                         style="padding: 10px;background: #ffffff;color: #888888;border: 0.5px solid #c8ced7;">
                        <div class="row flex-column">
                            <div class="col">
                                <h5 style="text-align: center;font-family: 'Open Sans', sans-serif;margin-bottom: 5px;">
                                    Thu</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col"
                         style="padding: 10px;background: #ffffff;color: #888888;border: 0.5px solid #c8ced7;">
                        <div class="row flex-column">
                            <div class="col">
                                <h5 style="text-align: center;font-family: 'Open Sans', sans-serif;margin-bottom: 5px;">
                                    Fri</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col"
                         style="padding: 10px;background: #ffffff;color: #888888;border: 0.5px solid #c8ced7;">
                        <div class="row flex-column">
                            <div class="col">
                                <h5 style="text-align: center;font-family: 'Open Sans', sans-serif;margin-bottom: 5px;">
                                    Sat</h5>
                            </div>
                        </div>
                    </div>
                </div>
                {% for week in calendar %}
                    <div class="row" style="height: 100%;margin: 0;">
                        {% for day in week %}
                            <div class="col"
                                 style="padding: 5px 10px 10px;background: #ffffff;color: #888888;border: 0.5px solid #c8ced7">
                                <div class="row flex-column">
                                    <div class="col d-flex justify-content-center" style="margin-bottom: 10px">
                                        <span style="{% if day == today %}background:dodgerblue;color: white;border-radius: 50px;{% endif %}{% if month_num != day.month %}opacity: 0.5;{% endif %}padding: 5px 30%;text-align: center;font-family: 'Open Sans', sans-serif;font-weight: bold;font-size: 20px">
                                            {{ day.day }}</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        {% for surgery in surgeries %}
                                            {% if surgery.date_of_upload == day %}
                                                <div role="alert" class="alert alert-primary d-block"
                                                     style="overflow:hidden; width: 100%;margin: 0;padding: 0 10px;">
                                                    <span onmouseover="$(this).css('white-space', 'normal')"
                                                          onmouseleave="$(this).css('white-space', 'nowrap')"
                                                          style="cursor: default; white-space: nowrap; font-size: 13px; font-weight: normal;"><strong>{{ surgery.patient }}:</strong> Surgery Uploaded</span>
                                                </div>
                                            {% endif %}
                                            {% if surgery.date_of_evaluation == day %}
                                                <div role="alert" class="alert alert-success d-block"
                                                     style="overflow:hidden; width: 100%;margin: 0;padding: 0 10px;">
                                                    <span onmouseover="$(this).css('white-space', 'normal')"
                                                          onmouseleave="$(this).css('white-space', 'nowrap')"
                                                          style="cursor: default; white-space: nowrap; font-size: 13px; font-weight: normal;"><strong>{{ surgery.patient }}:</strong> Evaluation</span>
                                                </div>
                                            {% endif %}
                                            {% if surgery.date_of_admission == day %}
                                                <div role="alert" class="alert alert-warning d-block"
                                                     style="overflow:hidden; width: 100%;margin: 0;padding: 0 10px;">
                                                    <span onmouseover="$(this).css('white-space', 'normal')"
                                                          onmouseleave="$(this).css('white-space', 'nowrap')"
                                                          style="cursor: default; white-space: nowrap; font-size: 13px; font-weight: normal;"><strong>{{ surgery.patient }}:</strong> Admitted</span>
                                                </div>
                                            {% endif %}
                                            {% if surgery.date_of_surgery == day %}
                                                <div role="alert" class="alert alert-danger d-block"
                                                     style="overflow:hidden; width: 100%;margin: 0;padding: 0 10px;">
                                                    <span onmouseover="$(this).css('white-space', 'normal')"
                                                          onmouseleave="$(this).css('white-space', 'nowrap')"
                                                          style="cursor: default; white-space: nowrap; font-size: 13px; font-weight: normal;"><strong>{{ surgery.patient }}:</strong> Surgery Performed</span>
                                                </div>
                                            {% endif %}
                                            {% if surgery.date_of_discharge == day %}
                                                <div role="alert" class="alert alert-secondary d-block"
                                                     style="overflow: hidden; width: 100%;margin: 0;padding: 0 10px;">
                                            <span onmouseover="$(this).css('white-space', 'normal')"
                                                  onmouseleave="$(this).css('white-space', 'nowrap')"
                                                  style="cursor: default; border: none; white-space: nowrap;padding: 0;font-size: 13px; font-weight: normal;"><strong>{{ surgery.patient }}:</strong> Discharged</span>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </main>
    <script>
        function addDate() {
            let dateArray = $('#form-date').val().split('-')
            $('.date-form').attr('action', '/calendar/' + dateArray[0] + '/' + dateArray[1])
            var input = document.getElementById("form-date");
            input.addEventListener("keyup", function (event) {
                if (event.keyCode === 13) {
                    // Cancel the default action, if needed
                    event.preventDefault();
                    // Trigger the button element with a click
                    $('.date-form').submit()
                }
            })
        }
    </script>
{% endblock %}