{% extends 'base.html' %}
{% load static %}

{% block header %}
    <title>Errors in Upload</title>
{% endblock %}

{% block content %}
    <main class="d-flex flex-column justify-content-center align-items-center"
          style="min-height: 100vh;max-height: 0;background: #fc9c34;">
        <div class="container-sm shadow overflow-auto"
             style="padding: 15px;background: white;border-radius: 8px;font-family: Raleway, sans-serif;">
            <div class="row" style="margin-bottom: 25px;">
                <div class="col" style="color: slategray;">
                    <h1 style="font-weight: bold;text-align: center;margin: 0;">Errors in Upload</h1>
                </div>
            </div>
            {% for patient in patients %}
                <div class="row no-gutters" style="margin-bottom: 1rem;">
                    <div class="col" style="padding: 1rem;">
                        <h3 style="font-weight: bold;color: slategray;">{{ patient.patient }}</h3>
                        <ul class="list-group">
                            {% for error in patient.errors %}
                                <li class="list-group-item list-group-item-danger" style="font-weight: bold;">
                                    <span>{{ error }}</span>
                                </li>
                                {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endfor %}
            <hr/>
            <form method="post" enctype="multipart/form-data" action="{% url 'import_patients' %}">{% csrf_token %}
                <h2 style="text-align: center;font-weight: bold;color: slategray;">Retry Upload</h2>
                <div class="form-row">
                    <div class="col d-flex justify-content-center align-items-center"
                         style="background: whitesmoke;border-radius: 8px;padding: 15px;margin: 15px 5px;">
                        <input type="file" class="form-control-file" name="csv_file" required/>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col">
                        <button class="btn btn-success btn-block btn-lg" type="submit" style="font-weight: bold;">
                            Submit
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </main>
{% endblock %}