{% extends 'base.html' %}
{% load static %}

{% block header %}
    <title>Filter by Date</title>
    <style>
        .btn-fields {
            box-shadow: none;
            transition-duration: 0.2s;
            transition-property: box-shadow;
        }

        .btn-fields:hover {
            box-shadow: 0 0 0 0.3rem rgba(0, 123, 255, 0.25);
            transition-duration: 0.2s !important;
            transition-property: box-shadow;
        }
    </style>

{% endblock %}

{% block content %}
    <script>
        let fields = []

        function addFields(checkbox) {
            if ($(checkbox).prop("checked") === true && $(checkbox).attr('name') !== 'procedure_codes') {
                fields.push($(checkbox).attr("name"))
            } else {
                let index = fields.indexOf($(checkbox).attr("name"))
                fields.splice(index, 1)
            }
            $('input#fields').val(fields)
            console.log($('input#fields').val())
        }
    </script>
    <script>

        $(document).ready(function () {
            $('.btn-fields').click(function () {
                const checkbox = $('#' + $(this).attr('data-checkbox'))
                if (checkbox.is(':checked')) {
                    checkbox.attr('checked', false)
                    $(this).css({
                        'background-color': 'rgba(252,156,52, 0.3)',
                        'color': 'var(--main-accent)'
                    })
                } else {
                    checkbox.attr('checked', true);
                    $(this).css({
                        'background-color': 'rgb(252,156,52)',
                        'color': 'white'
                    })
                }
                console.log(checkbox.is(':checked'))
            })
        })

    </script>
    <main class="d-flex justify-content-center align-items-center"
          style="background-color: var(--main-color);font-family: 'Open Sans', sans-serif;font-size: 20px;min-height: 100vh">
        <form method="post" action=""
              style="padding: 30px; background-color: white;border-radius: 15px; margin: 15px;max-width: 700px">{% csrf_token %}
            <div class="form-row">
                <div class="col">
                    <h1 class="text-center" style="color: var(--main-color);margin-bottom: 10px;font-weight: bold;">
                        Filter by
                        Date</h1>
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    <h4 class="text-center" style="color: var(--main-color);margin-bottom: 15px;">Select range of
                        dates:</h4>
                </div>
            </div>
            <div class="form-row" style="margin-bottom: 15px;">
                <div class="col d-flex flex-column justify-content-center align-items-center flex-sm-column flex-md-row flex-lg-row flex-xl-row">
                    <input class="form-control" type="date" name="date_start" required/>
                    <span style="color: var(--main-color);margin: 7px;">to</span>
                    <input class="form-control" type="date" name="date_end" required/></div>
            </div>
            <div class="form-row">
                <div class="col">
                    <h4 class="text-center" style="color: var(--main-color);margin-bottom: 15px;">Select fields to
                        include:</h4>
                </div>
            </div>
            <div class="form-row" style="margin-bottom: 20px;">
                <div class="col d-inline-flex justify-content-center flex-wrap">
                    {% for field in patients %}
                        {% if not field.name == 'id' and not field.name == 'surgeryinformation' and not field.name == 'uploaded' and not field.name == 'patient_image' and not field.name == 'injury_image' %}
                            <button type="button" class="btn btn-sm btn-fields"
                                    data-checkbox="id_patient__{{ field.name }}"
                                    style="margin: 5px;color: var(--main-accent); background-color: rgba(252,156,52, 0.3); font-weight: bold; border-radius: 50px">
                                {{ field.verbose_name|title }}
                            </button>
                            <input class="d-none" type="checkbox"
                                   name="checks[]" value="patient__{{ field.name }}"
                                   id="id_patient__{{ field.name }}">
                        {% endif %}
                    {% endfor %}
                    {% for field in surgeries %}
                        {% if not field.name == 'id' and not field.name == 'image' and not field.name == 'patient' and not field.name == 'procedurecodes' %}
                            <button type="button" class="btn btn-sm btn-fields" data-checkbox="id_{{ field.name }}"
                                    style="margin: 5px;color: var(--main-accent); background-color: rgba(252,156,52, 0.3); font-weight: bold; border-radius: 50px">
                                {{ field.verbose_name|title }}
                            </button>
                            <input class="d-none" type="checkbox"
                                   name="checks[]" value="{{ field.name }}"
                                   id="id_{{ field.name }}">
                        {% endif %}
                    {% endfor %}
                    <button type="button" class="btn btn-sm btn-fields" data-checkbox="id_procedure_codes"
                            style="margin: 5px;color: var(--main-accent); background-color: rgba(252,156,52, 0.3); font-weight: bold; border-radius: 50px">
                        Procedure Codes
                    </button>
                    <input class="d-none" type="checkbox"
                           name="procedure_codes"
                           id="id_procedure_codes">
                </div>
            </div>
            <div class="form-row">
                <div class="col d-flex justify-content-center align-items-center">
                    <button class="btn btn-success btn-lg" type="submit" style="border-radius: 10px;">
                        Generate Excel Spreadsheet
                    </button>
                </div>
            </div>
            <label>
                <input class="d-none" id="fields" type="text" name="fields" value="">
            </label>
        </form>
    </main>
{% endblock %}

