{% extends 'base.html' %}

{% block header %}
    <title>Groups</title>
{% endblock %}

{% block content %}
    <div class="container-fluid d-flex flex-column bg-white"
         style="padding: 0;font-family: Raleway, sans-serif;min-height: 100vh;">
        <div class="row no-gutters" style="padding: 1rem;">
            <div class="col" style="padding: 1rem;border-radius: 8px;background: whitesmoke;">
                <h1 style="margin: 0;color: var(--main-color);font-weight: bold;">Groups</h1>
                <hr/>
                <p class="lead" style="color: var(--accent-color);font-weight: bold;margin: 0;">
                    Surgeries are partitioned into groups for the approvers to more easily divide surgeries for payment
                    purposes. Each surgery has an optional field named &quot;Group&quot; that allows the data entry team
                    to group the surgeries.</p>
            </div>
        </div>
        <div class="row no-gutters flex-grow-1" style="padding: 1rem;">
            <div class="col" style="border-radius: 8px;background: whitesmoke;padding: 1rem;">
                <div class="row no-gutters">
                    {% for group in groups %}
                    <div class="col-12 col-md-6 col-lg-6 col-xl-4" style="padding: 0.5rem;">
                        <div class="card h-100 d-flex justify-content-center" style="border-style: none;border-radius: 8px;">
                            <div class="card-body d-flex flex-column">
                                <a href="{% url 'group_page' group.id %}" class="patient-name"
                                    style="font-weight: bold;color: var(--main-color);font-size: 1.5rem;">{{ group.name }}</a>
                                <div class="flex-grow-1 d-flex flex-column" style="padding: 5px">
                                <h5 class="text-muted card-subtitle mb-2"
                                    style="color: var(--accent-color);font-weight: bold;margin-top: 0.5rem">{{ group.surgery_count }}
                                    {% if group.surgery_count == 1 %}Surgery{% else %}Surgeries{% endif %}</h5>
                                <p class="card-text"
                                   style="font-weight: bold;color: var(--accent-color);">{{ group.description|truncatewords:25 }}</p>
                                    <div class="flex-grow-1 d-flex align-items-end flex-wrap">
                                <a href="{% url 'group_add_surgeries' group.id %}" class="btn btn-transparent-tvachacare mt-2" role="button"
                                   style="margin-right: 10px;">Add Surgeries</a>
                                <a href="{% url 'edit_group' group.id %}" class="btn btn-transparent-success mt-2" role="button"
                                   style="margin-right: 10px;">Edit</a>
                                <a href="{% url 'delete_group' group.id %}" class="btn btn-transparent-danger mt-2" role="button">Delete</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <div class="col-12 col-md-6 col-lg-6 col-xl-4" style="padding: 0.5rem;">
                        <a href="{% url 'add_group' %}" class="btn btn-block btn-tvachacare d-flex justify-content-center align-items-center" role="button"
                                style="height: 100%;font-weight: bold;border-radius: 8px;">
                        <span class="h3 d-flex flex-column justify-content-center align-items-center" style="font-weight: bold;">
                            <i class="fas fa-plus m-3" style="width: 30px;margin-right: 10px;text-align: center;"></i><span style="padding-bottom: 1rem">Add Group</span></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}