{% extends 'base.html' %}
{% load static %}

{% block header %}
    <link rel="stylesheet" href="{% static 'homePage.css' %}">
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script>

        $(document).ready(function () {
            $('.search-patients').on('keyup', function () {
                let information = $(this).val().toLowerCase();
                $('.list-group li').filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(information) > -1)
                });
            });
        });

    </script>
    <title>TvachaCare</title>
    <style>
        .display-none {
            display: none !important;
            transition-duration: 0.2s;

        }

        .edit-input {
            padding: 5px 10px;
            font-family: "Open Sans", sans-serif;
            width: 50%;
        }

        .overlay-profile {
            position: absolute;
            display: flex;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            opacity: 0;
            transition: .3s ease;
            background-color: #fff;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            cursor: pointer;
        }

        .overlay-profile:hover {
            opacity: 0.7;
        }

        .overlay-profile input {
            background: none;
            border: none;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }

        .overlay-profile label {
            cursor: pointer;
        }

        .overlay-profile i {
            font-size: 21px;
            cursor: pointer;
            color: #fc9c34;
        }

        .container-profile-picture img {
            width: 30vw;
            object-fit: cover;
            cursor: pointer;
            height: 30vw;
        }
        @media (max-width: 500px) {
            .container-h1{
                font-size: x-large;
            }
        }
    </style>
{% endblock %}

{% block content %}
    <main class="d-flex d-flex flex-column justify-content-center justify-content-center align-items-center"
          style="min-height: 100vh;">
        <div class="container" style="background-color: #fff;">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="container-h1" style="color: #fc9c34;padding-top: 20px;padding-bottom: 15px;font-weight: bold;">
                        Hello, {{ account.first_name }}!</h1>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div>
                        <ul class="nav nav-pills nav-justified">
                            {% if account.group == 'Approver' %}
                                <li class="nav-item"><a role="tab" data-toggle="pill" class="nav-link active"
                                                        href="#tab-1"
                                                        style="border-width: 1px;border-style: none;">Awaiting
                                    Approval</a></li>
                            {% else %}
                                <li class="nav-item"><a role="tab" data-toggle="pill" class="nav-link active"
                                                        href="#tab-1"
                                                        style="border-width: 1px;border-style: none;">Patients</a></li>
                            {% endif %}
                            <li class="nav-item"><a role="tab" data-toggle="pill" class="nav-link"
                                                    href="#tab-3">Account</a></li>
                        </ul>
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="tab-1" style="margin: 20px;">
                                {% if account.group == 'Approver' %}
                                    <h2 style="color: #092327;">Awaiting Approval</h2>
                                {% else %}
                                    <h2 style="color: #092327;">Patients</h2>
                                {% endif %}
                                <input type="search" placeholder="Search for Patients..." class="search-patients"/>
                                {% if object %}
                                    <ul class="list-group"
                                        style="color: #092327;font-family: Raleway, sans-serif;font-weight: bold;font-style: normal;text-align: left;padding-bottom: 15px;">
                                        {% for patients in object %}
                                            <li class="list-group-item">
                                                <a href="{% url 'patient_page' patients.slug %}"
                                                   class='patient-name'>{{ patients.last_name }}, {{ patients.first_name }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% else %}
                                    <p class="m-auto">None</p>
                                {% endif %}
                            </div>
                            <div role="tabpanel" class="tab-pane" id="tab-3">
                                <form method="post"
                                      class="col d-xl-flex flex-column justify-content-xl-center">{% csrf_token %}
                                    <div class="d-flex d-xl-flex flex-column align-items-center justify-content-xl-center align-items-xl-center"
                                         style="width: 100%;padding: 20px;">
                                        {% if account.profile_picture_path %}
                                            <div class="container-profile-picture" style="position: relative">
                                                <img class="rounded-circle"
                                                     src="{{ account.profile_picture_path.url }}" width="30%"
                                                     alt="Profile Picture"/>
                                                <div class="overlay-profile">
                                                    <input accept="image/*" id="profile_picture_path"
                                                           type="file"
                                                           style="position: absolute; opacity: 0; width: 100%; height: 100%"
                                                           name="profile_picture_path">
                                                    <label for="choose-file"><i class="fa fa-edit"></i></label>
                                                </div>
                                            </div>
                                        {% else %}
                                            <div class="container-profile-picture" style="position: relative">
                                                <img class="rounded-circle"
                                                     src="{% static 'img/avatarTvachaCare.png' %}" width="30%"
                                                     alt="Profile Picture"/>
                                                <div class="overlay-profile">
                                                    <input accept="image/*" id="profile_picture_path"
                                                           type="file"
                                                           style="position: absolute; opacity: 0; width: 100%; height: 100%"
                                                           name="profile_picture_path">
                                                    <label for="choose-file"><i class="fa fa-edit"></i></label>
                                                </div>
                                            </div>
                                        {% endif %}
                                        <h2 class="form-span"
                                            style="color: #fc9c34;font-family: Raleway, sans-serif; margin-top: 20px;">{{ account.name }}</h2>
                                        <input class="edit-input display-none" required type="text"
                                               placeholder="Username" name="username"
                                               value="{{ account.name }}" style="width: auto; margin-top: 20px"/>
                                        <hr>
                                        <div class="row" style="width: 100%;">
                                            <div class="col d-flex flex-column justify-content-center" style="padding-right: 0; padding-left: 0">
                                                <ul class="list-group" style="border-style: none;">
                                                    <li class="list-group-item d-flex flex-row justify-content-between align-items-center"
                                                        style="border-style: none;width: 100%;padding: .75rem 0;">
                                                        <strong style="color: #fc9c34;">Email:</strong>
                                                        <span class="form-span"
                                                              style="color: #fc9c34;padding-left: 10px;">{{ account.email }}</span>
                                                        <input class="edit-input display-none" required type="email"
                                                               placeholder="Email" name="email"
                                                               value="{{ account.email }}"/>
                                                        <button onclick="editForm()"
                                                                class="btn d-lg-flex justify-content-lg-center align-items-lg-center invisible"
                                                                type="button" style="background-color: #fc9c34;">
                                                            <i class="fas fa-edit edit-icon"></i>
                                                        </button>
                                                    </li>
                                                    <li class="list-group-item d-flex flex-row justify-content-between align-items-center"
                                                        style="border-style: none;width: 100%;padding: .75rem 0;">
                                                        <strong style="color: #fc9c34;">First Name:</strong>
                                                        <span class="form-span"
                                                              style="color: #fc9c34;padding-left: 10px;">{{ account.first_name }}</span>
                                                        <input class="edit-input display-none" required type="text"
                                                               placeholder="First Name"
                                                               name="first_name"
                                                               value="{{ account.first_name }}"/>
                                                        <button onclick="editForm()"
                                                                class="btn d-lg-flex justify-content-lg-center align-items-lg-center invisible"
                                                                type="button" style="background-color: #fc9c34;">
                                                            <i class="fas fa-edit edit-icon"></i>
                                                        </button>
                                                    </li>
                                                    <li class="list-group-item d-flex flex-row justify-content-between align-items-center"
                                                        style="border-style: none;width: 100%;padding: .75rem 0;">
                                                        <strong style="color: #fc9c34;">Last Name:</strong>
                                                        <span class="form-span"
                                                              style="color: #fc9c34;padding-left: 10px;">{{ account.last_name }}</span>
                                                        <input class="edit-input display-none" required type="text"
                                                               placeholder="Last Name" name="last_name"
                                                               value="{{ account.last_name }}"/>
                                                        <button onclick="editForm()"
                                                                class="btn d-lg-flex justify-content-lg-center align-items-lg-center invisible"
                                                                type="button" style="background-color: #fc9c34;">
                                                            <i class="fas fa-edit edit-icon"></i>
                                                        </button>
                                                    </li>
                                                </ul>
                                                {% for field in account_form %}
                                                    {% for error in field.errors %}

                                                    {% endfor %}
                                                {% endfor %}

                                                {% if account_form.non_field_errors %}
                                                    <div style="color:red;">
                                                        <p>{{ account_form.non_field_errors }}</p>
                                                    </div>
                                                {% endif %}
                                                <div role="group" class="btn-group edit">
                                                    <button onclick="editForm()"
                                                                class="btn d-flex justify-content-center align-items-center"
                                                                type="button" style="background-color: #fc9c34;">
                                                            <i class="fas fa-edit edit-icon"></i>
                                                        </button>
                                                </div>
                                                <div role="group" class="btn-group save">
                                                    <button class="btn btn-danger display-none" onclick="resetForm()"
                                                            type="reset">Cancel
                                                    </button>
                                                    <button class="btn btn-success display-none" type="submit">Save
                                                        Changes
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script>

        let patientList = $('.list-group');
        let listItems = patientList.children($('.list-group-item')).get()
        listItems.sort(function (a, b) {
            let compA = $(a).text().toUpperCase();
            let compB = $(b).text().toUpperCase();
            return (compA < compB) ? -1 : (compA > compB) ? 1 : 0;
        })
        $.each(patientList, function (idx, itm) {
            patientList.append(itm)
        });

        function editForm() {
            $('.form-span').addClass('display-none')
            $('.edit button').addClass('display-none')
            $('.save button').removeClass('display-none')
            $('.edit-input').removeClass('display-none')
        }

        function resetForm() {
            $('.form-span').removeClass('display-none')
            $('.edit button').removeClass('display-none')
            $('.save button').addClass('display-none')
            $('.edit-input').addClass('display-none')
        }

    </script>

{% endblock %}