{% extends 'base.html' %}
{% load static %}

{% block header %}
    <link rel="stylesheet" href="{% static 'homePage.css' %}">
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script>
        $(document).ready(function () {
            $('.search-patients').on('keyup', function () {
                let information = $(this).val().toLowerCase();
                $('.list-group .patient-list').filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(information) > -1)
                });
            });
        });

        function profileImage(event) {
            let image = URL.createObjectURL(event.target.files[0]);
            $('.profile-image').attr('src', image)
            console.log(image)
        }

        $(document).ready(function () {
            $('.btn-surgeries').text("View Denied Surgeries");
            $('.btn-surgeries-approved').text("View Approved Surgeries")
        })

        function openDeniedSurgeries() {
            if ($('.btn-surgeries').text() === "View Denied Surgeries") {
                $('.denied-patients').slideDown(300)
                $('.btn-surgeries').text("Close");
            } else {
                $('.btn-surgeries').text("View Denied Surgeries");
                $('.denied-patients').slideUp(300)
            }
        }

        function openApprovedSurgeries() {
            if ($('.btn-surgeries-approved').text() === "View Approved Surgeries") {
                $('.approved-patients').slideDown(300)
                $('.btn-surgeries-approved').text("Close");
            } else {
                $('.btn-surgeries-approved').text("View Approved Surgeries");
                $('.approved-patients').slideUp(300)
            }
        }

        function openInfo(patientid) {
            let patientID = '.patient-' + patientid
            $(patientID).slideToggle(200);
        }

        function openSurgeryInfo(surgeryid) {
            let surgeryID = '.surgery-' + surgeryid
            $(surgeryID).slideToggle(200);
        }

    </script>
    <title>TvachaCare</title>
    <style>
        .display-none {
            display: none !important;
            transition-duration: 0.2s;

        }

        .edit-input {
            padding: 5px 10px;
            font-family: "Open Sans", sans-serif;
            width: 50%;
        }

        .overlay-profile {
            position: absolute;
            display: flex;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            opacity: 0;
            transition: .3s ease;
            background-color: #fff;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            cursor: pointer;
        }

        .overlay-profile:hover {
            opacity: 0.7;
        }

        .overlay-profile input {
            background: none;
            border: none;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }

        .overlay-profile label {
            cursor: pointer;
        }

        .overlay-profile i {
            font-size: 21px;
            cursor: pointer;
            color: #fc9c34;
        }

        .container-profile-picture img {
            width: 30vw;
            object-fit: cover;
            height: 30vw;
        }

        @media (max-width: 500px) {
            .container-h1 {
                font-size: x-large;
            }
        }
    </style>
{% endblock %}

{% block content %}
    <main class="d-flex d-flex flex-column justify-content-center justify-content-center align-items-center"
          style="min-height: 100vh;">
        <div class="container rounded shadow" style="background-color: #fff;">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="container-h1"
                        style="color: #fc9c34;padding-top: 20px;padding-bottom: 15px;font-weight: bold;">
                        Hello, {{ account.first_name }}!</h1>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div>
                        <ul class="nav nav-pills nav-justified">
                            {% if account.group.name == 'Approver' %}
                                <li class="nav-item"><a role="tab" data-toggle="pill" class="nav-link active"
                                                        href="#tab-1"
                                                        style="border-width: 1px;border-style: none;">Awaiting
                                    Approval</a></li>
                            {% else %}
                                <li class="nav-item"><a role="tab" data-toggle="pill" class="nav-link active"
                                                        href="#tab-1"
                                                        style="border-width: 1px;border-style: none;">Patients</a></li>
                            {% endif %}
                            <li class="nav-item"><a role="tab" data-toggle="pill" class="nav-link"
                                                    href="#tab-3">Account</a></li>
                        </ul>
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="tab-1" style="margin: 20px;">
                                {% if account.group.name == 'Approver' %}
                                    <h2 style="color: #092327;">Awaiting Approval</h2>
                                {% else %}
                                    <h2 style="color: #092327;">Patients</h2>
                                {% endif %}
                                <input type="search" placeholder="Search for Patients..." class="search-patients"/>
                                {% if account.group.name == 'Approver' %}
                                    {% if object %}
                                        <ul class="list-group"
                                            style="color: #092327;font-family: Raleway, sans-serif;font-weight: bold;font-style: normal;text-align: left;padding-bottom: 15px;">
                                            {% for surgery in object %}
                                                {% if surgery.is_approved == False and surgery.is_denied == False %}
                                                    <li class="list-group-item patient-list"
                                                        style="display: flex; justify-content: space-between; align-items: center">
                                                        <a href="{% url 'surgery_page' surgery.patient.slug surgery.id %}"
                                                           class='patient-name'>{{ surgery.patient.last_name }}, {{ surgery.patient.first_name }}</a>
                                                        <a href="{% url 'surgery_page' surgery.patient.slug surgery.id %}"
                                                           class='patient-name'>Surgery ID #{{ surgery.id }}</a>
                                                        <button class="btn d-flex justify-content-center align-items-center"
                                                                style="padding: 5px; border-radius: 50px"
                                                                onclick="openSurgeryInfo({{ surgery.id }})">
                                                            <i class="fa fa-info-circle" style="margin-right: 1px;"></i>
                                                        </button>
                                                    </li>
                                                    <li class="list-group-item list-group-item-secondary surgery-{{ surgery.id }}"
                                                        style="display: none;font-family: 'Open Sans', sans-serif; font-weight: normal;">
                                                        <div class="d-flex justify-content-between">
                                                            <small>Burn Operation
                                                                Number: {{ surgery.burn_operation_number }}</small>
                                                            {% if surgery.patient_district %}
                                                                <small>District: {{ surgery.patient_district }}</small>{% endif %}
                                                            <small>Uploaded: {{ surgery.date_of_upload }}</small></div>
                                                    </li>
                                                {% else %}
                                                {% endif %}
                                            {% endfor %}
                                        </ul>
                                        <div role="group"
                                             class="button-container d-flex justify-content-around btn-group"
                                             style="width: 100%; margin-bottom: 20px">
                                            <button class="btn btn-sm btn-surgeries btn-danger"
                                                    onclick="openDeniedSurgeries()">View Denied Surgeries
                                            </button>
                                            <button class="btn btn-sm btn-surgeries-approved btn-success"
                                                    onclick="openApprovedSurgeries()">View Approved Surgeries
                                            </button>
                                        </div>
                                        <div class="denied-patients" style="display: none">
                                            <h5 style="color: #092327;">Denied Surgeries</h5>
                                            <ul class="list-group" id="denied-list"
                                                style="color: #092327;font-family: Raleway, sans-serif;font-weight: bold;font-style: normal;text-align: left;padding-bottom: 15px;">
                                                {% for surgery in object %}
                                                    {% if surgery.is_approved == False and surgery.is_denied == True %}
                                                        <li class="list-group-item patient-list"
                                                            style="display: flex; justify-content: space-between; align-items: center">
                                                            <a href="{% url 'surgery_page' surgery.patient.slug surgery.id %}"
                                                               class='patient-name'>{{ surgery.patient.last_name }}, {{ surgery.patient.first_name }}</a>
                                                            <a href="{% url 'surgery_page' surgery.patient.slug surgery.id %}"
                                                               class='patient-name'>Surgery ID #{{ surgery.id }}</a>
                                                            <button class="btn d-flex justify-content-center align-items-center"
                                                                    style="padding: 5px; border-radius: 50px"
                                                                    onclick="openSurgeryInfo({{ surgery.id }})">
                                                                <i class="fa fa-info-circle"
                                                                   style="margin-right: 1px;"></i>
                                                            </button>
                                                        </li>
                                                        <li class="list-group-item list-group-item-secondary surgery-{{ surgery.id }}"
                                                            style="display: none;font-family: 'Open Sans', sans-serif; font-weight: normal;">
                                                            <div class="d-flex justify-content-between">
                                                                {% if surgery.reason %}
                                                                    <small>Notes for
                                                                        Denial: {{ surgery.reason }}</small>{% endif %}
                                                                <small>Uploaded: {{ surgery.date_of_upload }}</small>
                                                            </div>
                                                        </li>
                                                    {% else %}
                                                    {% endif %}
                                                {% endfor %}
                                            </ul>
                                        </div>
                                        <div class="approved-patients" style="display: none">
                                            <h5 style="color: #092327;">Approved Surgeries</h5>
                                            <ul class="list-group" id="denied-list"
                                                style="color: #092327;font-family: Raleway, sans-serif;font-weight: bold;font-style: normal;text-align: left;padding-bottom: 15px;">
                                                {% for surgery in object %}
                                                    {% if surgery.is_approved == True and surgery.is_denied == False %}
                                                        <li class="list-group-item patient-list"
                                                            style="display: flex; justify-content: space-between; align-items: center">
                                                            <a href="{% url 'surgery_page' surgery.patient.slug surgery.id %}"
                                                               class='patient-name'>{{ surgery.patient.last_name }}, {{ surgery.patient.first_name }}</a>
                                                            <a href="{% url 'surgery_page' surgery.patient.slug surgery.id %}"
                                                               class='patient-name'>Surgery ID #{{ surgery.id }}</a>
                                                            <button class="btn d-flex justify-content-center align-items-center"
                                                                    style="padding: 5px; border-radius: 50px"
                                                                    onclick="openSurgeryInfo({{ surgery.id }})">
                                                                <i class="fa fa-info-circle"
                                                                   style="margin-right: 1px;"></i>
                                                            </button>
                                                        </li>
                                                        <li class="list-group-item list-group-item-secondary surgery-{{ surgery.id }}"
                                                            style="display: none;font-family: 'Open Sans', sans-serif; font-weight: normal;">
                                                            <div class="d-flex justify-content-between">
                                                                {% if surgery.reason %}
                                                                    <small>Notes for
                                                                        Approval: {{ surgery.reason }}</small>{% endif %}
                                                                <small>Uploaded: {{ surgery.date_of_upload }}</small>
                                                            </div>
                                                        </li>
                                                    {% else %}
                                                    {% endif %}
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    {% else %}
                                    {% endif %}
                                {% else %}
                                    {% if object %}
                                        <ul class="list-group"
                                            style="color: #092327;font-family: Raleway, sans-serif;font-weight: bold;font-style: normal;text-align: left;padding-bottom: 15px;">
                                            {% for patients in object %}
                                                <li class="list-group-item patient-list"
                                                    style="display: flex; justify-content: space-between; align-items: center">
                                                    <a href="{% url 'patient_page' patients.slug %}"
                                                       class='patient-name'>{{ patients.last_name }}, {{ patients.first_name }}</a>
                                                    <button class="btn d-flex justify-content-center align-items-center"
                                                            style="padding: 5px; border-radius: 50px"
                                                            onclick="openInfo({{ patients.id }})">
                                                        <i class="fa fa-info-circle"></i>
                                                    </button>
                                                </li>
                                                <li class="list-group-item list-group-item-secondary patient-{{ patients.id }}"
                                                    style="display: none;font-family: 'Open Sans', sans-serif; font-weight: normal;">
                                                    <div class="d-flex justify-content-between"
                                                         style="margin-bottom: 20px">
                                                        <small>Patient Record
                                                            Number: {{ patients.patient_record_number }}</small>
                                                        {% if patients.telephone_number %}
                                                            <small>Telephone
                                                                Number: {{ patients.telephone_number }}</small>{% endif %}
                                                        <small>Uploaded: {{ patients.uploaded }}</small></div>
                                                    <h5>Surgeries:</h5>

                                                    <div class="d-flex justify-content-between">
                                                        <ul class="list-group w-100">
                                                            {% for surgeries in surgery %}
                                                                {% if surgeries.patient == patients %}
                                                                    <li class="list-group-item  patient-list"
                                                                        style="display: flex; justify-content: space-between; align-items: center">
                                                                        <a href="{% url 'surgery_page' surgeries.patient.slug surgeries.id %}"
                                                                           class='patient-name'>ID
                                                                            #{{ surgeries.id }}</a>
                                                                        {% if surgeries.is_approved == True %}
                                                                            <span class="badge badge-pill badge-success">Approved</span>
                                                                        {% elif surgeries.is_denied == True %}
                                                                            <span class="badge badge-pill badge-danger">Denied</span>
                                                                        {% else %}
                                                                            <span class="badge badge-pill badge-secondary">Awaiting Approval</span>
                                                                        {% endif %}
                                                                        <a href="{% url 'surgery_page' surgeries.patient.slug surgeries.id %}"
                                                                           class='patient-name'>Uploaded {{ surgeries.date_of_upload }}</a>
                                                                    </li>
                                                                {% endif %}
                                                            {% endfor %}
                                                            <a href="{% url 'add_surgery' patients.slug %}"
                                                               class="btn d-flex justify-content-center align-items-center list-group-item"
                                                               style="background-color: #FC9C34;color: white; border-color: transparent; margin-top: 5px">
                                                                <i class="fa fa-plus"></i>
                                                            </a>
                                                        </ul>
                                                    </div>


                                                </li>
                                            {% endfor %}
                                        </ul>
                                        <div role="group"
                                             class="button-container d-flex justify-content-around btn-group"
                                             style="width: 100%; margin-bottom: 20px">
                                            <button class="btn btn-sm btn-surgeries btn-danger"
                                                    onclick="openDeniedSurgeries()">View Denied
                                                Surgeries
                                            </button>
                                            <button class="btn btn-sm btn-surgeries-approved btn-success"
                                                    onclick="openApprovedSurgeries()">View
                                                Approved Surgeries
                                            </button>
                                        </div>
                                        <div class="denied-patients" style="display: none">
                                            <h5 style="color: #092327;">Denied Surgeries</h5>
                                            <ul class="list-group" id="denied-list"
                                                style="color: #092327;font-family: Raleway, sans-serif;font-weight: bold;font-style: normal;text-align: left;padding-bottom: 15px;">
                                                {% for surgery in surgery %}
                                                    {% if surgery.is_approved == False and surgery.is_denied == True %}
                                                        <li class="list-group-item patient-list"
                                                            style="display: flex; justify-content: space-between; align-items: center">
                                                            <a href="{% url 'surgery_page' surgery.patient.slug surgery.id %}"
                                                               class='patient-name'>{{ surgery.patient.last_name }}, {{ surgery.patient.first_name }}</a>
                                                            <a href="{% url 'surgery_page' surgery.patient.slug surgery.id %}"
                                                               class='patient-name'>Surgery ID #{{ surgery.id }}</a>
                                                            <button class="btn d-flex justify-content-center align-items-center"
                                                                    style="padding: 5px; border-radius: 50px"
                                                                    onclick="openSurgeryInfo({{ surgery.id }})">
                                                                <i class="fa fa-info-circle"
                                                                   style="margin-right: 1px;"></i>
                                                            </button>
                                                        </li>
                                                        <li class="list-group-item list-group-item-secondary surgery-{{ surgery.id }}"
                                                            style="display: none;font-family: 'Open Sans', sans-serif; font-weight: normal;">
                                                            <div class="d-flex justify-content-between">
                                                                {% if surgery.reason %}
                                                                    <small>Notes for
                                                                        Denial: {{ surgery.reason }}</small>{% endif %}
                                                                <small>Uploaded: {{ surgery.date_of_upload }}</small>
                                                            </div>
                                                        </li>
                                                    {% else %}
                                                    {% endif %}
                                                {% endfor %}
                                            </ul>
                                        </div>
                                        <div class="approved-patients" style="display: none">
                                            <h5 style="color: #092327;">Approved Surgeries</h5>
                                            <ul class="list-group" id="denied-list"
                                                style="color: #092327;font-family: Raleway, sans-serif;font-weight: bold;font-style: normal;text-align: left;padding-bottom: 15px;">
                                                {% for surgery in surgery %}
                                                    {% if surgery.is_approved == True and surgery.is_denied == False %}
                                                        <li class="list-group-item patient-list"
                                                            style="display: flex; justify-content: space-between; align-items: center">
                                                            <a href="{% url 'surgery_page' surgery.patient.slug surgery.id %}"
                                                               class='patient-name'>{{ surgery.patient.last_name }}, {{ surgery.patient.first_name }}</a>
                                                            <a href="{% url 'surgery_page' surgery.patient.slug surgery.id %}"
                                                               class='patient-name'>Surgery ID #{{ surgery.id }}</a>
                                                            <button class="btn d-flex justify-content-center align-items-center"
                                                                    style="padding: 5px; border-radius: 50px"
                                                                    onclick="openSurgeryInfo({{ surgery.id }})">
                                                                <i class="fa fa-info-circle"
                                                                   style="margin-right: 1px;"></i>
                                                            </button>
                                                        </li>
                                                        <li class="list-group-item list-group-item-secondary surgery-{{ surgery.id }}"
                                                            style="display: none;font-family: 'Open Sans', sans-serif; font-weight: normal;">
                                                            <div class="d-flex justify-content-between">
                                                                {% if surgery.reason %}
                                                                    <small>Notes for
                                                                        Approval: {{ surgery.reason }}</small>{% endif %}
                                                                <small>Uploaded: {{ surgery.date_of_upload }}</small>
                                                            </div>
                                                        </li>
                                                    {% else %}
                                                    {% endif %}
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    {% else %}
                                        <p style="color: gray;text-align: center;margin-top: 10px !important;"
                                           class="m-auto">None</p>
                                    {% endif %}
                                {% endif %}
                            </div>
                            <div role="tabpanel" class="tab-pane" id="tab-3">
                                <form method="post" enctype="multipart/form-data"
                                      class="col d-xl-flex flex-column justify-content-xl-center">{% csrf_token %}
                                    <div class="d-flex d-xl-flex flex-column align-items-center justify-content-xl-center align-items-xl-center"
                                         style="width: 100%;padding: 20px;">
                                        {% if account.profile_picture_path %}
                                            <div class="container-profile-picture" style="position: relative">
                                                <img class="rounded-circle profile-image"
                                                     src="{{ account.profile_picture_path.url }}" width="30%"
                                                     alt="Profile Picture"/>
                                                <div class="overlay-profile d-none">
                                                    <input accept="image/*" id="profile_picture_path"
                                                           type="file"
                                                           style="position: absolute; opacity: 0; width: 100%; height: 100%"
                                                           onchange="profileImage(event)"
                                                           name="profile_picture_path">
                                                    <label for="choose-file"><i class="fa fa-edit"></i></label>
                                                </div>
                                            </div>
                                        {% else %}
                                            <div class="container-profile-picture" style="position: relative">
                                                <img class="rounded-circle profile-image"
                                                     src="{% static 'img/avatarTvachaCare.png' %}" width="30%"
                                                     alt="Profile Picture"/>
                                                <div class="overlay-profile d-none">
                                                    <input accept="image/*" id="profile_picture_path"
                                                           type="file"
                                                           style="position: absolute; opacity: 0; width: 100%; height: 100%"
                                                           onchange="profileImage(event)"
                                                           name="profile_picture_path">
                                                    <label for="choose-file"><i class="fa fa-edit"></i></label>
                                                </div>
                                            </div>
                                        {% endif %}
                                        <h2 class="form-span"
                                            style="color: #fc9c34;font-family: Raleway, sans-serif; margin-top: 20px;">{{ account.name }}</h2>
                                        <input class="edit-input display-none" required type="text"
                                               placeholder="Username" name="username"
                                               value="{{ account.name }}" style="width: auto; margin-top: 20px"/>
                                        <hr>
                                        <div class="row" style="width: 100%;">
                                            <div class="col d-flex flex-column justify-content-center"
                                                 style="padding-right: 0; padding-left: 0">
                                                <ul class="list-group" style="border-style: none;">
                                                    <li class="list-group-item d-flex flex-row justify-content-between align-items-center"
                                                        style="border-style: none;width: 100%;padding: .75rem 0;">
                                                        <strong style="color: #fc9c34;">Email:</strong>
                                                        <span class="form-span"
                                                              style="color: #fc9c34;padding-left: 10px;">{{ account.email }}</span>
                                                        <input class="edit-input display-none" required type="email"
                                                               placeholder="Email" name="email"
                                                               value="{{ account.email }}"/>
                                                        <button onclick="editForm()"
                                                                class="btn d-lg-flex justify-content-lg-center align-items-lg-center invisible"
                                                                type="button" style="background-color: #fc9c34;">
                                                            <i class="fas fa-edit edit-icon"></i>
                                                        </button>
                                                    </li>
                                                    <li class="list-group-item d-flex flex-row justify-content-between align-items-center"
                                                        style="border-style: none;width: 100%;padding: .75rem 0;">
                                                        <strong style="color: #fc9c34;">First Name:</strong>
                                                        <span class="form-span"
                                                              style="color: #fc9c34;padding-left: 10px;">{{ account.first_name }}</span>
                                                        <input class="edit-input display-none" required type="text"
                                                               placeholder="First Name"
                                                               name="first_name"
                                                               value="{{ account.first_name }}"/>
                                                        <button onclick="editForm()"
                                                                class="btn d-lg-flex justify-content-lg-center align-items-lg-center invisible"
                                                                type="button" style="background-color: #fc9c34;">
                                                            <i class="fas fa-edit edit-icon"></i>
                                                        </button>
                                                    </li>
                                                    <li class="list-group-item d-flex flex-row justify-content-between align-items-center"
                                                        style="border-style: none;width: 100%;padding: .75rem 0;">
                                                        <strong style="color: #fc9c34;">Last Name:</strong>
                                                        <span class="form-span"
                                                              style="color: #fc9c34;padding-left: 10px;">{{ account.last_name }}</span>
                                                        <input class="edit-input display-none" required type="text"
                                                               placeholder="Last Name" name="last_name"
                                                               value="{{ account.last_name }}"/>
                                                        <button onclick="editForm()"
                                                                class="btn d-lg-flex justify-content-lg-center align-items-lg-center invisible"
                                                                type="button" style="background-color: #fc9c34;">
                                                            <i class="fas fa-edit edit-icon"></i>
                                                        </button>
                                                    </li>
                                                </ul>
                                                {% for field in account_form %}
                                                    {% for error in field.errors %}

                                                    {% endfor %}
                                                {% endfor %}

                                                {% if account_form.non_field_errors %}
                                                    <div style="color:red;">
                                                        <p>{{ account_form.non_field_errors }}</p>
                                                    </div>
                                                {% endif %}
                                                <div role="group" class="btn-group edit">
                                                    <button onclick="editForm()"
                                                            class="btn d-flex justify-content-center align-items-center"
                                                            type="button" style="background-color: #fc9c34;">
                                                        <i class="fas fa-edit edit-icon"></i>
                                                    </button>
                                                </div>
                                                <div role="group" class="btn-group save">
                                                    <button class="btn btn-danger display-none" onclick="resetForm()"
                                                            type="reset">Cancel
                                                    </button>
                                                    <button class="btn btn-success display-none" type="submit">Save
                                                        Changes
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script>

        let patientList = $('.list-group');
        let listItems = patientList.children($('.list-group-item')).get()
        listItems.sort(function (a, b) {
            let compA = $(a).text().toUpperCase();
            let compB = $(b).text().toUpperCase();
            return (compA < compB) ? -1 : (compA > compB) ? 1 : 0;
        })
        $.each(patientList, function (idx, itm) {
            patientList.append(itm)
        });

        function editForm() {
            $('.form-span').addClass('display-none')
            $('.edit button').addClass('display-none')
            $('.save button').removeClass('display-none')
            $('.edit-input').removeClass('display-none')
            $('.overlay-profile').removeClass('d-none')
        }

        function resetForm() {
            $('.form-span').removeClass('display-none')
            $('.edit button').removeClass('display-none')
            $('.save button').addClass('display-none')
            $('.edit-input').addClass('display-none')
            $('.overlay-profile').addClass('d-none')
        }

    </script>

{% endblock %}