{% extends 'base.html' %}
{% load static %}
{% load getattribute %}

{% block header %}
    <link rel="stylesheet" href="{% static 'homePage.css' %}">
    <script src="{% static 'js/index.js' %}"></script>
    <title>TvachaCare</title>
{% endblock %}

{% block content %}
    {% if not account.group.can_approve %}
        {% if object %}
            {% for patient in object %}
                <div class="justify-content-center align-items-center delete-patient-{{ patient.id }}"
                     style="display: none;top: 0;left: 0;width: 100vw;height: 100vh;position: fixed;z-index: 1000;background-color: rgba(128,128,128,0.57);">
                    <div class="d-flex flex-column"
                         style="background-color: white;padding: 50px;border-radius: 5px;box-shadow: 0 0 5px 0 var(--accent-color);">
                        <h1 style="color: var(--main-color);font-weight: bold;font-family: 'Open Sans', sans-serif;margin-bottom: 15px;">
                            Are
                            you sure?</h1>
                        <div role="group" class="btn-group">
                            <button class="btn btn-secondary" type="button"
                                    onclick="toggleDeletePatient({{ patient.id }})"
                                    style="border-radius: 5px;margin: 3px;">Cancel
                            </button>
                            <a class="btn btn-danger d-print-none" role="button" style="border-radius: 5px;margin: 3px;"
                               href="{% url 'delete_patient' patient.slug %}">Delete</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    {% endif %}
    <main class="d-flex d-flex flex-column align-items-center">
        <div class="container-fluid" style="background-color: #fff; min-height: 100vh;padding: 0 30px">
            <div class="row no-gutters">
                <div class="col-md-12">
                    <h1 class="container-h1"
                        style="color: var(--main-color);padding-top: 20px;padding-bottom: 15px;font-weight: bold;font-family: 'Raleway', sans-serif">
                        Hello, {{ account.first_name }}!</h1>
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col">
                    <div>
                        <div role="tabpanel" class="tab-pane active" id="tab-1" style="margin: 10px;">
                            {% if account.group.can_approve %}
                                <h2 style="font-family: 'Raleway', sans-serif; color: var(--accent-color); font-weight: bold">
                                    Awaiting Approval</h2>
                            {% else %}
                                <h2 style="font-family: 'Raleway', sans-serif; color: var(--accent-color); font-weight: bold">
                                    Patients</h2>
                            {% endif %}
                            <div class="form-group"
                                 style="position:relative; width: 100%; display: flex; align-items: center; margin: 20px 0">
                                <i class="fas fa-search search-icon"
                                   style="position: absolute; margin-left: 15px; color: rgb(255, 255, 255);"></i>
                                <input class="form-control search-patients" autocomplete="off" id="searchbar-nav"
                                       onfocusin="$('.search-icon').css('color', 'var(--accent-color)')"
                                       onfocusout="$('.search-icon').css('color', 'white')"
                                       placeholder="Search for patients..." name="search">
                            </div>
                            <div class="row patient-toolbar no-gutters">
                                <div class="col d-flex justify-content-between flex-column flex-lg-row"
                                     style="padding: 1rem;">
                                    <div class="bg-secondary patient-badge d-flex justify-content-center align-items-center patient-count">
                                        <span>{{ object.count }} {{ object_name }}</span>
                                    </div>
                                    {% if field_error %}
                                        <div class="d-flex justify-content-center align-items-center">
                                            <div class="badge badge-danger"
                                                 style="font-size: 16px; padding: 0.5rem">
                                                <span>{{ field_error }}</span>
                                            </div>
                                        </div>
                                    {% endif %}
                                    {% if sort_by %}
                                        <div class="d-flex justify-content-center align-items-center current-badge">
                                            <div class="badge"
                                                 style="background-color: white; font-size: 16px; padding: 0.5rem">
                                                <span>Currently Sorting by: <strong>{{ sort_by.field|title }}</strong></span>
                                            </div>
                                        </div>
                                    {% endif %}
                                    <div class="d-flex justify-content-center justify-content-lg-start">
                                        <button class="btn dropdown-toggle btn-transparent-success"
                                                style="margin-right: 5px"
                                                data-toggle="dropdown">Sort By
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right patient-dropdown-menu overflow-auto shadow">
                                            {% for field in field_list %}
                                                {% if field.name not in excluded_fields %}
                                                    <a class="dropdown-item"
                                                       href="/?sort-by={{ field.name }}">{{ field.verbose_name|title }}</a>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                        {% if sort_by %}
                                            {% if sort_by.first_val == '-' %}
                                                <a href="/?sort-by={{ sort_by.value }}" role="button"
                                                   class="btn btn-transparent-tvachacare" style="margin-right: 5px">Reverse
                                                </a>
                                            {% else %}
                                                <a href="/?sort-by=-{{ sort_by.value }}" role="button"
                                                   class="btn btn-transparent-tvachacare" style="margin-right: 5px">Reverse
                                                </a>
                                            {% endif %}
                                            <a href="{% url 'home' %}" role="button"
                                               class="btn btn-transparent-danger">Clear
                                            </a>
                                        {% endif %}
                                    </div>

                                </div>
                            </div>
                            {% if account.group.can_approve %}
                                {% if object %}
                                    <ul class="list-group overflow-auto"
                                        style="color: #092327;font-family: Raleway, sans-serif;font-weight: bold;font-style: normal;text-align: left;margin-bottom: 15px;max-height: 520px;border: 3px lightgray solid">
                                        {% for surgery in object %}
                                            {% if surgery.is_approved == False and surgery.is_denied == False %}
                                                <li class="list-group-item patient-list"
                                                    style="display: flex; justify-content: space-between; align-items: center">
                                                    <span style="width: 100%">
                                                        <a class="patient-name"
                                                           href="{% url 'patient_page' surgery.patient.slug %}">{{ surgery.patient.last_name }}, {{ surgery.patient.first_name }}</a>
                                                    </span>
                                                    <span style="width: 100%">
                                                    <a href="{% url 'surgery_page' surgery.patient.slug surgery.id %}"
                                                       class='patient-name'>Surgery ID #{{ surgery.id }}</a>
                                                </span>
                                                    {% if sort_by %}
                                                        <div class="overflow-hidden"
                                                             style="text-overflow: ellipsis; width:100%">
                                                    <span title="{{ sort_by.field|title }}: {{ patients|getattribute:sort_by.value }}"
                                                          style="white-space: nowrap">{{ sort_by.field|title }}: {{ surgery|getattribute:sort_by.value }}
                                                    </span>
                                                        </div>
                                                    {% endif %}
                                                    <button class="btn d-flex justify-content-center align-items-center"
                                                            style="padding: 5px; border-radius: 50px"
                                                            onclick="openSurgeryInfo({{ surgery.id }})">
                                                        <i class="material-icons-round"
                                                           style="margin-right: 1px;font-size: 20px">info</i>
                                                    </button>
                                                </li>
                                                <li class="list-group-item list-group-item-secondary surgery-{{ surgery.id }}"
                                                    style="display: none;font-family: 'Open Sans', sans-serif; font-weight: normal;">
                                                    <div class="d-flex justify-content-between">
                                                        <small>Burn Operation
                                                            Number: {{ surgery.burn_operation_number }}</small>
                                                        {% if surgery.patient_district %}
                                                            <small>District: {{ surgery.patient_district }}</small>{% endif %}
                                                        <small>Uploaded: {{ surgery.date_of_upload }}</small></div>
                                                </li>
                                            {% else %}
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                {% else %}
                                    <div class="row no-gutters" style="margin-bottom: 1rem">
                                        <div class="col-12 d-flex flex-column justify-content-center align-items-center"
                                             style="padding: 1rem; background: whitesmoke; border-radius: 8px">
                                            <img class="img-fluid" style="max-height:250px; margin-top: 1rem;"
                                                 src="{% static 'img/No Patients Awaiting.svg' %}"
                                                 alt="No Patients Awaiting Approval">
                                            <h1 style="font-weight: bold; font-family: Raleway, sans-serif; color: var(--main-color); margin: 1rem; text-align: center">
                                                No Patients Awaiting Approval</h1>
                                        </div>
                                    </div>
                                {% endif %}
                                {% include 'snippets/approval-denial.html' %}
                            {% else %}
                                {% if object %}
                                    <ul class="list-group overflow-auto accordion" id="patient-accordion"
                                        style="color: #092327;font-family: Raleway, sans-serif;font-weight: bold;font-style: normal;text-align: left;margin-bottom: 15px;max-height: 520px;border: 3px lightgray solid">
                                        {% for patients in object %}
                                            <li class="list-group-item patient-list flex-column flex-lg-row"
                                                style="display: flex; justify-content: space-between; align-items: center">
                                            <span style="width: 100%;">
                                                <a href="{% url 'patient_page' patients.slug %}" style="width: 100%"
                                                   class='patient-name d-flex d-lg-inline justify-content-center justify-content-lg-start'>{{ patients.last_name }}, {{ patients.first_name }}</a>
                                            </span>

                                                {% if sort_by %}
                                                    <a href="{% url 'patient_page' patients.slug %}"
                                                       class="overflow-hidden patient-name justify-content-center justify-content-lg-start text-center text-lg-left"
                                                       style="text-overflow: ellipsis; width:100%">
                                                    <span title="{{ sort_by.field|title }}: {{ patients|getattribute:sort_by.value }}"
                                                          style="white-space: nowrap">{{ sort_by.field|title }}: {{ patients|getattribute:sort_by.value }}
                                                    </span>
                                                    </a>
                                                {% endif %}
                                                <div class="d-flex justify-content-center justify-content-lg-start" style="width: 100%; padding-left: 15px; padding-right: 15px">
                                                    <span class="badge badge-pill badge-secondary">
                                                        {{ patients.surgery_count }}
                                                        Surger{% if patients.surgery_count == 1 %}y{% else %}ies
                                                    {% endif %}
                                                    </span>
                                                </div>
                                                <button class="btn d-flex justify-content-center align-items-center"
                                                        style="padding: 5px; border-radius: 50px" data-toggle="collapse" data-target="#patient-{{ patients.id }}">
                                                    <i class="material-icons-round" style="font-size: 20px">info</i>
                                                </button>
                                            </li>
                                            <li class="list-group-item list-group-item-secondary collapse" id="patient-{{ patients.id }}" data-parent="#patient-accordion"
                                                style="font-family: 'Open Sans', sans-serif; font-weight: normal;padding: 0">
                                            <div style="padding: .75rem 1.25rem">
                                                <div class="d-flex"
                                                     style="margin-bottom: 10px;margin-top: 5px">
                                                    <a class="btn btn-success" role="button"
                                                       href="{% url 'edit_patient' patients.slug %}"
                                                       style="font-family: Raleway, sans-serif;font-weight: bold;margin-right: 10px;">
                                                        Edit
                                                    </a>
                                                    <button class="btn btn-danger" type="button"
                                                            onclick="toggleDeletePatient({{ patients.id }})"
                                                            style="font-family: Raleway, sans-serif;font-weight: bold;margin-right: 10px;">
                                                        Delete
                                                    </button>
                                                </div>
                                                <hr>
                                                <h5>Surgeries:</h5>

                                                <div class="d-flex justify-content-between">
                                                    <ul class="list-group w-100">
                                                        {% for surgeries in surgery %}
                                                            {% if surgeries.patient == patients %}
                                                                <a class="list-group-item list-group-item-action"
                                                                   href="{% url 'surgery_page' surgeries.patient.slug surgeries.id %}"
                                                                   style="display: flex; justify-content: space-between; align-items: center">
                                                                    <span>ID #{{ surgeries.id }}</span>
                                                                    {% if surgeries.is_approved == True %}
                                                                        <span class="badge badge-pill badge-success">Approved</span>
                                                                    {% elif surgeries.is_denied == True %}
                                                                        <span class="badge badge-pill badge-danger">Denied</span>
                                                                    {% else %}
                                                                        <span class="badge badge-pill badge-secondary">Awaiting Approval</span>
                                                                    {% endif %}
                                                                    <span>Uploaded {{ surgeries.date_of_upload }}</span>
                                                                </a>
                                                            {% endif %}
                                                        {% endfor %}
                                                        <a href="{% url 'add_surgery' patients.slug %}"
                                                           class="d-flex justify-content-center align-items-center list-group-item"
                                                           style="background-color: var(--main-color);color: white; border-color: transparent;">
                                                            <i class="fa fa-plus"></i>
                                                        </a>
                                                    </ul>
                                                </div>

                                            </div>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% else %}
                                    <div class="row no-gutters" style="margin-bottom: 1rem">
                                        <div class="col-12 d-flex flex-column justify-content-center align-items-center"
                                             style="padding: 1rem; background: whitesmoke; border-radius: 8px">
                                            <img class="img-fluid" style="max-height:300px; margin-top: 1rem;"
                                                 src="{% static 'img/Patient Management Graphic.svg' %}"
                                                 alt="No Patients Awaiting Approval">
                                            <h1 style="font-weight: bold; font-family: Raleway, sans-serif; color: var(--main-color); margin: 1rem; text-align: center">
                                                No Patients</h1>
                                            <a href="{% url 'addPatient' %}" role="button"
                                               class="btn btn-lg btn-block btn-transparent-tvachacare">Add Patient</a>
                                        </div>
                                    </div>
                                {% endif %}
                                {% include 'snippets/approval-denial.html' %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

{% endblock %}