{% extends 'base.html' %}
{% load static %}
{% load getattribute %}

{% block header %}
    <link rel="stylesheet" href="{% static 'homePage.css' %}">
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script>
        $(document).ready(function () {
            $('.search-patients').on('keyup', function () {
                let information = $(this).val().toLowerCase();
                $('.list-group .patient-list').filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(information) > -1)
                });
            });
        });

        function profileImage(event) {
            let image = URL.createObjectURL(event.target.files[0]);
            $('.profile-image').attr('src', image)
            console.log(image)
        }

        $(document).ready(function () {
            $('.btn-surgeries').text("View Denied Surgeries");
            $('.btn-surgeries-approved').text("View Approved Surgeries")
        })

        function openDeniedSurgeries() {
            if ($('.btn-surgeries').text() === "View Denied Surgeries") {
                $('.denied-patients').slideDown(300, 'swing')
                $('.btn-surgeries').text("Close");
            } else {
                $('.btn-surgeries').text("View Denied Surgeries");
                $('.denied-patients').slideUp(300, 'swing')
            }
        }

        function openApprovedSurgeries() {
            if ($('.btn-surgeries-approved').text() === "View Approved Surgeries") {
                $('.approved-patients').slideDown(300)
                $('.btn-surgeries-approved').text("Close");
            } else {
                $('.btn-surgeries-approved').text("View Approved Surgeries");
                $('.approved-patients').slideUp(300)
            }
        }

        function openInfo(patientid) {
            let patientID = '.patient-' + patientid
            if ($(patientID).css('display') !== 'block') {
                $('.patient-list:nth-last-child(2)').css({
                    'border-bottom-left-radius': '0',
                    'border-bottom-right-radius': '0'
                })
            } else {
                $('.patient-list:nth-last-child(2)').css({
                    'border-bottom-left-radius': '8px',
                    'border-bottom-right-radius': '8px'
                })
            }
            console.log($(patientID).css('display'))
            $(patientID).slideToggle(200, 'swing');
        }

        function openSurgeryInfo(surgeryid) {
            let surgeryID = '.surgery-' + surgeryid
            if ($(surgeryID).css('display') !== 'block') {
                $('.patient-list:nth-last-child(2)').css({
                    'border-bottom-left-radius': '0',
                    'border-bottom-right-radius': '0'
                })
            } else {
                $('.patient-list:nth-last-child(2)').css({
                    'border-bottom-left-radius': '8px',
                    'border-bottom-right-radius': '8px'
                })
            }
            console.log($(surgeryID).css('display'))
            $(surgeryID).slideToggle(200, 'swing');
        }

        function toggleDeletePatient(id) {
            const container = $('.delete-patient-' + id)
            if (container.css('display') === 'none') {
                container.css('display', 'flex').hide().fadeIn(100);
            } else {
                container.fadeOut(100);
            }
        }

    </script>
    <title>TvachaCare</title>
    <style>
        .display-none {
            display: none !important;
            transition-duration: 0.2s;

        }

        .edit-input {
            padding: 5px 10px;
            font-family: "Open Sans", sans-serif;
            width: 50%;
        }

        .overlay-profile {
            position: absolute;
            display: flex;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            opacity: 0;
            transition: .3s ease;
            background-color: #fff;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            cursor: pointer;
        }

        .overlay-profile:hover {
            opacity: 0.7;
        }

        .overlay-profile input {
            background: none;
            border: none;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }

        .overlay-profile label {
            cursor: pointer;
        }

        .overlay-profile i {
            font-size: 21px;
            cursor: pointer;
            color: var(--main-color);
        }

        .container-profile-picture img {
            width: 30vw;
            object-fit: cover;
            height: 30vw;
        }

        @media (max-width: 500px) {
            .container-h1 {
                font-size: x-large;
            }
        }

        .search-patients {
            padding: 15px 15px 15px 40px;
            border: none;
            border-radius: 8px;
            background-color: var(--main-color);
            font-size: 20px;
            font-family: Raleway, sans-serif;
            font-weight: bold;
            width: 100%;
            color: white;
            margin: 0;
        }

        .search-patients:focus {
            background-color: white;
            color: var(--accent-color);
            transition-duration: 0.3s;
        }

        .search-patients:focus::placeholder {
            color: var(--accent-color);
        }

        .search-patients::placeholder {
            color: white;
            opacity: 0.7;
            font-family: Raleway, sans-serif;
            font-weight: bold;
            font-size: 20px;
        }

        .patient-list:nth-last-child(2) {
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
        }

        .list-group {
            border-radius: 8px;
        }

        .patient-list:nth-child(4n + 3) {
            background-color: whitesmoke !important;
        }

    </style>
{% endblock %}

{% block content %}
    {% if not account.group.can_approve %}
        {% if object %}
            {% for patient in object %}
                <div class="justify-content-center align-items-center delete-patient-{{ patient.id }}"
                     style="display: none;top: 0;left: 0;width: 100vw;height: 100vh;position: fixed;z-index: 1000;background-color: rgba(128,128,128,0.57);">
                    <div class="d-flex flex-column"
                         style="background-color: white;padding: 50px;border-radius: 5px;box-shadow: 0 0 5px 0 var(--accent-color);">
                        <h1 style="color: var(--main-color);font-weight: bold;font-family: 'Open Sans', sans-serif;margin-bottom: 15px;">
                            Are
                            you sure?</h1>
                        <div role="group" class="btn-group">
                            <button class="btn btn-secondary" type="button"
                                    onclick="toggleDeletePatient({{ patient.id }})"
                                    style="border-radius: 5px;margin: 3px;">Cancel
                            </button>
                            <a class="btn btn-danger d-print-none" role="button" style="border-radius: 5px;margin: 3px;"
                               href="{% url 'delete_patient' patient.slug %}">Delete</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    {% endif %}
    <main class="d-flex d-flex flex-column align-items-center">
        <div class="container-fluid" style="background-color: #fff; min-height: 100vh;padding: 0 30px">
            <div class="row no-gutters">
                <div class="col-md-12">
                    <h1 class="container-h1"
                        style="color: var(--main-color);padding-top: 20px;padding-bottom: 15px;font-weight: bold;font-family: 'Raleway', sans-serif">
                        Hello, {{ account.first_name }}!</h1>
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col">
                    <div>
                        <ul class="nav nav-pills nav-justified">
                            {% if account.group.can_approve %}
                                <li class="nav-item">
                                    <a role="tab" data-toggle="pill" class="nav-link active"
                                       href="#tab-1"
                                       style="border-width: 1px;border-style: none;">Awaiting
                                        Approval</a></li>
                            {% else %}
                                <li class="nav-item">
                                    <a role="tab" data-toggle="pill" class="nav-link active"
                                       href="#tab-1"
                                       style="border-width: 1px;border-style: none;">Patients</a></li>
                            {% endif %}
                            <li class="nav-item"><a role="tab" data-toggle="pill" class="nav-link"
                                                    href="#tab-3">Account</a></li>
                        </ul>
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="tab-1" style="margin: 20px;">
                                {% if account.group.can_approve %}
                                    <h2 style="font-family: 'Raleway', sans-serif; color: var(--accent-color); font-weight: bold">
                                        Awaiting Approval</h2>
                                {% else %}
                                    <h2 style="font-family: 'Raleway', sans-serif; color: var(--accent-color); font-weight: bold">
                                        Patients</h2>
                                {% endif %}
                                <div class="form-group"
                                     style="position:relative; width: 100%; display: flex; align-items: center; margin: 20px 0">
                                    <i class="fas fa-search search-icon"
                                       style="position: absolute; margin-left: 15px; color: rgb(255, 255, 255);"></i>
                                    <input class="form-control search-patients" id="searchbar-nav"
                                           onfocusin="$('.search-icon').css('color', 'var(--accent-color)')"
                                           onfocusout="$('.search-icon').css('color', 'white')"
                                           placeholder="Search for patients..." name="search">
                                </div>
                                <div class="row patient-toolbar no-gutters">
                                    <div class="col d-flex justify-content-between">
                                        <div class="bg-secondary patient-badge d-flex justify-content-center align-items-center">
                                            <span>{{ object.count }} {{ object_name }}</span>
                                        </div>
                                        {% if field_error %}
                                            <div class="d-flex justify-content-center align-items-center">
                                                <div class="badge badge-danger"
                                                     style="font-size: 16px; padding: 0.5rem">
                                                    <span>{{ field_error }}</span>
                                                </div>
                                            </div>
                                        {% endif %}
                                        {% if sort_by %}
                                            <div class="d-flex justify-content-center align-items-center">
                                                <div class="badge"
                                                     style="background-color: white; font-size: 16px; padding: 0.5rem">
                                                    <span>Currently Sorting by: <strong>{{ sort_by.field|title }}</strong></span>
                                                </div>
                                            </div>
                                        {% endif %}
                                        <div>
                                            <button class="btn dropdown-toggle btn-transparent-success"
                                                    style="margin-right: 5px"
                                                    data-toggle="dropdown">Sort By
                                            </button>
                                            <div class="dropdown-menu dropdown-menu-right patient-dropdown-menu overflow-auto shadow">
                                                {% for field in field_list %}
                                                    {% if field.name not in excluded_fields %}
                                                        <a class="dropdown-item"
                                                           href="/?sort-by={{ field.name }}">{{ field.verbose_name|title }}</a>
                                                    {% endif %}
                                                {% endfor %}
                                            </div>
                                            {% if sort_by %}
                                                {% if sort_by.first_val == '-' %}
                                                    <a href="/?sort-by={{ sort_by.value }}" role="button"
                                                       class="btn btn-transparent-tvachacare" style="margin-right: 5px">Reverse
                                                    </a>
                                                {% else %}
                                                    <a href="/?sort-by=-{{ sort_by.value }}" role="button"
                                                       class="btn btn-transparent-tvachacare" style="margin-right: 5px">Reverse
                                                    </a>
                                                {% endif %}
                                                <a href="{% url 'home' %}" role="button"
                                                   class="btn btn-transparent-danger">Clear
                                                </a>
                                            {% endif %}
                                        </div>

                                    </div>
                                </div>
                                {% if account.group.can_approve %}
                                    {% if object %}
                                        <ul class="list-group overflow-auto"
                                            style="color: #092327;font-family: Raleway, sans-serif;font-weight: bold;font-style: normal;text-align: left;margin-bottom: 15px;max-height: 520px;border: 3px lightgray solid">
                                            {% for surgery in object %}
                                                {% if surgery.is_approved == False and surgery.is_denied == False %}
                                                    <li class="list-group-item patient-list"
                                                        style="display: flex; justify-content: space-between; align-items: center">
                                                        <a href="{% url 'patient_page' surgery.patient.slug %}"
                                                           style="width: 100%"
                                                           class='patient-name'>{{ surgery.patient.last_name }}, {{ surgery.patient.first_name }}</a>
                                                        <a href="{% url 'surgery_page' surgery.patient.slug surgery.id %}"
                                                           style="width: 100%"
                                                           class='patient-name'>Surgery ID #{{ surgery.id }}</a>
                                                        {% if sort_by %}
                                                            <div class="overflow-hidden"
                                                                 style="text-overflow: ellipsis; width:100%">
                                                    <span title="{{ sort_by.field|title }}: {{ patients|getattribute:sort_by.value }}"
                                                          style="white-space: nowrap">{{ sort_by.field|title }}: {{ surgery|getattribute:sort_by.value }}
                                                    </span>
                                                            </div>
                                                        {% endif %}
                                                        <button class="btn d-flex justify-content-center align-items-center"
                                                                style="padding: 5px; border-radius: 50px"
                                                                onclick="openSurgeryInfo({{ surgery.id }})">
                                                            <i class="material-icons-round"
                                                               style="margin-right: 1px;font-size: 20px">info</i>
                                                        </button>
                                                    </li>
                                                    <li class="list-group-item list-group-item-secondary surgery-{{ surgery.id }}"
                                                        style="display: none;font-family: 'Open Sans', sans-serif; font-weight: normal;">
                                                        <div class="d-flex justify-content-between">
                                                            <small>Burn Operation
                                                                Number: {{ surgery.burn_operation_number }}</small>
                                                            {% if surgery.patient_district %}
                                                                <small>District: {{ surgery.patient_district }}</small>{% endif %}
                                                            <small>Uploaded: {{ surgery.date_of_upload }}</small></div>
                                                    </li>
                                                {% else %}
                                                {% endif %}
                                            {% endfor %}
                                        </ul>
                                        <div role="group"
                                             class="button-container d-flex justify-content-around btn-group"
                                             style="width: 100%; margin-bottom: 20px">
                                            <button class="btn btn-sm btn-surgeries btn-danger"
                                                    onclick="openDeniedSurgeries()">View Denied Surgeries
                                            </button>
                                            <button class="btn btn-sm btn-surgeries-approved btn-success"
                                                    onclick="openApprovedSurgeries()">View Approved Surgeries
                                            </button>
                                        </div>
                                        <div class="denied-patients" style="display: none">
                                            <h5 style="color: #092327;">Denied Surgeries</h5>
                                            <ul class="list-group" id="denied-list"
                                                style="color: #092327;font-family: Raleway, sans-serif;font-weight: bold;font-style: normal;text-align: left;padding-bottom: 15px;">
                                                {% for surgery in object %}
                                                    {% if surgery.is_approved == False and surgery.is_denied == True %}
                                                        <li class="list-group-item patient-list"
                                                            style="display: flex; justify-content: space-between; align-items: center">
                                                            <a href="{% url 'surgery_page' surgery.patient.slug surgery.id %}"
                                                               class='patient-name'>{{ surgery.patient.last_name }}, {{ surgery.patient.first_name }}</a>
                                                            <a href="{% url 'surgery_page' surgery.patient.slug surgery.id %}"
                                                               class='patient-name'>Surgery ID #{{ surgery.id }}</a>
                                                            <button class="btn d-flex justify-content-center align-items-center"
                                                                    style="padding: 5px; border-radius: 50px"
                                                                    onclick="openSurgeryInfo({{ surgery.id }})">
                                                                <i class="material-icons-round"
                                                                   style="margin-right: 1px;font-size: 20px">info</i>
                                                            </button>
                                                        </li>
                                                        <li class="list-group-item list-group-item-secondary surgery-{{ surgery.id }}"
                                                            style="display: none;font-family: 'Open Sans', sans-serif; font-weight: normal;">
                                                            <div class="d-flex justify-content-between">
                                                                {% if surgery.reason %}
                                                                    <small>Notes for
                                                                        Denial: {{ surgery.reason }}</small>{% endif %}
                                                                <small>Uploaded: {{ surgery.date_of_upload }}</small>
                                                            </div>
                                                        </li>
                                                    {% else %}
                                                    {% endif %}
                                                {% endfor %}
                                            </ul>
                                        </div>
                                        <div class="approved-patients" style="display: none">
                                            <h5 style="color: #092327;">Approved Surgeries</h5>
                                            <ul class="list-group" id="denied-list"
                                                style="color: #092327;font-family: Raleway, sans-serif;font-weight: bold;font-style: normal;text-align: left;padding-bottom: 15px;">
                                                {% for surgery in object %}
                                                    {% if surgery.is_approved == True and surgery.is_denied == False %}
                                                        <li class="list-group-item patient-list"
                                                            style="display: flex; justify-content: space-between; align-items: center">
                                                            <a href="{% url 'surgery_page' surgery.patient.slug surgery.id %}"
                                                               class='patient-name'>{{ surgery.patient.last_name }}, {{ surgery.patient.first_name }}</a>
                                                            <a href="{% url 'surgery_page' surgery.patient.slug surgery.id %}"
                                                               class='patient-name'>Surgery ID #{{ surgery.id }}</a>
                                                            <button class="btn d-flex justify-content-center align-items-center"
                                                                    style="padding: 5px; border-radius: 50px"
                                                                    onclick="openSurgeryInfo({{ surgery.id }})">
                                                                <i class="material-icons-round"
                                                                   style="margin-right: 1px;font-size: 20px">info</i>
                                                            </button>
                                                        </li>
                                                        <li class="list-group-item list-group-item-secondary surgery-{{ surgery.id }}"
                                                            style="display: none;font-family: 'Open Sans', sans-serif; font-weight: normal;">
                                                            <div class="d-flex justify-content-between">
                                                                {% if surgery.reason %}
                                                                    <small>Notes for
                                                                        Approval: {{ surgery.reason }}</small>{% endif %}
                                                                <small>Uploaded: {{ surgery.date_of_upload }}</small>
                                                            </div>
                                                        </li>
                                                    {% else %}
                                                    {% endif %}
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    {% else %}
                                    {% endif %}
                                {% else %}
                                    {% if object %}
                                        <ul class="list-group overflow-auto"
                                            style="color: #092327;font-family: Raleway, sans-serif;font-weight: bold;font-style: normal;text-align: left;margin-bottom: 15px;max-height: 520px;border: 3px lightgray solid">
                                            {% for patients in object %}
                                                <li class="list-group-item patient-list"
                                                    style="display: flex; justify-content: space-between; align-items: center">
                                                    <a href="{% url 'patient_page' patients.slug %}" style="width: 100%"
                                                       class='patient-name'>{{ patients.last_name }}, {{ patients.first_name }}</a>
                                                    {% if sort_by %}
                                                        <div class="overflow-hidden"
                                                             style="text-overflow: ellipsis; width:100%">
                                                    <span title="{{ sort_by.field|title }}: {{ patients|getattribute:sort_by.value }}"
                                                          style="white-space: nowrap">{{ sort_by.field|title }}: {{ patients|getattribute:sort_by.value }}
                                                    </span>
                                                        </div>
                                                    {% endif %}
                                                    <div style="width: 100%">
                                                    <span class="badge badge-pill badge-secondary">
                                                        {{ patients.surgery_count }}
                                                        Surger{% if patients.surgery_count == 1 %}y{% else %}ies
                                                    {% endif %}
                                                    </span>
                                                    </div>
                                                    <button class="btn d-flex justify-content-center align-items-center"
                                                            style="padding: 5px; border-radius: 50px"
                                                            onclick="openInfo({{ patients.id }})">
                                                        <i class="material-icons-round" style="font-size: 20px">info</i>
                                                    </button>
                                                </li>
                                                <li class="list-group-item list-group-item-secondary patient-{{ patients.id }}"
                                                    style="display: none;font-family: 'Open Sans', sans-serif; font-weight: normal;">
                                                    <div class="d-flex"
                                                         style="margin-bottom: 10px;margin-top: 5px">
                                                        <a class="btn btn-success" role="button"
                                                           href="{% url 'edit_patient' patients.slug %}"
                                                           style="font-family: Raleway, sans-serif;font-weight: bold;margin-right: 10px;">
                                                            Edit
                                                        </a>
                                                        <button class="btn btn-danger" type="button"
                                                                onclick="toggleDeletePatient({{ patients.id }})"
                                                                style="font-family: Raleway, sans-serif;font-weight: bold;margin-right: 10px;">
                                                            Delete
                                                        </button>
                                                    </div>
                                                    <hr>
                                                    <h5>Surgeries:</h5>

                                                    <div class="d-flex justify-content-between">
                                                        <ul class="list-group w-100">
                                                            {% for surgeries in surgery %}
                                                                {% if surgeries.patient == patients %}
                                                                    <li class="list-group-item  patient-list"
                                                                        style="display: flex; justify-content: space-between; align-items: center">
                                                                        <a href="{% url 'surgery_page' surgeries.patient.slug surgeries.id %}"
                                                                           class='patient-name'>ID
                                                                            #{{ surgeries.id }}</a>
                                                                        {% if surgeries.is_approved == True %}
                                                                            <span class="badge badge-pill badge-success">Approved</span>
                                                                        {% elif surgeries.is_denied == True %}
                                                                            <span class="badge badge-pill badge-danger">Denied</span>
                                                                        {% else %}
                                                                            <span class="badge badge-pill badge-secondary">Awaiting Approval</span>
                                                                        {% endif %}
                                                                        <a href="{% url 'surgery_page' surgeries.patient.slug surgeries.id %}"
                                                                           class='patient-name'>Uploaded {{ surgeries.date_of_upload }}</a>
                                                                    </li>
                                                                {% endif %}
                                                            {% endfor %}
                                                            <a href="{% url 'add_surgery' patients.slug %}"
                                                               class="btn d-flex justify-content-center align-items-center list-group-item"
                                                               style="background-color: var(--main-color);color: white; border-color: transparent; margin-top: 5px">
                                                                <i class="fa fa-plus"></i>
                                                            </a>
                                                        </ul>
                                                    </div>


                                                </li>
                                            {% endfor %}
                                        </ul>
                                        <div role="group"
                                             class="button-container d-flex justify-content-around btn-group"
                                             style="width: 100%; margin-bottom: 20px">
                                            <button class="btn btn-sm btn-surgeries btn-danger"
                                                    onclick="openDeniedSurgeries()">View Denied
                                                Surgeries
                                            </button>
                                            <button class="btn btn-sm btn-surgeries-approved btn-success"
                                                    onclick="openApprovedSurgeries()">View
                                                Approved Surgeries
                                            </button>
                                        </div>
                                        <div class="denied-patients" style="display: none">
                                            <h5 style="color: #092327;">Denied Surgeries</h5>
                                            <ul class="list-group" id="denied-list"
                                                style="color: #092327;font-family: Raleway, sans-serif;font-weight: bold;font-style: normal;text-align: left;padding-bottom: 15px;">
                                                {% for surgery in surgery %}
                                                    {% if surgery.is_approved == False and surgery.is_denied == True %}
                                                        <li class="list-group-item patient-list"
                                                            style="display: flex; justify-content: space-between; align-items: center">
                                                            <a href="{% url 'surgery_page' surgery.patient.slug surgery.id %}"
                                                               class='patient-name'>{{ surgery.patient.last_name }}, {{ surgery.patient.first_name }}</a>
                                                            <a href="{% url 'surgery_page' surgery.patient.slug surgery.id %}"
                                                               class='patient-name'>Surgery ID #{{ surgery.id }}</a>
                                                            <button class="btn d-flex justify-content-center align-items-center"
                                                                    style="padding: 5px; border-radius: 50px"
                                                                    onclick="openSurgeryInfo({{ surgery.id }})">
                                                                <i class="material-icons-round"
                                                                   style="margin-right: 1px;font-size: 20px">info</i>
                                                            </button>
                                                        </li>
                                                        <li class="list-group-item list-group-item-secondary surgery-{{ surgery.id }}"
                                                            style="display: none;font-family: 'Open Sans', sans-serif; font-weight: normal;">
                                                            <div class="d-flex justify-content-between">
                                                                {% if surgery.reason %}
                                                                    <small>Notes for
                                                                        Denial: {{ surgery.reason }}</small>{% endif %}
                                                                <small>Uploaded: {{ surgery.date_of_upload }}</small>
                                                            </div>
                                                        </li>
                                                    {% else %}
                                                    {% endif %}
                                                {% endfor %}
                                            </ul>
                                        </div>
                                        <div class="approved-patients" style="display: none">
                                            <h5 style="color: #092327;">Approved Surgeries</h5>
                                            <ul class="list-group" id="denied-list"
                                                style="color: #092327;font-family: Raleway, sans-serif;font-weight: bold;font-style: normal;text-align: left;padding-bottom: 15px;">
                                                {% for surgery in surgery %}
                                                    {% if surgery.is_approved == True and surgery.is_denied == False %}
                                                        <li class="list-group-item patient-list"
                                                            style="display: flex; justify-content: space-between; align-items: center">
                                                            <a href="{% url 'surgery_page' surgery.patient.slug surgery.id %}"
                                                               class='patient-name'>{{ surgery.patient.last_name }}, {{ surgery.patient.first_name }}</a>
                                                            <a href="{% url 'surgery_page' surgery.patient.slug surgery.id %}"
                                                               class='patient-name'>Surgery ID #{{ surgery.id }}</a>
                                                            <button class="btn d-flex justify-content-center align-items-center"
                                                                    style="padding: 5px; border-radius: 50px"
                                                                    onclick="openSurgeryInfo({{ surgery.id }})">
                                                                <i class="material-icons-round"
                                                                   style="margin-right: 1px;font-size: 20px">info</i>
                                                            </button>
                                                        </li>
                                                        <li class="list-group-item list-group-item-secondary surgery-{{ surgery.id }}"
                                                            style="display: none;font-family: 'Open Sans', sans-serif; font-weight: normal;">
                                                            <div class="d-flex justify-content-between">
                                                                {% if surgery.reason %}
                                                                    <small>Notes for
                                                                        Approval: {{ surgery.reason }}</small>{% endif %}
                                                                <small>Uploaded: {{ surgery.date_of_upload }}</small>
                                                            </div>
                                                        </li>
                                                    {% else %}
                                                    {% endif %}
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    {% else %}
                                        <a href="{% url 'addPatient' %}" role="button"
                                           style="color: var(--main-color); font-weight: bold; font-family: Raleway, sans-serif; border-width: 3px"
                                           class="btn btn-block btn-tvachacare-inverted">Add Patient</a>
                                    {% endif %}
                                {% endif %}
                            </div>
                            <div role="tabpanel" class="tab-pane" id="tab-3">
                                <form method="post" enctype="multipart/form-data"
                                      class="col d-xl-flex flex-column justify-content-xl-center">{% csrf_token %}
                                    <div class="d-flex d-xl-flex flex-column align-items-center justify-content-xl-center align-items-xl-center"
                                         style="width: 100%;padding: 20px;">
                                        {% if account.profile_picture_path %}
                                            <div class="container-profile-picture" style="position: relative">
                                                <img class="rounded-circle profile-image"
                                                     src="{{ account.profile_picture_path.url }}" width="30%"
                                                     alt="Profile Picture"/>
                                                <div class="overlay-profile d-none">
                                                    <input accept="image/*" id="profile_picture_path"
                                                           type="file"
                                                           style="position: absolute; opacity: 0; width: 100%; height: 100%"
                                                           onchange="profileImage(event)"
                                                           name="profile_picture_path">
                                                    <label for="choose-file"><i class="material-icons-round">create</i></label>
                                                </div>
                                            </div>
                                        {% else %}
                                            <div class="container-profile-picture" style="position: relative">
                                                <img class="rounded-circle profile-image"
                                                     src="{% static 'img/avatarTvachaCare.png' %}" width="30%"
                                                     alt="Profile Picture"/>
                                                <div class="overlay-profile d-none">
                                                    <input accept="image/*" id="profile_picture_path"
                                                           type="file"
                                                           style="position: absolute; opacity: 0; width: 100%; height: 100%"
                                                           onchange="profileImage(event)"
                                                           name="profile_picture_path">
                                                    <label for="choose-file"><i class="material-icons-round">create</i></label>
                                                </div>
                                            </div>
                                        {% endif %}
                                        <h2 class="form-span"
                                            style="color: var(--main-color);font-family: Raleway, sans-serif; margin-top: 20px;">{{ account.name }}</h2>
                                        <input class="edit-input display-none" required type="text"
                                               placeholder="Username" name="username"
                                               value="{{ account.name }}" style="width: auto; margin-top: 20px"/>
                                        <hr>
                                        <div class="row" style="width: 100%;">
                                            <div class="col d-flex flex-column justify-content-center"
                                                 style="padding-right: 0; padding-left: 0">
                                                <ul class="list-group" style="border-style: none;">
                                                    <li class="list-group-item d-flex flex-row justify-content-between align-items-center"
                                                        style="border-style: none;width: 100%;padding: .75rem 0;">
                                                        <strong style="color: var(--main-color);">Email:</strong>
                                                        <span class="form-span"
                                                              style="color: var(--main-color);padding-left: 10px;">{{ account.email }}</span>
                                                        <input class="edit-input display-none" required type="email"
                                                               placeholder="Email" name="email"
                                                               value="{{ account.email }}"/>
                                                        <button onclick="editForm()"
                                                                class="btn d-lg-flex justify-content-lg-center align-items-lg-center invisible"
                                                                type="button"
                                                                style="background-color: var(--main-color);">
                                                            <i class="material-icons-round edit-icon">create</i>
                                                        </button>
                                                    </li>
                                                    <li class="list-group-item d-flex flex-row justify-content-between align-items-center"
                                                        style="border-style: none;width: 100%;padding: .75rem 0;">
                                                        <strong style="color: var(--main-color);">First Name:</strong>
                                                        <span class="form-span"
                                                              style="color: var(--main-color);padding-left: 10px;">{{ account.first_name }}</span>
                                                        <input class="edit-input display-none" required type="text"
                                                               placeholder="First Name"
                                                               name="first_name"
                                                               value="{{ account.first_name }}"/>
                                                        <button onclick="editForm()"
                                                                class="btn d-lg-flex justify-content-lg-center align-items-lg-center invisible"
                                                                type="button"
                                                                style="background-color: var(--main-color);">
                                                            <i class="material-icons-round edit-icon">create</i>
                                                        </button>
                                                    </li>
                                                    <li class="list-group-item d-flex flex-row justify-content-between align-items-center"
                                                        style="border-style: none;width: 100%;padding: .75rem 0;">
                                                        <strong style="color: var(--main-color);">Last Name:</strong>
                                                        <span class="form-span"
                                                              style="color: var(--main-color);padding-left: 10px;">{{ account.last_name }}</span>
                                                        <input class="edit-input display-none" required type="text"
                                                               placeholder="Last Name" name="last_name"
                                                               value="{{ account.last_name }}"/>
                                                        <button onclick="editForm()"
                                                                class="btn d-lg-flex justify-content-lg-center align-items-lg-center invisible"
                                                                type="button"
                                                                style="background-color: var(--main-color);">
                                                            <i class="material-icons-round edit-icon">create</i>
                                                        </button>
                                                    </li>
                                                </ul>
                                                {% for field in account_form %}
                                                    {% for error in field.errors %}

                                                    {% endfor %}
                                                {% endfor %}

                                                {% if account_form.non_field_errors %}
                                                    <div style="color:red;">
                                                        <p>{{ account_form.non_field_errors }}</p>
                                                    </div>
                                                {% endif %}
                                                <div role="group" class="btn-group edit">
                                                    <button onclick="editForm()"
                                                            class="btn d-flex justify-content-center align-items-center"
                                                            type="button" style="background-color: var(--main-color);">
                                                        <i class="material-icons-round edit-icon">create</i>
                                                    </button>
                                                </div>
                                                <div role="group" class="btn-group save">
                                                    <button class="btn btn-danger display-none" onclick="resetForm()"
                                                            type="reset">Cancel
                                                    </button>
                                                    <button class="btn btn-success display-none" type="submit">Save
                                                        Changes
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script>

        function editForm() {
            $('.form-span').addClass('display-none')
            $('.edit button').addClass('display-none')
            $('.save button').removeClass('display-none')
            $('.edit-input').removeClass('display-none')
            $('.overlay-profile').removeClass('d-none')
        }

        function resetForm() {
            $('.form-span').removeClass('display-none')
            $('.edit button').removeClass('display-none')
            $('.save button').addClass('display-none')
            $('.edit-input').addClass('display-none')
            $('.overlay-profile').addClass('d-none')
        }

    </script>

{% endblock %}