{% extends 'base.html' %}
{% load static %}
{% load getattribute %}

{% block header %}
    <link rel="stylesheet" href="{% static 'homePage.css' %}">
    <script src="{% static 'js/index.js' %}"></script>
    <title>TvachaCare</title>
{% endblock %}

{% block content %}
    {% if not account.group.can_approve %}
        {% if object %}
            {% for patient in object %}
                <div class="justify-content-center align-items-center delete-patient-{{ patient.id }}"
                     style="display: none;top: 0;left: 0;width: 100vw;height: 100vh;position: fixed;z-index: 1000;background-color: rgba(128,128,128,0.57);">
                    <div class="d-flex flex-column"
                         style="background-color: white;padding: 50px;border-radius: 5px;box-shadow: 0 0 5px 0 var(--accent-color);">
                        <h1 style="color: var(--main-color);font-weight: bold;font-family: 'Open Sans', sans-serif;margin-bottom: 15px;">
                            Are
                            you sure?</h1>
                        <div role="group" class="btn-group">
                            <button class="btn btn-secondary" type="button"
                                    onclick="toggleDeletePatient({{ patient.id }})"
                                    style="border-radius: 5px;margin: 3px;">Cancel
                            </button>
                            <a class="btn btn-danger d-print-none" role="button" style="border-radius: 5px;margin: 3px;"
                               href="{% url 'delete_patient' patient.slug %}">Delete</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    {% endif %}
    <main style="background-color: white">
        <div class="container-fluid d-flex flex-column p-3" style="min-height: 100vh;">
            <div class="row no-gutters p-3">
                <div class="col p-3" style="border-radius: 8px;background: whitesmoke;">
                    <h1 class="text-center text-md-left mb-0 mb-lg-2"
                        style="font-weight: bold;color: var(--main-color);">Hello Elijah!</h1>
                    <p class="lead mb-0 d-none d-lg-block" style="font-weight: bold;color: var(--accent-color);">Welcome
                        to your TvachaCare homepage. Here, you can have an overview of the current patients or surgeries
                        in the database.</p>
                </div>
            </div>
            {% include 'snippets/searchbar.html' %}
            {% include 'snippets/patient-toolbar.html' %}
            <div class="row no-gutters d-flex flex-column flex-grow-1 p-3 h-100">
                <div class="col d-flex flex-column flex-grow-1 h-100 overflow-auto">
                    <ul class="list-group flex-grow-1 list-group-flush h-100 overflow-auto"
                        style="border-style: solid;border-color: rgba(0,0,0,0.14);border-radius: 8px;">
                        {% block patient_list %}
                            <li class="list-group-item list-group-item-secondary d-none d-md-block sticky-top"
                                style="border-radius: 0;">
                                <div class="row">
                                    <div class="col d-flex align-items-center">
                                        <span style="font-weight: bold;">Patient Name</span>
                                    </div>
                                    <div class="col d-flex align-items-center">
                                        <span style="font-weight: bold;"># of Surgeries</span>
                                    </div>
                                    {% if sort_by %}
                                        <div class="col d-flex align-items-center">
                                            <span style="font-weight: bold;">{{ sort_by.field|title }}</span>
                                        </div>
                                    {% endif %}
                                    <div class="col-auto d-flex align-items-center" style="visibility: hidden;">
                                        <button class="btn btn-light btn-sm d-flex justify-content-center align-items-center"
                                                type="button" style="height: 32px;width: 32px;border-radius: 50%;">
                                            <i class="fas fa-info-circle">

                                            </i>
                                        </button>
                                    </div>
                                </div>
                            </li>
                            {% for patient in object %}
                                <li class="list-group-item patient-list-item" style="border-radius: 0;">
                                    <div class="row d-flex flex-column flex-md-row patient-row">
                                        <div class="col d-flex justify-content-center align-items-center justify-content-md-start py-2 include-in-search ">
                                            <a class="patient-name p-1" href="{% url 'patient_page' patient.slug %}"
                                               style="font-weight: bold;">{{ patient.first_name }} {{ patient.last_name }}</a>
                                        </div>
                                        <div class="col d-flex justify-content-center align-items-center justify-content-md-start py-2">
                                            <p class="lead d-flex justify-content-center align-items-center m-0">
                                                <span class="badge badge-pill badge-secondary">{{ patient.surgeries.count }} Surgeries</span>
                                            </p>
                                        </div>
                                        {% if sort_by %}
                                            <div class="col d-flex justify-content-center align-items-center justify-content-md-start py-2 include-in-search text-truncate">
                                            <span class="text-truncate"
                                                  style="font-weight: bold;">{{ patient|getattribute:sort_by.value|default:'None' }}</span>
                                            </div>
                                        {% endif %}
                                        <div class="col-auto d-flex justify-content-center align-items-center justify-content-md-start py-2">
                                            <button class="btn btn-light btn-sm d-flex justify-content-center align-items-center"
                                                    type="button" style="height: 32px;width: 32px;border-radius: 50%;"
                                                    data-toggle="collapse"
                                                    data-target="#patient-{{ patient.id }}-collapse">
                                                <i class="fas fa-info-circle"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div id="patient-{{ patient.id }}-collapse" class="collapse">
                                        <div class="row no-gutters py-3">
                                            <div class="col p-3"
                                                 style="background: rgba(0,0,0,0.14);border-radius: 8px;">
                                                <div class="row d-flex flex-column align-items-center flex-sm-row mb-3">
                                                    <div class="col-auto">
                                                        <a class="btn btn-success btn-sm font-weight-bold" role="button"
                                                           href="{% url 'edit_patient' patient.slug %}">Edit</a>
                                                    </div>
                                                    <div class="col d-flex justify-content-center align-items-center py-2 p-sm-0">
                                                        <h4 class="m-0"
                                                            style="font-weight: bold;color: var(--accent-color);">
                                                            Surgeries</h4>
                                                    </div>
                                                    <div class="col-auto">
                                                        <button class="btn btn-danger btn-sm font-weight-bold"
                                                                type="button"
                                                                onclick="toggleDeletePatient({{ patient.id }})">Delete
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="row no-gutters">
                                                    <div class="col">
                                                        <ul class="list-group mb-3" style="border-radius: 8px;">
                                                            {% for surgery in patient.surgeries %}
                                                                <li class="list-group-item">
                                                                    <div class="row no-gutters flex-column align-items-center flex-sm-row">
                                                                        <div class="col d-flex flex-column align-items-center flex-sm-row">
                                                                            <a class="patient-name p-1" href="{% url 'surgery_page' patient.slug surgery.id %}"
                                                                               style="font-weight: bold;">#{{ surgery.id }}</a>
                                                                        </div>
                                                                        <div class="col d-flex flex-column align-items-center flex-sm-row py-3">
                                                                            {% if surgery.status == 'Approved' %}
                                                                                <span class="badge badge-pill badge-success">{{ surgery.status }}</span>
                                                                            {% elif surgery.status == 'Denied' %}
                                                                                <span class="badge badge-pill badge-danger">{{ surgery.status }}</span>
                                                                            {% else %}
                                                                                <span class="badge badge-pill badge-secondary">{{ surgery.status }}</span>
                                                                            {% endif %}
                                                                        </div>
                                                                        <div class="col d-flex flex-column align-items-center flex-sm-row">
                                                                <span class="text-center text-sm-left"
                                                                      style="font-weight: bold;">Uploaded {{ surgery.date_of_upload }}</span>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                            {% endfor %}
                                                        </ul>
                                                        <a class="btn btn-tvachacare w-100" role="button"
                                                           style="border-radius: 8px;"
                                                           href="{% url 'add_surgery' patient.slug %}">
                                                            <i class="fas fa-plus"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                        {% endblock %}
                    </ul>
                </div>
            </div>
            <div class="row no-gutters p-3">
                <div class="col">
                    <div class="btn-group w-100" role="group">
                        <a class="btn btn-success font-weight-bold" role="button"
                           style="border-top-left-radius: 8px;border-bottom-left-radius: 8px;" href="{% url 'approved_and_denied' %}">View Approved
                            Surgeries</a>
                        <a class="btn btn-danger font-weight-bold" role="button"
                           style="border-top-right-radius: 8px;border-bottom-right-radius: 8px;" href="{% url 'approved_and_denied' %}">View Denied
                            Surgeries</a>
                    </div>
                </div>
            </div>
        </div>
    </main>

{% endblock %}