{% extends 'base.html' %}
{% load static %}

{% block header %}
    <title>Login</title>
    <style>
        .loader-wrapper {
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 100%;
            z-index: 99999;
            background-color: white;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .loader {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            animation: flickerAnimation 2s infinite;
        }

        @keyframes flickerAnimation { /* flame pulses */
            0% {
                opacity: 1;
            }
            50% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }

        .btn-primary {
            -webkit-appearance: none;
        }
    </style>
    <script>
        function fadeOut() {
            $('.loader-wrapper').fadeOut("slow", 0);
        }

        window.onload = fadeOut
    </script>
{% endblock %}

{% block content %}



    <div class="loader-wrapper" onload="fadeOut()">
        <div class="loader">
            <h1 style="color: #fc9c34; text-align: center; margin-top: 10px; font-weight: bold; font-family: Raleway, sans-serif">Loading...</h1>
        </div>
    </div>

    <main class="d-flex justify-content-md-center align-items-md-center align-items-xl-center page landing-page"
          style="color: white;overflow: auto;padding: 0;"></main>
    <div class="d-flex">
        <div class="container d-flex d-md-flex justify-content-center align-items-center justify-content-md-center">
            <div class="row d-flex d-md-flex">
                <div class="col-md-12 d-flex d-sm-flex d-md-flex flex-column justify-content-center align-items-center justify-content-sm-center align-items-sm-center justify-content-md-center align-items-md-center"
                     style="height: 100vh;width: 100%;">
                    <h1 style="margin-bottom: 18px;font-family: Raleway, sans-serif;font-weight: 700;color: white;">Log In As:</h1>
                    <div class="btn-group-vertical btn-group-lg d-flex" role="group">
                        <a class="btn btn-primary" type="button"
                           style="font-family: 'Open Sans', sans-serif;background-color: #FC9C34;border-color: white;border-width: 3px; border-radius: 3px;"
                           href="{% url 'loginAdmin' %}">Administrator</a>
                        <a class="btn btn-primary" type="button"
                           style="font-family: 'Open Sans', sans-serif;background-color: #FC9C34;border-color: white;border-width: 3px; border-radius: 3px;margin-bottom: 15px;margin-top: 15px;"
                           href="{% url 'loginAdmin' %}">Approver</a>
                        <a class="btn btn-primary" type="button"
                           style="font-family: 'Open Sans', sans-serif;background-color: #FC9C34;border-color: white;border-width: 3px; border-radius: 3px;"
                           href="{% url 'loginAdmin' %}">Data Entry Specialist</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
