{% extends 'base.html' %}
{% load static %}

{% block header %}
    <style>
        #view-images:hover {
            color: white !important;
            background-color: gray;
            transition-duration: 0.3s !important;
        }

        #view-images {
            transition-duration: 0.2s !important;
        }

        .display-none {
            display: none !important;
        }
    </style>
    <script>
        $(document).ready(function () {
            $("button").click(function () {
                $(".delete-patient").removeClass("display-none");
                console.log("Executed Correctly")
            });
        });
    </script>
    <title>{{ patient }}</title>
{% endblock %}
{% block content %}
    <div class="justify-content-center align-items-center delete-patient display-none"
         style="display: flex;top: 0;width: 100vw;height: 100vh;position: fixed;z-index: 1000;background-color: rgba(128,128,128,0.57);">
        <div class="d-flex flex-column"
             style="background-color: white;padding: 50px;border-radius: 5px;box-shadow: 0px 0px 5px 0px gray;">
            <h1 style="color: #fc9c34;font-weight: bold;font-family: 'Open Sans', sans-serif;margin-bottom: 15px;">Are
                you sure?</h1>
            <div role="group" class="btn-group">
                <button class="btn btn-secondary" type="button" onclick="closeMenu()"
                        style="border-radius: 5px;margin: 3px;">Cancel
                </button>
                <a class="btn btn-danger" role="button" style="border-radius: 5px;margin: 3px;"
                   href="{% url 'delete_patient' patient.slug %}">Delete</a>
            </div>
        </div>
    </div>
    <main>
        <div class="container d-flex d-xl-flex flex-column justify-content-center align-items-center align-items-xl-center"
             style="padding: 30px 50px;background-color: white;">
            <div class="row" style="width: 100%;margin-bottom: 10px;">
                <div class="col d-flex justify-content-center justify-content-md-center justify-content-lg-end justify-content-xl-end"
                     style="width: 100%;">
                    <button type="button" class="btn btn-danger open-menu" onclick="openMenu()"
                            style="border-radius: 7px;">Delete
                        Patient
                    </button>
                </div>
            </div>
            <div class="row d-flex flex-column flex-sm-column flex-md-row flex-lg-row flex-xl-row"
                 style="width: 100%;height: 500px;">
                <div class="col d-flex flex-column justify-content-center align-items-center"
                     style="overflow: hidden;height: 500px;">
                    {% if patient.patient_image %}
                        <img src="{{ patient.patient_image.url }}" style="width: 100%;" alt="Patient Image"/>
                    {% else %}
                        <img src="{% static 'img/placeholder_patient.png' %}" style="width: 100%;" alt="Patient Image"/>
                    {% endif %}
                </div>
                <div class="col d-flex flex-column justify-content-center align-items-center"
                     style="overflow: hidden;height: 500px;">
                    {% if patient.injury_image %}
                        <img src="{{ patient.injury_image.url }}" style="width: 100%;" alt="Patient Image"/>
                    {% else %}
                        <img src="{% static 'img/placeholder_injury.png' %}" style="width: 100%;" alt="Injury Image"/>
                    {% endif %}
                </div>
            </div>
            <div class="row justify-content-center" style="margin-top: 20px;width: 85%;">
                <div class="col-lg-12 col-xl-12">
                    {% if patient.middle_name %}
                        <h1 class="text-center"
                            style="color: #fc9c34;margin-bottom: 25px;font-weight: bold;font-size: 45px;">{{ patient.first_name }} {{ patient.middle_name }} {{ patient.last_name }}</h1>
                    {% else %}
                        <h1 class="text-center"
                            style="color: #fc9c34;margin-bottom: 25px;font-weight: bold;font-size: 45px;">{{ patient.first_name }} {{ patient.last_name }}</h1>
                    {% endif %}
                </div>
            </div>
            <div class="row flex-column flex-md-row flex-lg-row flex-xl-row" style="width: 100%;margin-bottom: 20px;">
                <div class="col d-flex flex-column justify-content-center align-items-center"
                     style="height: 186px !important;margin: 5px;padding: 35px 10px;border-radius: 7px;background-color: gray;box-shadow: inset 0px 0px 10px 0px #505e6c;">
                    <i class="fa fa-barcode" style="font-size: 35px;"></i>
                    <h1 class="text-center" style="font-family: Raleway, sans-serif;font-size: 18px;margin-top: 8px;">
                        Helping Hands File Number</h1>
                    <h1 class="text-center"
                        style="font-family: 'Open Sans', sans-serif;font-weight: bold;font-size: 30px;width: 100%;">
                        {{ patient.helping_hands_file_number }}</h1>
                </div>
                <div class="col d-flex flex-column justify-content-center align-items-center"
                     style="height: 186px !important;margin: 5px;padding: 35px 10px;border-radius: 7px;background-color: gray;box-shadow: inset 0px 0px 10px #505e6c;">
                    <i class="fa fa-barcode" style="font-size: 35px;"></i>
                    <h1 class="text-center" style="font-family: Raleway, sans-serif;font-size: 18px;margin-top: 8px;">
                        Resurge Outreach Number</h1>
                    <h1 class="text-break text-center"
                        style="font-family: 'Open Sans', sans-serif;font-weight: bold;font-size: 30px;">{{ patient.resurge_outreach_number }}</h1>
                </div>
                <div class="col d-flex flex-column justify-content-center align-items-center"
                     style="height: 186px !important;margin: 5px;padding: 35px 10px;border-radius: 7px;background-color: gray;box-shadow: inset 0px 0px 10px #505e6c;">
                    <i class="fa fa-clock" style="font-size: 35px;"></i>
                    <h1 class="text-center" style="font-family: Raleway, sans-serif;font-size: 18px;margin-top: 8px;">
                        Age</h1>
                    <h1 class="text-break text-center"
                        style="font-family: 'Open Sans', sans-serif;font-weight: bold;font-size: 30px;">{{ patient.age }}</h1>
                </div>
            </div>
            {% if patient.date_of_birth %}
                <div class="row"
                     style="width: 100%;margin-bottom: 10px;border-width: 5px;background-color: whitesmoke;">
                    <div class="col" style="background-color: #fc9c34;border-radius: 5px;padding: 15px 20px;">
                        <h3 class="d-flex justify-content-center justify-content-sm-center justify-content-md-start justify-content-lg-start justify-content-xl-start"
                            style="color: white;font-weight: bold;margin-bottom: 0;">Date of Birth</h3>
                    </div>
                    <div class="col-xl-8"
                         style="padding: 15px 20px;background-color: whitesmoke;border-bottom-right-radius: 5px;border-bottom-left-radius: 5px;">
                        <p class="lead d-flex justify-content-center justify-content-sm-center justify-content-md-start justify-content-lg-start justify-content-xl-start"
                           style="color: #444444;font-family: 'Open Sans', sans-serif;font-weight: normal;margin-bottom: 0;font-style: normal;font-size: 25px;">
                            {{ patient.date_of_birth }}</p>
                    </div>
                </div>
            {% endif %}
            {% if patient.gender %}
                <div class="row" style="width: 100%;margin-bottom: 15px;background-color: whitesmoke">
                    <div class="col d-flex justify-content-center align-items-center align-self-center justify-content-sm-center justify-content-md-start justify-content-lg-start justify-content-xl-start"
                         style="background-color: #fc9c34;border-radius: 5px;padding: 15px 20px;">
                        <h3 style="color: white;font-weight: bold;margin-bottom: 0;">Gender</h3>
                    </div>
                    <div class="col-xl-8 d-flex justify-content-center align-content-center align-self-center justify-content-sm-center justify-content-md-start justify-content-lg-start justify-content-xl-start"
                         style="padding: 15px 20px;">
                        <p class="lead"
                           style="color: #444;font-family: 'Open Sans', sans-serif;font-weight: normal;margin-bottom: 0;font-style: normal;font-size: 25px;">
                            {{ patient.gender }}</p>
                    </div>
                </div>
            {% endif %}
            {% if patient.race %}
                <div class="row" style="width: 100%;margin-bottom: 15px;background-color: whitesmoke;">
                    <div class="col d-flex justify-content-center align-items-center align-self-center justify-content-sm-center justify-content-md-start justify-content-lg-start justify-content-xl-start"
                         style="background-color: #fc9c34;border-radius: 5px;padding: 15px 20px;">
                        <h3 style="color: white;font-weight: bold;margin-bottom: 0;">Race</h3>
                    </div>
                    <div class="col-xl-8 d-flex justify-content-center align-content-center align-self-center justify-content-sm-center justify-content-md-start justify-content-lg-start justify-content-xl-start"
                         style="padding: 15px 20px;">
                        <p class="lead"
                           style="color: #444;font-family: 'Open Sans', sans-serif;font-weight: normal;margin-bottom: 0;font-style: normal;font-size: 25px;">
                            {{ patient.race }}</p>
                    </div>
                </div>
            {% endif %}
            {% if patient.address %}
                <div class="row" style="width: 100%;margin-bottom: 15px;background-color: whitesmoke">
                    <div class="col d-flex justify-content-center align-items-center align-self-center justify-content-sm-center justify-content-md-start justify-content-lg-start justify-content-xl-start"
                         style="background-color: #fc9c34;border-radius: 5px;padding: 15px 20px;">
                        <h3 style="color: white;font-weight: bold;margin-bottom: 0;">Address</h3>
                    </div>
                    <div class="col-xl-8 d-flex justify-content-center align-content-center align-self-center justify-content-sm-center justify-content-md-start justify-content-lg-start justify-content-xl-start"
                         style="padding: 15px 20px;">
                        <p class="lead"
                           style="color: #444;font-family: 'Open Sans', sans-serif;font-weight: normal;margin-bottom: 0;font-style: normal;font-size: 25px;">
                            {{ patient.address }}</p>
                    </div>
                </div>
            {% endif %}
            {% if patient.telephone_number %}
                <div class="row" style="width: 100%;margin-bottom: 15px;background-color: whitesmoke;">
                    <div class="col d-flex justify-content-center align-items-center align-self-center justify-content-sm-center justify-content-md-start justify-content-lg-start justify-content-xl-start"
                         style="background-color: #fc9c34;border-radius: 5px;padding: 15px 20px;">
                        <h3 style="color: white;font-weight: bold;margin-bottom: 0;">Telephone Number</h3>
                    </div>
                    <div class="col-xl-8 d-flex justify-content-center align-content-center align-self-center justify-content-sm-center justify-content-md-start justify-content-lg-start justify-content-xl-start"
                         style="padding: 15px 20px;">
                        <p class="lead"
                           style="color: #444;font-family: 'Open Sans', sans-serif;font-weight: normal;margin-bottom: 0;font-style: normal;font-size: 25px;">
                            {{ patient.telephone_number }}</p>
                    </div>
                </div>
            {% endif %}
            {% if patient.parents %}
                <div class="row" style="width: 100%;margin-bottom: 15px;background-color: whitesmoke">
                    <div class="col d-flex justify-content-center align-items-center align-self-center justify-content-sm-center justify-content-md-start justify-content-lg-start justify-content-xl-start"
                         style="background-color: #fc9c34;border-radius: 5px;padding: 15px 20px;">
                        <h3 style="color: white;font-weight: bold;margin-bottom: 0;">Parents</h3>
                    </div>
                    <div class="col-xl-8 d-flex justify-content-center align-content-center align-self-center justify-content-sm-center justify-content-md-start justify-content-lg-start justify-content-xl-start"
                         style="padding: 15px 20px;">
                        <p class="lead"
                           style="color: #444;font-family: 'Open Sans', sans-serif;font-weight: normal;margin-bottom: 0;font-style: normal;font-size: 25px;">
                            {{ patient.parents }}</p>
                    </div>
                </div>
            {% endif %}
            {% if patient.relationship %}
                <div class="row" style="width: 100%;margin-bottom: 15px;background-color: whitesmoke;">
                    <div class="col d-flex justify-content-center align-items-center align-self-center justify-content-sm-center justify-content-md-start justify-content-lg-start justify-content-xl-start"
                         style="background-color: #fc9c34;border-radius: 5px;padding: 15px 20px;">
                        <h3 style="color: white;font-weight: bold;margin-bottom: 0;">Relationship</h3>
                    </div>
                    <div class="col-xl-8 d-flex justify-content-center align-content-center align-self-center justify-content-sm-center justify-content-md-start justify-content-lg-start justify-content-xl-start"
                         style="padding: 15px 20px;">
                        <p class="lead"
                           style="color: #444;font-family: 'Open Sans', sans-serif;font-weight: normal;margin-bottom: 0;font-style: normal;font-size: 25px;">
                            {{ patient.relationship }}</p>
                    </div>
                </div>
            {% endif %}
            {% if patient.parent_occupation %}
                <div class="row" style="width: 100%;margin-bottom: 15px;background-color: whitesmoke">
                    <div class="col d-flex justify-content-center align-items-center align-self-center justify-content-sm-center justify-content-md-start justify-content-lg-start justify-content-xl-start"
                         style="background-color: #fc9c34;border-radius: 5px;padding: 15px 20px;">
                        <h3 style="color: white;font-weight: bold;margin-bottom: 0;">Parent Occupation</h3>
                    </div>
                    <div class="col-xl-8 d-flex justify-content-center align-content-center align-self-center justify-content-sm-center justify-content-md-start justify-content-lg-start justify-content-xl-start"
                         style="padding: 15px 20px;">
                        <p class="lead"
                           style="color: #444;font-family: 'Open Sans', sans-serif;font-weight: normal;margin-bottom: 0;font-style: normal;font-size: 25px;">
                            {{ patient.parent_occupation }}</p>
                    </div>
                </div>
            {% endif %}
            {% if patient.diagnosis %}
                <div class="row" style="width: 100%;margin-bottom: 15px;background-color: whitesmoke">
                    <div class="col d-flex justify-content-center align-items-center align-self-center justify-content-sm-center justify-content-md-start justify-content-lg-start justify-content-xl-start"
                         style="background-color: #fc9c34;border-radius: 5px;padding: 15px 20px;">
                        <h3 style="color: white;font-weight: bold;margin-bottom: 0;">Diagnosis</h3>
                    </div>
                    <div class="col-xl-8 d-flex justify-content-center align-content-center align-self-center justify-content-sm-center justify-content-md-start justify-content-lg-start justify-content-xl-start"
                         style="padding: 15px 20px;">
                        <p class="lead"
                           style="color: #444;font-family: 'Open Sans', sans-serif;font-weight: normal;margin-bottom: 0;font-style: normal;font-size: 25px;">
                            {{ patient.diagnosis }}</p>
                    </div>
                </div>
            {% endif %}
            {% if patient.weight %}
                <div class="row" style="width: 100%;margin-bottom: 15px;background-color: whitesmoke">
                    <div class="col d-flex justify-content-center align-items-center align-self-center justify-content-sm-center justify-content-md-start justify-content-lg-start justify-content-xl-start"
                         style="background-color: #fc9c34;border-radius: 5px;padding: 15px 20px;">
                        <h3 style="color: white;font-weight: bold;margin-bottom: 0;">Weight</h3>
                    </div>
                    <div class="col-xl-8 d-flex justify-content-center align-content-center align-self-center justify-content-sm-center justify-content-md-start justify-content-lg-start justify-content-xl-start"
                         style="padding: 15px 20px;">
                        <p class="lead"
                           style="color: #444;font-family: 'Open Sans', sans-serif;font-weight: normal;margin-bottom: 0;font-style: normal;font-size: 25px;">
                            {{ patient.weight }}kg</p>
                    </div>
                </div>
            {% endif %}
            {% if patient.height %}
                <div class="row" style="width: 100%;margin-bottom: 15px;background-color: whitesmoke">
                    <div class="col d-flex justify-content-center align-items-center align-self-center justify-content-sm-center justify-content-md-start justify-content-lg-start justify-content-xl-start"
                         style="background-color: #fc9c34;border-radius: 5px;padding: 15px 20px;">
                        <h3 style="color: white;font-weight: bold;margin-bottom: 0;">Height</h3>
                    </div>
                    <div class="col-xl-8 d-flex justify-content-center align-content-center align-self-center justify-content-sm-center justify-content-md-start justify-content-lg-start justify-content-xl-start"
                         style="padding: 15px 20px;">
                        <p class="lead"
                           style="color: #444;font-family: 'Open Sans', sans-serif;font-weight: normal;margin-bottom: 0;font-style: normal;font-size: 25px;">
                            {{ patient.height }}cm</p>
                    </div>
                </div>
            {% endif %}
            {% if patient.burn_injury %}
                <div class="row" style="width: 100%;margin-bottom: 15px;background-color: whitesmoke">
                    <div class="col d-flex justify-content-center align-items-center align-self-center justify-content-sm-center justify-content-md-start justify-content-lg-start justify-content-xl-start"
                         style="background-color: #fc9c34;border-radius: 5px;padding: 15px 20px;">
                        <h3 style="color: white;font-weight: bold;margin-bottom: 0;">Burn Injury</h3>
                    </div>
                    <div class="col-xl-8 d-flex justify-content-center align-content-center align-self-center justify-content-sm-center justify-content-md-start justify-content-lg-start justify-content-xl-start"
                         style="padding: 15px 20px;">
                        <p class="lead"
                           style="color: #444;font-family: 'Open Sans', sans-serif;font-weight: normal;margin-bottom: 0;font-style: normal;font-size: 25px;">
                            {{ patient.burn_injury }}</p>
                    </div>
                </div>
            {% endif %}
            {% if patient.cleft_injury %}
                <div class="row" style="width: 100%;margin-bottom: 15px;background-color: whitesmoke">
                    <div class="col d-flex justify-content-center align-items-center align-self-center justify-content-sm-center justify-content-md-start justify-content-lg-start justify-content-xl-start"
                         style="background-color: #fc9c34;border-radius: 5px;padding: 15px 20px;">
                        <h3 style="color: white;font-weight: bold;margin-bottom: 0;">Cleft Injury</h3>
                    </div>
                    <div class="col-xl-8 d-flex justify-content-center align-content-center align-self-center justify-content-sm-center justify-content-md-start justify-content-lg-start justify-content-xl-start"
                         style="padding: 15px 20px;">
                        <p class="lead"
                           style="color: #444;font-family: 'Open Sans', sans-serif;font-weight: normal;margin-bottom: 0;font-style: normal;font-size: 25px;">
                            {{ patient.cleft_injury }}</p>
                    </div>
                </div>
            {% endif %}
            {% if patient.hand_injury %}
                <div class="row" style="width: 100%;margin-bottom: 15px;background-color: whitesmoke">
                    <div class="col d-flex justify-content-center align-items-center align-self-center justify-content-sm-center justify-content-md-start justify-content-lg-start justify-content-xl-start"
                         style="background-color: #fc9c34;border-radius: 5px;padding: 15px 20px;">
                        <h3 style="color: white;font-weight: bold;margin-bottom: 0;">Hand Injury</h3>
                    </div>
                    <div class="col-xl-8 d-flex justify-content-center align-content-center align-self-center justify-content-sm-center justify-content-md-start justify-content-lg-start justify-content-xl-start"
                         style="padding: 15px 20px;">
                        <p class="lead"
                           style="color: #444;font-family: 'Open Sans', sans-serif;font-weight: normal;margin-bottom: 0;font-style: normal;font-size: 25px;">
                            {{ patient.hand_injury }}</p>
                    </div>
                </div>
            {% endif %}
            {% if patient.prior_surgery %}
                <div class="row" style="width: 100%;margin-bottom: 15px;background-color: whitesmoke">
                    <div class="col d-flex justify-content-center align-items-center align-self-center justify-content-sm-center justify-content-md-start justify-content-lg-start justify-content-xl-start"
                         style="background-color: #fc9c34;border-radius: 5px;padding: 15px 20px;">
                        <h3 style="color: white;font-weight: bold;margin-bottom: 0;">Prior Surgery</h3>
                    </div>
                    <div class="col-xl-8 d-flex justify-content-center align-content-center align-self-center justify-content-sm-center justify-content-md-start justify-content-lg-start justify-content-xl-start"
                         style="padding: 15px 20px;">
                        <p class="lead"
                           style="color: #444;font-family: 'Open Sans', sans-serif;font-weight: normal;margin-bottom: 0;font-style: normal;font-size: 25px;">
                            {{ patient.prior_surgery }}</p>
                    </div>
                </div>
            {% endif %}
            {% if account.group == 'Approver' and patient.is_approved == False %}
                <div role="group" class="btn-group"
                     style="font-family: 'Open Sans', sans-serif;width: 100%;height: 60px;">
                    <a class="btn btn-danger d-flex justify-content-center align-items-center" role="button"
                       href="{% url 'delete_patient' patient.slug %}">Don&#39;t
                        Approve</a>
                    <a class="btn btn-success d-flex justify-content-center align-items-center"
                       role="button" href="{% url 'approve_patient' patient.slug %}">Approve</a>
                </div>
            {% endif %}
            <div class="row"
                 style="margin-top: 20px;border-style: solid;border-color: #fc9c34;border-radius: 7px;width: 100%;">
                <div class="col d-flex flex-column justify-content-center align-items-center">
                    <h1 class="text-center" style="color: #fc9c34;font-size: 30px;margin-bottom: 5px;">Surgeries</h1>
                    <nav>
                        <ul class="pagination">
                            <li class="page-item"><a class="page-link" href="#"
                                                     style="color: white;background-color: #fc9c34;">1</a></li>
                            <li class="page-item"><a class="page-link" href="#"
                                                     style="color: white;background-color: #fc9c34;">2</a></li>
                            <li class="page-item"><a class="page-link" href="#"
                                                     style="color: white;background-color: #fc9c34;">3</a></li>
                            <li class="page-item"><a class="page-link" href="#"
                                                     style="color: white;background-color: #fc9c34;">4</a></li>
                            <li class="page-item"><a class="page-link" href="#"
                                                     style="color: white;background-color: #fc9c34;">5</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#"
                                   style="color: white;background-color: #fc9c34;"
                                   aria-label="Next"><span aria-hidden="true">+</span></a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>

    </main>
    <script>
        function openMenu() {
            $('.delete-patient').removeClass('display-none');
        }

        function closeMenu() {
            $('.delete-patient').addClass('display-none')
        }
    </script>
{% endblock %}