{% extends 'base.html' %}

{% block header %}
    <title>Privacy Policy</title>
    <style>
    h3 {
        font-family: "Raleway", sans-serif;
    }
    h4 {
        font-family: "Raleway", sans-serif;
    }
    </style>
{% endblock %}

{% block content %}
    <main>
        <div class="container d-flex flex-column justify-content-center" style="background: white; padding: 40px 15px">
            <div class="row" style="color: #fc9c34;">
                <div class="col">
                    <h1 style="text-align: center;margin-bottom: 20px;font-family: Raleway, sans-serif;font-weight: bold;font-size: 35px;">
                        Privacy Statement</h1>
                </div>
            </div>
            <div class="row" style="margin: 0 20px 20px;">
                <div class="col" style="color: #fc9c34;">
                    <h3 style="font-weight: bold;margin-bottom: 15px;">Your Privacy is Our Policy</h3>
                    <p style="color: #1b262c;font-family: 'Open Sans', sans-serif;">TvachaCare is a healthcare company
                        that provides medical practitioners with a platform to manage their clinical data and to
                        streamline their revenue cycle. Central to our mission is the commitment to be transparent about
                        the data we collect,
                        how it is used, and with whom it is shared.<br/></p>
                    <p style="color: #1b262c;font-family: 'Open Sans', sans-serif;">For the purpose of this Privacy
                        Policy, ‘personal data’ shall mean any information by which an individual may be personally
                        identified, including name, address, e-mail address, telephone number, online identifiers,
                        location data or any
                        other information that is defined as ‘personal data’ under the California Consumer Privacy Act
                        (“CCPA”) (“Personal Data”). <br/></p>
                    <p style="color: #1b262c;font-family: 'Open Sans', sans-serif;">This Privacy Policy applies to all
                        visitors of the TvachaCare website (“You” or where the context provides “Your”) who’s Personal
                        Data is collected or processed by TvachaCare. This Privacy Policy is intended to give you an
                        opportunity
                        to be informed about the ways in which TvachaCare collects, uses, and shares Your Personal
                        Data. <br/></p>
                </div>
            </div>
            <div class="row" style="margin: 0 20px 20px;">
                <div class="col" style="color: #fc9c34;">
                    <h3 style="font-weight: bold;margin-bottom: 15px;">Categories of Data Processed</h3>
                    <h4>Data You Provide</h4>
                    <p style="color: #1b262c;font-family: 'Open Sans', sans-serif;">During Your use of the TvachaCare
                        website, You may provide and TvachaCare may process information regarding You and Your practice
                        which may include Your name, scheduling information, email address, and telephone number. This
                        information
                        is only used by our team to contact You regarding the provision of TvachaCare Services. <br/>
                    </p>
                    <h4>Cookies and Other Similar Technologies<br/></h4>
                    <p style="color: #1b262c;font-family: 'Open Sans', sans-serif;">We get information about Your IP
                        address, proxy server, operating system, and web browser, visit time, device identifier, and
                        features. We collect data through cookies and similar technology to identify and log Your use of
                        the TvachaCare
                        website. This information is used by TvachaCare to analyze and improve our security
                        measures.<br/></p>
                    <h4>Other<br/></h4>
                    <p style="color: #1b262c;font-family: 'Open Sans', sans-serif;">We are constantly looking for ways
                        to improve our website which may require the collection of new information and new ways to use
                        Personal Data. If we collect materially different Personal Data or materially change how we use
                        Your Personal
                        Data, TvachaCare reserves the right to modify this Privacy Policy accordingly and display it on
                        our website. <br/></p>
                    <h4>Mandatory Disclosures<br/></h4>
                    <p style="color: #1b262c;font-family: 'Open Sans', sans-serif;">TvachaCare may disclose Your
                        Personal Data when we believe in good faith that disclosure is required by law or legal process,
                        or if we have a good faith belief that disclosure is reasonably necessary to (1) investigate and
                        prevent measures
                        against suspected or actual illegal activities or to cooperate with public and government
                        authorities; (2) enforce our contractual requirements; (3) protect and defend ourselves against
                        any third-party claims or allegations; (4) maintain
                        the security or integrity of the TvachaCare Services; or (5) safeguard the rights and safety of
                        TvachaCare, its workforce and others.<br/></p>
                    <p style="color: #1b262c;font-family: 'Open Sans', sans-serif;">TvachaCare will undertake good faith
                        efforts to notify You about any legal demands for Your Personal Data when appropriate in our
                        judgment, unless restricted by law or court order or when the request is an emergency. We may
                        dispute such
                        demands when we believe, in our discretion, that the requests are overboard, vague or lack
                        proper authority, but we do not promise to challenge every demand.<br/></p>
                    <p style="color: #1b262c;font-family: 'Open Sans', sans-serif;"></p>
                    <p style="color: #1b262c;font-family: 'Open Sans', sans-serif;"></p>
                </div>
            </div>
            <div class="row" style="margin: 0 20px 20px;">
                <div class="col" style="color: #fc9c34;">
                    <h3 style="font-weight: bold;margin-bottom: 15px;">Your Rights</h3>
                    <h4>Right to Deletion</h4>
                    <p style="color: #1b262c;font-family: 'Open Sans', sans-serif;">You can ask us to delete Your
                        Personal Data maintained by TvachaCare subject to the provision of a verifiable request.
                        However, we may retain Your Personal Data for as long as necessary to comply with federal or
                        state data retention requirements
                        or other applicable laws.<br/></p>
                    <h4>Right to Access</h4>
                    <p style="color: #1b262c;font-family: 'Open Sans', sans-serif;">You can ask us for access to Your
                        Personal Data maintained by TvachaCare subject to the provision of a verifiable request.<br/>
                    </p>
                    <h4>Other Rights<br/></h4>
                    <p style="color: #1b262c;font-family: 'Open Sans', sans-serif;">You can ask us to enumerate the
                        different categories of Your Personal Data collected by TvachaCare. You can also ask us to
                        provide you with a list of third parties (if any) to whom Your Personal Data has been disclosed.<br/>
                    </p>
                    <h4>Contact<br/></h4>
                    <p><span style="color: #1b262c;font-family: 'Open Sans', sans-serif;margin-bottom: 16px;">For any queries and requests relating to Your rights hereunder, please e-mail us at <a
                            data-toggle="tooltip" data-placement="bottom" href="mailto:tvachacare@gmail.com"
                            style="font-family: 'Open Sans', sans-serif;font-weight: bold;" target="_blank"
                            title="Click Here to Send Email">tvachacare@gmail.com</a>.<br/></span></p>
                    <h4>Non-Discrimination<br/></h4>
                    <p style="color: #1b262c;font-family: 'Open Sans', sans-serif;margin-bottom: 8px;">Unless permitted
                        by applicable law, we will not discriminate against You for exercising any of Your rights under
                        this Privacy Policy, such as:<br/></p>
                    <ul>
                        <li style="color: #1b262c;font-family: 'Open Sans', sans-serif;">Deny you goods or services<br/>
                        </li>
                        <li style="color: #1b262c;font-family: 'Open Sans', sans-serif;">Charge you different prices or
                            rates for goods or services, including through granting discounts or other benefits, or
                            imposing penalties<br/></li>
                        <li style="color: #1b262c;font-family: 'Open Sans', sans-serif;">Provide you a different level
                            or quality of goods or services<br/></li>
                        <li style="color: #1b262c;font-family: 'Open Sans', sans-serif;">Suggest that you may receive a
                            different price or rate for goods or services or a different level or quality of goods or
                            services.<br/></li>
                    </ul>
                    <p style="color: #1b262c;font-family: 'Open Sans', sans-serif;">However, please note many features
                        of our website will not function without Your Personal Data.<br/></p>
                    <h4>Sale of Information</h4>
                    <p style="color: #1b262c;font-family: 'Open Sans', sans-serif;">TvachaCare does not sell any of Your
                        Personal Data.<br/></p>
                </div>
            </div>
            <div class="row" style="margin: 0 20px;">
                <div class="col" style="color: #fc9c34;">
                    <h3 style="font-weight: bold;margin-bottom: 15px;">Other Important Information</h3>
                    <h4>Minors</h4>
                    <p style="color: #1b262c;font-family: 'Open Sans', sans-serif;">The TvachaCare website is not
                        intended for use by individuals under the age of 16. By using this website You warrant that You
                        are above the age of 16. <br/></p>
                    <h4>Changes to Privacy Policy</h4>
                    <p style="color: #1b262c;font-family: 'Open Sans', sans-serif;">TvachaCare reserves the right to
                        modify this Privacy Policy at any time. You acknowledge that Your continued use of the
                        TvachaCare website after we publish or send a notice about our changes to this Privacy Policy
                        means that the collection,
                        use, and sharing of Your Personal Data is subject to the updated Privacy Policy.<br/></p>
                    <h4>Contact Information</h4>
                    <p><span style="color: #1b262c;font-family: 'Open Sans', sans-serif;margin-bottom: 16px;">If You have questions or complaints regarding this Privacy Policy You can reach out to our staff at <a
                            data-toggle="tooltip" data-placement="bottom" href="mailto:tvachacare@gmail.com"
                            style="font-family: 'Open Sans', sans-serif;font-weight: bold;" target="_blank"
                            title="Click Here to Send Email">tvachacare@gmail.com</a>.<br/></span></p>
                </div>
            </div>
        </div>
    </main>
{% endblock %}