{% extends 'base.html' %}
{% load static %}

{% block header %}
    <title>{{ patient.last_name }}, {{ patient.first_name }} Surgery #{{ surgery.id }}</title>
    <link rel="stylesheet" href="{% static 'surgery_page.css' %}">
    <link rel="stylesheet" href="{% static 'patient_page.css' %}">
    <script src="{% static 'js/surgery_page.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="justify-content-center align-items-center delete-patient d-none"
         style="display: flex;top: 0;left: 0;width: 100vw;height: 100vh;position: fixed;z-index: 1000;background-color: rgba(128,128,128,0.57);">
        <div class="d-flex flex-column"
             style="background-color: white;padding: 50px;border-radius: 5px;box-shadow: 0 0 5px 0 var(--accent-color);">
            <h1 style="color: var(--main-color);font-weight: bold;font-family: 'Open Sans', sans-serif;margin-bottom: 15px;">
                Are
                you sure?</h1>
            <div role="group" class="btn-group">
                <button class="btn btn-secondary" type="button" onclick="closeMenu()"
                        style="border-radius: 5px;margin: 3px;">Cancel
                </button>
                <a class="btn btn-danger d-print-none" role="button" style="border-radius: 5px;margin: 3px;"
                   href="{% url 'delete_surgery' patient.slug surgery.id %}">Delete</a>
            </div>
        </div>
    </div>
    <div class="d-flex flex-column justify-content-center align-items-center images-container invisible"
         style="overflow: auto;top: 0;position: fixed;width: 100%;height: 100%;z-index: 10000;background-color: rgba(128,128,128,0.57);left: 0;">
        <div style="width: 70%;padding: 40px;background-color: white;position: relative;border-radius: 8px">
            <div class="carousel slide" id="carousel-1">
                <div role="listbox" class="carousel-inner">
                    {% if images %}
                        {% for image in images %}
                            <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %}">
                                <img class="m-auto d-block" loading="lazy"
                                     style="max-height: 500px; max-width: 100%" src="{{ image.image.url }}"
                                     alt="Slide Image"/>
                                <div class="d-flex justify-content-center w-100">
                                    <p style="background: white;color: var(--main-color);position: absolute;bottom: 30px;padding: 5px;text-align: center;box-shadow: 0px 0px 5px 1px darkgray;border-radius: 5px;">
                                        Uploaded: {{ image.date_of_upload_image }}</p>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="carousel-item"><img class="w-100 d-block"
                                                        src="https://cdn.bootstrapstudio.io/placeholders/1400x800.png"
                                                        alt="Slide Image"/></div>
                    {% endif %}
                </div>
                <div><a href="#carousel-1" role="button" data-slide="prev" class="carousel-control-prev"><span
                        aria-hidden="true" class="carousel-control-prev-icon"></span><span
                        class="sr-only">Previous</span></a><a href="#carousel-1" role="button" data-slide="next"
                                                              class="carousel-control-next"><span aria-hidden="true"
                                                                                                  class="carousel-control-next-icon"></span><span
                        class="sr-only">Next</span></a></div>
                <ol class="carousel-indicators">

                    {% if images %}
                        {% for image in images %}
                            <li data-target="#carousel-1" data-slide-to="{{ forloop.counter0 }}"
                                {% if forloop.counter == 1 %}class="active"{% endif %}></li>
                        {% endfor %}
                    {% else %}
                        <li data-target="#carousel-1" data-slide-to="0" class="active"></li>
                    {% endif %}
                </ol>
            </div>
            <button class="btn" type="button" onclick="closeImages()"
                    style="position: absolute;top: 3px;right: 5px;">x
            </button>
        </div>
    </div>
    <main style="min-height: 100vh;font-family: Raleway, sans-serif;background: #fc9c34;padding: 15px;">
        <div class="container" style="background: white;border-radius: 8px;padding: 15px;">
            {% if images %}
                <div class="row no-gutters" style="margin-bottom: 1rem;">
                    <div class="col position-relative" style="padding-top: 30%;">
                        <div>
                            <div class="position-absolute"
                                 style="width: 100%;top: 0;left: 0;border-radius: 8px;height: 100%;">
                                <div class="row no-gutters" style="height: 100%;">
                                    {% if images.0 %}
                                        <div class="col col-6" style="padding: 5px;">
                                            <div style="height: 100%;background: url('{{ images.0.image.url }}') center / contain no-repeat, whitesmoke;border-radius: 8px;"></div>
                                        </div>
                                    {% endif %}
                                    {% if images.count > 1 %}
                                        <div class="col col-6">
                                            {% if images.count > 2 %}
                                                <div class="row no-gutters" style="height: 50%;">
                                                    <div class="col col-6" style="padding: 5px;">
                                                        <div style="height: 100%;background: url('{{ images.1.image.url }}') center / contain no-repeat, whitesmoke;border-radius: 8px;"></div>
                                                    </div>
                                                    <div class="col col-6" style="padding: 5px;">
                                                        <div style="height: 100%;background: url('{{ images.2.image.url }}') center / contain no-repeat, whitesmoke;border-radius: 8px;"></div>
                                                    </div>
                                                </div>
                                                <div class="row no-gutters" style="height: 50%;">
                                                    {% if images.count > 3 %}
                                                        <div class="col col-6 d-none d-lg-flex" style="padding: 5px;">
                                                            <div style="height: 100%;background: url('{{ images.3.image.url }}') center / contain no-repeat, whitesmoke;border-radius: 8px;width: 100%;"></div>
                                                        </div>
                                                        <div class="col col-12 col-lg-6" style="padding: 5px;">
                                                            {% include 'snippets/view_images.html' %}
                                                        </div>
                                                    {% else %}
                                                        <div class="col col-12" style="padding: 5px;">
                                                            {% include 'snippets/view_images.html' %}
                                                        </div>
                                                    {% endif %}
                                                </div>
                                            {% else %}
                                                <div class="row no-gutters" style="height: 50%;">
                                                    <div class="col col-12" style="padding: 5px;">
                                                        <div style="height: 100%;background: url('{{ images.1.image.url }}') center / contain no-repeat, whitesmoke;border-radius: 8px;"></div>
                                                    </div>
                                                </div>
                                                <div class="row no-gutters" style="height: 50%;">
                                                    <div class="col col-12" style="padding: 5px;">
                                                        {% include 'snippets/view_images.html' %}
                                                    </div>
                                                </div>
                                            {% endif %}
                                        </div>
                                    {% else %}
                                        <div class="col col-12 col-lg-6" style="padding: 5px;">
                                            {% include 'snippets/view_images.html' %}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
            <div class="row no-gutters" style="margin-bottom: 1rem;">
                <div class="col d-flex justify-content-center" style="font-size: 45px;font-weight: bold;">
                    <a class="name-card" href="{% url 'patient_page' patient.slug %}"
                       style="text-decoration: none;color: #fc9c34;padding: 10px;border-radius: 8px;">
                        <h1 class="text-center"
                            style="margin: 0;font-size: 45px;font-weight: bold;">{{ patient.first_name }} {{ patient.middle_name|default_if_none:'' }} {{ patient.last_name }}</h1>
                    </a>
                </div>
            </div>
            <div class="row no-gutters justify-content-center" style="margin: 8px;">
                <div class="col col-12 col-lg-3" style="padding: 10px;">
                    <button class="btn btn-block btn-transparent-primary" onclick="window.print()" type="button">Print
                    </button>
                </div>
                {% if account.group.can_add_surgeries %}
                    <div class="col col-12 col-lg-3" style="padding: 10px;">
                        <a href="{% url 'edit_surgery' patient.slug surgery.id %}"
                           class="btn btn-block btn-transparent-success"
                           role="button">Edit</a>
                    </div>
                    <div class="col col-12 col-lg-3" style="padding: 10px;">
                        <button onclick="openMenu()" class="btn btn-block btn-transparent-danger" type="button">Delete
                        </button>
                    </div>
                {% endif %}
            </div>
            <div class="row no-gutters" style="margin-bottom: 1rem;">
                <div class="col col-12 col-lg-4" style="padding: 0.5rem;">
                    <div class="d-flex flex-column justify-content-around"
                         style="padding: 1.5rem;color: rgb(255,255,255);background: slategray;border-radius: 8px;height: 100%;">
                        <i class="fas fa-calendar" style="font-size: 25px;text-align: center;margin-bottom: 8px;"></i>
                        <h4 style="text-align: center;font-family: Raleway, sans-serif;">Date of Surgery</h4>
                        <h2 style="text-align: center;font-weight: bold;">{{ surgery.date_of_surgery }}</h2>
                    </div>
                </div>
                <div class="col col-12 col-lg-4" style="padding: 0.5rem;">
                    <div class="d-flex flex-column justify-content-around"
                         style="padding: 1.5rem;color: rgb(255,255,255);background: slategray;border-radius: 8px;height: 100%;">
                        <i class="fas fa-calendar" style="font-size: 25px;text-align: center;margin-bottom: 8px;"></i>
                        <h4 style="text-align: center;font-family: Raleway, sans-serif;">Date of Admission</h4>
                        <h2 style="text-align: center;font-weight: bold;">{{ surgery.date_of_admission }}</h2>
                    </div>
                </div>
                <div class="col col-12 col-lg-4" style="padding: 0.5rem;">
                    <div class="d-flex flex-column justify-content-around"
                         style="padding: 1.5rem;color: rgb(255,255,255);background: slategray;border-radius: 8px;height: 100%;">
                        <i class="fas fa-calendar" style="font-size: 25px;text-align: center;margin-bottom: 8px;"></i>
                        <h4 style="text-align: center;font-family: Raleway, sans-serif;">Date of Discharge</h4>
                        <h2 style="text-align: center;font-weight: bold;">{{ surgery.date_of_discharge }}</h2>
                    </div>
                </div>
            </div>
            {% for field, value in fields %}
                {% if value %}
                    <div class="row no-gutters flex-column flex-lg-row"
                         style="border-radius: 8px;background: whitesmoke;margin: 8px 8px 1rem 8px">
                        <div class="col d-flex align-items-center"
                             style="border-radius: 8px;background: #fc9c34;padding: 1rem;">
                            <h3 style="margin: 0;font-weight: bold;color: white;">{{ field }}</h3>
                        </div>
                        <div class="col d-flex align-items-center" style="padding: 1rem;">
                            <h3 style="margin: 0;color: var(--dark);font-family: 'Open Sans', sans-serif;">{{ value }}<br/>
                            </h3>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            <div class="row no-gutters" style="padding: 15px;">
                <div class="col">
                    <h1 style="margin-bottom: 0;font-weight: bold;color: #fc9c34;">Surgeries</h1>
                    <hr/>
                    <div class="row no-gutters" style="margin-bottom: 1rem">
                        {% for surgeries, image in surgeries %}
                            <a href="{% url 'surgery_page' patient.slug surgeries.id %}" class="col col-12 col-lg-4"
                               style="border-radius: 8px;padding: 5px;">
                                <div class="d-flex flex-column justify-content-between surgery-card"
                                     style="padding: 1rem;height: 100%;border-radius: 8px;background: whitesmoke;{% if surgeries == surgery %}border: 3px solid #dfe1e5!important;{% else %}{% endif %}">
                                    <div class="d-flex justify-content-center align-items-center"
                                         style="height: 100%;padding-top: 51%;margin: 1rem;
                                                 background: url('{% if image %}{{ image.image.url }}{% else %}{% static 'img/placeholder_surgery.png' %}{% endif %}') center / contain no-repeat, rgb(225,225,225);border-radius: 8px;"></div>
                                    <div class="justify-content-around">
                                        <h3 style="font-weight: bold;margin: 0;color: #fc9c34;text-align: center;">
                                            Surgery #{{ surgeries.id }}</h3>
                                        {% if surgeries.date_of_surgery %}
                                            <hr style="width: 100%;"/>
                                            <h5 style="font-weight: bold;color: slategray;text-align: center;">{{ surgeries.date_of_surgery }}</h5>
                                        {% endif %}
                                    </div>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                    {% if account.group.can_add_surgeries %}
                        <div class="row no-gutters">
                            <div class="col">
                                <a href="{% url 'add_surgery' patient.slug %}"
                                   class="btn btn-block btn-lg btn-tvachacare" style="font-weight: bold" role="button">Add
                                    Surgery
                                </a>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
            {% if account.group.can_approve and surgery.is_approved == False and surgery.is_denied == False %}
                <div class="row no-gutters">
                    <div class="col" style="padding: 1rem; background: whitesmoke; border-radius: 8px">
                        <form method="post" style="width: 100%" enctype="multipart/form-data">{% csrf_token %}
                            <p class="lead"
                               style="text-align: center;font-family: Raleway, sans-serif;font-size: 24px; color: var(--main-color); margin-bottom: 5px;font-weight: bold">
                                <strong>Notes for Approval or Denial</strong></p>
                            <textarea style="margin-bottom: 15px" rows="6" name="reason" id="reason"
                                      class="form-control"></textarea>
                            <div role="group" class="btn-group"
                                 style="font-family: 'Open Sans', sans-serif;width: 100%;height: 60px;">
                                <input class="btn btn-danger d-flex justify-content-center align-items-center"
                                       style="font-family:Raleway, sans-serif; font-weight: bold" type="submit"
                                       value="Deny" name="deny">
                                <input class="btn btn-success d-flex justify-content-center align-items-center"
                                       style="font-family:Raleway, sans-serif; font-weight: bold"
                                       type="submit" value="Approve" name="approve">
                            </div>
                        </form>
                    </div>
                </div>


            {% endif %}
            {% if surgery.is_denied == True and account.group.can_approve %}
                <div role="group" class="btn-group"
                     style="font-family: 'Open Sans', sans-serif;width: 100%;height: 60px;">
                    <a class="btn btn-danger d-flex justify-content-center align-items-center"
                       role="button" href="{% url 'approve_surgery' surgery.patient.slug surgery.id %}"
                       style="font-family:Raleway, sans-serif; font-weight: bold">
                        Appeal Denial
                    </a>
                </div>
            {% endif %}

            {% if surgery.is_denied == True and not account.group.can_approve %}
                <div class="row no-gutters">
                    <div class="col" style="padding: 1rem; background: whitesmoke; border-radius: 8px">
                        <form method="post" style="width: 100%"
                              enctype="multipart/form-data">{% csrf_token %}
                            <p class="lead"
                               style="text-align: center;font-family: Raleway, sans-serif;font-size: 24px; color: var(--main-color); margin-bottom: 5px; font-weight: bold">
                                <strong>Reason for Appeal</strong></p>
                            <textarea style="margin-bottom: 15px" name="appeal_request" rows="6" id="appeal_request"
                                      class="form-control"></textarea>
                            <div role="group" class="btn-group"
                                 style="font-family: 'Open Sans', sans-serif;width: 100%;height: 60px;">
                                <input class="btn btn-danger d-flex justify-content-center align-items-center appeal-button"
                                       style="font-family:Raleway, sans-serif; font-weight: bold"
                                       type="submit"
                                       value="Request Appeal" name="appeal">
                            </div>
                        </form>
                    </div>
                </div>
            {% endif %}
        </div>
    </main>
{% endblock %}