{% extends 'base.html' %}
{% load static %}

{% block header %}
    <title>{{ surgery }}</title>
    <style></style>
    <script>
        function openImages() {
            $('.images-container').removeClass('invisible');
        }

        function closeImages() {
            $('.images-container').addClass('invisible');
        }

        function openMenu() {
            $('.delete-patient').removeClass('d-none');
        }

        function closeMenu() {
            $('.delete-patient').addClass('d-none')
        }
    </script>
{% endblock %}

{% block content %}
    <script>
        $(document).ready(function () {
            $('#carousel-1').carousel('pause');
        })
    </script>
    <main>
        <div class="justify-content-center align-items-center delete-patient d-none"
             style="display: flex;top: 0;width: 100vw;height: 100vh;position: fixed;z-index: 1000;background-color: rgba(128,128,128,0.57);">
            <div class="d-flex flex-column"
                 style="background-color: white;padding: 50px;border-radius: 5px;box-shadow: 0px 0px 5px 0px gray;">
                <h1 style="color: #fc9c34;font-weight: bold;font-family: 'Open Sans', sans-serif;margin-bottom: 15px;">
                    Are
                    you sure?</h1>
                <div role="group" class="btn-group">
                    <button class="btn btn-secondary" type="button" onclick="closeMenu()"
                            style="border-radius: 5px;margin: 3px;">Cancel
                    </button>
                    <a class="btn btn-danger" role="button" style="border-radius: 5px;margin: 3px;"
                       href="{% url 'delete_surgery' patient.slug surgery.id %}">Delete</a>
                </div>
            </div>
        </div>
        <div class="d-flex flex-column justify-content-center align-items-center images-container invisible"
             style="overflow: auto;top: 0;position: fixed;width: 100%;height: 100%;z-index: 10000;background-color: rgba(128,128,128,0.57);">
            <div style="width: 70%;padding: 40px;background-color: white;position: relative;">
                <div class="carousel slide" id="carousel-1">
                    <div role="listbox" class="carousel-inner">
                        {% if images %}
                            {% for image in images %}
                                <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %}"><img
                                        class="m-auto d-block" style="height: 700px" src="{{ image.image.url }}"
                                        alt="Slide Image"/></div>
                            {% endfor %}
                        {% else %}
                            <div class="carousel-item"><img class="w-100 d-block"
                                                            src="https://cdn.bootstrapstudio.io/placeholders/1400x800.png"
                                                            alt="Slide Image"/></div>
                        {% endif %}
                    </div>
                    <div><a href="#carousel-1" role="button" data-slide="prev" class="carousel-control-prev"><span
                            aria-hidden="true" class="carousel-control-prev-icon"></span><span
                            class="sr-only">Previous</span></a><a href="#carousel-1" role="button" data-slide="next"
                                                                  class="carousel-control-next"><span aria-hidden="true"
                                                                                                      class="carousel-control-next-icon"></span><span
                            class="sr-only">Next</span></a></div>
                    <ol class="carousel-indicators">

                        {% if images %}
                            {% for image in images %}
                                <li data-target="#carousel-1" data-slide-to="{{ forloop.counter0 }}"
                                    {% if forloop.counter == 1 %}class="active"{% endif %}></li>
                            {% endfor %}
                        {% else %}
                            <li data-target="#carousel-1" data-slide-to="0" class="active"></li>
                        {% endif %}
                    </ol>
                </div>
                <button class="btn" type="button" onclick="closeImages()"
                        style="position: absolute;top: 3px;right: 5px;">x
                </button>
            </div>
        </div>
        <div class="container d-flex d-xl-flex flex-column justify-content-center align-items-center align-items-xl-center"
             style="padding: 30px 50px;background-color: white;filter: blur(0px);">
            <div class="row" style="width: 100%;margin-bottom: 10px;">
                <div class="col d-flex justify-content-end" style="width: 100%;">
                    <button type="button" class="btn btn-danger" role="button"
                            onclick="openMenu()" style="border-radius: 7px;">Delete
                        Surgery
                    </button>
                </div>
            </div>
            {% if images %}
                <div class="row" style="width: 100%;height: 200px;">
                    <div class="col d-flex flex-column justify-content-center align-items-center"
                         style="overflow: hidden;height: 200px;">
                        <button class="btn btn-primary" onclick="openImages()" type="button"
                                style="width: 100%;height: 100%;background-color: transparent;border-radius: 15px;border: 7px solid gray;color: gray;font-size: 25px;font-family: Raleway, sans-serif;font-weight: bold;">
                            View Images
                        </button>
                    </div>
                </div>
            {% endif %}
            <div class="row justify-content-center" style="margin-top: 20px;width: 85%;">
                <div class="col-lg-12 col-xl-12">
                    {% if patient.middle_name %}
                        <h1 class="text-center"
                            style="margin-bottom: 25px;font-weight: bold;font-size: 45px;color: #fc9c34;">
                            <a href="{% url 'patient_page' patient.slug %}">{{ patient.first_name }} {{ patient.middle_name }} {{ patient.last_name }}</a>
                        </h1>
                    {% else %}
                        <h1 class="text-center"
                            style="margin-bottom: 25px;font-weight: bold;font-size: 45px;color: #fc9c34;">
                            <a href="{% url 'patient_page' patient.slug %}">{{ patient.first_name }} {{ patient.last_name }}</a>
                        </h1>
                    {% endif %}
                </div>
            </div>
            <div class="row flex-column flex-md-row flex-lg-row flex-xl-row" style="width: 100%;margin-bottom: 20px;">
                <div class="col d-flex flex-column justify-content-center align-items-center"
                     style="margin: 5px;padding: 35px 10px;border-radius: 7px;background-color: gray;box-shadow: inset 0px 0px 10px 0px #505e6c;">
                    <i class="fa fa-calendar" style="font-size: 35px;"></i>
                    <h1 class="text-center" style="font-family: Raleway, sans-serif;font-size: 18px;margin-top: 8px;">
                        Date of Admission</h1>
                    <h1 class="text-center"
                        style="font-family: 'Open Sans', sans-serif;font-weight: bold;font-size: 30px;width: 100%;">{{ surgery.date_of_admission }}</h1>
                </div>
                <div class="col d-flex flex-column justify-content-center align-items-center"
                     style="margin: 5px;padding: 35px 10px;border-radius: 7px;background-color: gray;box-shadow: inset 0px 0px 10px #505e6c;">
                    <i class="fa fa-calendar" style="font-size: 35px;"></i>
                    <h1 class="text-center" style="font-family: Raleway, sans-serif;font-size: 18px;margin-top: 8px;">
                        Date of Surgery</h1>
                    <h1 class="text-break text-center"
                        style="font-family: 'Open Sans', sans-serif;font-weight: bold;font-size: 30px;">{{ surgery.date_of_surgery }}</h1>
                </div>
                <div class="col d-flex flex-column justify-content-center align-items-center"
                     style="margin: 5px;padding: 35px 10px;border-radius: 7px;background-color: gray;box-shadow: inset 0px 0px 10px #505e6c;">
                    <i class="fa fa-calendar" style="font-size: 35px;"></i>
                    <h1 class="text-center" style="font-family: Raleway, sans-serif;font-size: 18px;margin-top: 8px;">
                        Date of Discharge</h1>
                    <h1 class="text-break text-center"
                        style="font-family: 'Open Sans', sans-serif;font-weight: bold;font-size: 30px;">{{ surgery.date_of_discharge }}</h1>
                </div>
            </div>
            {% if surgery.date_of_upload %}
                <div class="row"
                     style="width: 100%;margin-bottom: 10px;border-width: 5px;background-color: whitesmoke;border-radius: 10px;">
                    <div class="col" style="background-color: #fc9c34;border-radius: 5px;padding: 15px 20px;">
                        <h3 class="d-flex justify-content-center justify-content-sm-center justify-content-md-start justify-content-lg-start justify-content-xl-start"
                            style="color: white;font-weight: bold;margin-bottom: 0;">Date of Upload</h3>
                    </div>
                    <div class="col-xl-8"
                         style="padding: 15px 20px;background-color: whitesmoke;border-radius: 10px;border-bottom-right-radius: 5px;border-bottom-left-radius: 5px;">
                        <p class="lead d-flex justify-content-center justify-content-sm-center justify-content-md-start justify-content-lg-start justify-content-xl-start"
                           style="color: #444444;font-family: 'Open Sans', sans-serif;font-weight: normal;margin-bottom: 0;font-style: normal;font-size: 25px;border-radius: 10px;">{{ surgery.date_of_upload }}</p>
                    </div>
                </div>
            {% endif %}
            {% if surgery.hospital %}
                <div class="row"
                     style="width: 100%;margin-bottom: 10px;border-width: 5px;background-color: whitesmoke;border-radius: 10px;">
                    <div class="col" style="background-color: #fc9c34;border-radius: 5px;padding: 15px 20px;">
                        <h3 class="d-flex justify-content-center justify-content-sm-center justify-content-md-start justify-content-lg-start justify-content-xl-start"
                            style="color: white;font-weight: bold;margin-bottom: 0;">Hospital</h3>
                    </div>
                    <div class="col-xl-8"
                         style="padding: 15px 20px;background-color: whitesmoke;border-radius: 10px;border-bottom-right-radius: 5px;border-bottom-left-radius: 5px;">
                        <p class="lead d-flex justify-content-center justify-content-sm-center justify-content-md-start justify-content-lg-start justify-content-xl-start"
                           style="color: #444444;font-family: 'Open Sans', sans-serif;font-weight: normal;margin-bottom: 0;font-style: normal;font-size: 25px;border-radius: 10px;">{{ surgery.hospital }}</p>
                    </div>
                </div>
            {% endif %}
            {% if surgery.referral %}
                <div class="row"
                     style="width: 100%;margin-bottom: 10px;border-width: 5px;background-color: whitesmoke;border-radius: 10px;">
                    <div class="col" style="background-color: #fc9c34;border-radius: 5px;padding: 15px 20px;">
                        <h3 class="d-flex justify-content-center justify-content-sm-center justify-content-md-start justify-content-lg-start justify-content-xl-start"
                            style="color: white;font-weight: bold;margin-bottom: 0;">Referral</h3>
                    </div>
                    <div class="col-xl-8"
                         style="padding: 15px 20px;background-color: whitesmoke;border-radius: 10px;border-bottom-right-radius: 5px;border-bottom-left-radius: 5px;">
                        <p class="lead d-flex justify-content-center justify-content-sm-center justify-content-md-start justify-content-lg-start justify-content-xl-start"
                           style="color: #444444;font-family: 'Open Sans', sans-serif;font-weight: normal;margin-bottom: 0;font-style: normal;font-size: 25px;border-radius: 10px;">{{ surgery.referral }}</p>
                    </div>
                </div>
            {% endif %}
            {% if surgery.patient_district %}
                <div class="row"
                     style="width: 100%;margin-bottom: 10px;border-width: 5px;background-color: whitesmoke;border-radius: 10px;">
                    <div class="col" style="background-color: #fc9c34;border-radius: 5px;padding: 15px 20px;">
                        <h3 class="d-flex justify-content-center justify-content-sm-center justify-content-md-start justify-content-lg-start justify-content-xl-start"
                            style="color: white;font-weight: bold;margin-bottom: 0;">Patient District</h3>
                    </div>
                    <div class="col-xl-8"
                         style="padding: 15px 20px;background-color: whitesmoke;border-radius: 10px;border-bottom-right-radius: 5px;border-bottom-left-radius: 5px;">
                        <p class="lead d-flex justify-content-center justify-content-sm-center justify-content-md-start justify-content-lg-start justify-content-xl-start"
                           style="color: #444444;font-family: 'Open Sans', sans-serif;font-weight: normal;margin-bottom: 0;font-style: normal;font-size: 25px;border-radius: 10px;">{{ surgery.patient_district }}</p>
                    </div>
                </div>
            {% endif %}
            {% if surgery.type_of_sponsor %}
                <div class="row"
                     style="width: 100%;margin-bottom: 10px;border-width: 5px;background-color: whitesmoke;border-radius: 10px;">
                    <div class="col" style="background-color: #fc9c34;border-radius: 5px;padding: 15px 20px;">
                        <h3 class="d-flex justify-content-center justify-content-sm-center justify-content-md-start justify-content-lg-start justify-content-xl-start"
                            style="color: white;font-weight: bold;margin-bottom: 0;">Type of Sponsor</h3>
                    </div>
                    <div class="col-xl-8"
                         style="padding: 15px 20px;background-color: whitesmoke;border-radius: 10px;border-bottom-right-radius: 5px;border-bottom-left-radius: 5px;">
                        <p class="lead d-flex justify-content-center justify-content-sm-center justify-content-md-start justify-content-lg-start justify-content-xl-start"
                           style="color: #444444;font-family: 'Open Sans', sans-serif;font-weight: normal;margin-bottom: 0;font-style: normal;font-size: 25px;border-radius: 10px;">{{ surgery.type_of_sponsor }}</p>
                    </div>
                </div>
            {% endif %}
            {% if surgery.drug_allergy %}
                <div class="row"
                     style="width: 100%;margin-bottom: 10px;border-width: 5px;background-color: whitesmoke;border-radius: 10px;">
                    <div class="col" style="background-color: #fc9c34;border-radius: 5px;padding: 15px 20px;">
                        <h3 class="d-flex justify-content-center justify-content-sm-center justify-content-md-start justify-content-lg-start justify-content-xl-start"
                            style="color: white;font-weight: bold;margin-bottom: 0;">Drug Allergy</h3>
                    </div>
                    <div class="col-xl-8"
                         style="padding: 15px 20px;background-color: whitesmoke;border-radius: 10px;border-bottom-right-radius: 5px;border-bottom-left-radius: 5px;">
                        <p class="lead d-flex justify-content-center justify-content-sm-center justify-content-md-start justify-content-lg-start justify-content-xl-start"
                           style="color: #444444;font-family: 'Open Sans', sans-serif;font-weight: normal;margin-bottom: 0;font-style: normal;font-size: 25px;border-radius: 10px;">{{ surgery.surgery.drug_allergy }}</p>
                    </div>
                </div>
            {% endif %}
            {% if surgery.name_of_evaluation %}
                <div class="row"
                     style="width: 100%;margin-bottom: 10px;border-width: 5px;background-color: whitesmoke;border-radius: 10px;">
                    <div class="col" style="background-color: #fc9c34;border-radius: 5px;padding: 15px 20px;">
                        <h3 class="d-flex justify-content-center justify-content-sm-center justify-content-md-start justify-content-lg-start justify-content-xl-start"
                            style="color: white;font-weight: bold;margin-bottom: 0;">Name of Evaluation</h3>
                    </div>
                    <div class="col-xl-8"
                         style="padding: 15px 20px;background-color: whitesmoke;border-radius: 10px;border-bottom-right-radius: 5px;border-bottom-left-radius: 5px;">
                        <p class="lead d-flex justify-content-center justify-content-sm-center justify-content-md-start justify-content-lg-start justify-content-xl-start"
                           style="color: #444444;font-family: 'Open Sans', sans-serif;font-weight: normal;margin-bottom: 0;font-style: normal;font-size: 25px;border-radius: 10px;">{{ surgery.name_of_evaluation }}</p>
                    </div>
                </div>
            {% endif %}
            {% if surgery.date_of_evaluation %}
                <div class="row"
                     style="width: 100%;margin-bottom: 10px;border-width: 5px;background-color: whitesmoke;border-radius: 10px;">
                    <div class="col" style="background-color: #fc9c34;border-radius: 5px;padding: 15px 20px;">
                        <h3 class="d-flex justify-content-center justify-content-sm-center justify-content-md-start justify-content-lg-start justify-content-xl-start"
                            style="color: white;font-weight: bold;margin-bottom: 0;">Date of Evaluation</h3>
                    </div>
                    <div class="col-xl-8"
                         style="padding: 15px 20px;background-color: whitesmoke;border-radius: 10px;border-bottom-right-radius: 5px;border-bottom-left-radius: 5px;">
                        <p class="lead d-flex justify-content-center justify-content-sm-center justify-content-md-start justify-content-lg-start justify-content-xl-start"
                           style="color: #444444;font-family: 'Open Sans', sans-serif;font-weight: normal;margin-bottom: 0;font-style: normal;font-size: 25px;border-radius: 10px;">{{ surgery.date_of_evaluation }}</p>
                    </div>
                </div>
            {% endif %}
            {% if surgery.cause_of_burn %}
                <div class="row"
                     style="width: 100%;margin-bottom: 10px;border-width: 5px;background-color: whitesmoke;border-radius: 10px;">
                    <div class="col" style="background-color: #fc9c34;border-radius: 5px;padding: 15px 20px;">
                        <h3 class="d-flex justify-content-center justify-content-sm-center justify-content-md-start justify-content-lg-start justify-content-xl-start"
                            style="color: white;font-weight: bold;margin-bottom: 0;">Cause of Burn</h3>
                    </div>
                    <div class="col-xl-8"
                         style="padding: 15px 20px;background-color: whitesmoke;border-radius: 10px;border-bottom-right-radius: 5px;border-bottom-left-radius: 5px;">
                        <p class="lead d-flex justify-content-center justify-content-sm-center justify-content-md-start justify-content-lg-start justify-content-xl-start"
                           style="color: #444444;font-family: 'Open Sans', sans-serif;font-weight: normal;margin-bottom: 0;font-style: normal;font-size: 25px;border-radius: 10px;">{{ surgery.cause_of_burn }}</p>
                    </div>
                </div>
            {% endif %}
            {% if surgery.year_of_burn %}
                <div class="row"
                     style="width: 100%;margin-bottom: 10px;border-width: 5px;background-color: whitesmoke;border-radius: 10px;">
                    <div class="col" style="background-color: #fc9c34;border-radius: 5px;padding: 15px 20px;">
                        <h3 class="d-flex justify-content-center justify-content-sm-center justify-content-md-start justify-content-lg-start justify-content-xl-start"
                            style="color: white;font-weight: bold;margin-bottom: 0;">Year of Burn</h3>
                    </div>
                    <div class="col-xl-8"
                         style="padding: 15px 20px;background-color: whitesmoke;border-radius: 10px;border-bottom-right-radius: 5px;border-bottom-left-radius: 5px;">
                        <p class="lead d-flex justify-content-center justify-content-sm-center justify-content-md-start justify-content-lg-start justify-content-xl-start"
                           style="color: #444444;font-family: 'Open Sans', sans-serif;font-weight: normal;margin-bottom: 0;font-style: normal;font-size: 25px;border-radius: 10px;">{{ surgery.year_of_burn }}</p>
                    </div>
                </div>
            {% endif %}
            {% if surgery.type_of_burn %}
                <div class="row"
                     style="width: 100%;margin-bottom: 10px;border-width: 5px;background-color: whitesmoke;border-radius: 10px;">
                    <div class="col" style="background-color: #fc9c34;border-radius: 5px;padding: 15px 20px;">
                        <h3 class="d-flex justify-content-center justify-content-sm-center justify-content-md-start justify-content-lg-start justify-content-xl-start"
                            style="color: white;font-weight: bold;margin-bottom: 0;">Type of Burn</h3>
                    </div>
                    <div class="col-xl-8"
                         style="padding: 15px 20px;background-color: whitesmoke;border-radius: 10px;border-bottom-right-radius: 5px;border-bottom-left-radius: 5px;">
                        <p class="lead d-flex justify-content-center justify-content-sm-center justify-content-md-start justify-content-lg-start justify-content-xl-start"
                           style="color: #444444;font-family: 'Open Sans', sans-serif;font-weight: normal;margin-bottom: 0;font-style: normal;font-size: 25px;border-radius: 10px;">{{ surgery.type_of_burn }}</p>
                    </div>
                </div>
            {% endif %}
            {% if surgery.diagnosis_admission %}
                <div class="row"
                     style="width: 100%;margin-bottom: 10px;border-width: 5px;background-color: whitesmoke;border-radius: 10px;">
                    <div class="col" style="background-color: #fc9c34;border-radius: 5px;padding: 15px 20px;">
                        <h3 class="d-flex justify-content-center justify-content-sm-center justify-content-md-start justify-content-lg-start justify-content-xl-start"
                            style="color: white;font-weight: bold;margin-bottom: 0; font-size: 25px">Diagnosis
                            Admission</h3>
                    </div>
                    <div class="col-xl-8"
                         style="padding: 15px 20px;background-color: whitesmoke;border-radius: 10px;border-bottom-right-radius: 5px;border-bottom-left-radius: 5px;">
                        <p class="lead d-flex justify-content-center justify-content-sm-center justify-content-md-start justify-content-lg-start justify-content-xl-start"
                           style="color: #444444;font-family: 'Open Sans', sans-serif;font-weight: normal;margin-bottom: 0;font-style: normal;font-size: 25px;border-radius: 10px;">{{ surgery.diagnosis_admission }}</p>
                    </div>
                </div>
            {% endif %}
            {% if surgery.surgeons %}
                <div class="row"
                     style="width: 100%;margin-bottom: 10px;border-width: 5px;background-color: whitesmoke;border-radius: 10px;">
                    <div class="col" style="background-color: #fc9c34;border-radius: 5px;padding: 15px 20px;">
                        <h3 class="d-flex justify-content-center justify-content-sm-center justify-content-md-start justify-content-lg-start justify-content-xl-start"
                            style="color: white;font-weight: bold;margin-bottom: 0;">Surgeons</h3>
                    </div>
                    <div class="col-xl-8"
                         style="padding: 15px 20px;background-color: whitesmoke;border-radius: 10px;border-bottom-right-radius: 5px;border-bottom-left-radius: 5px;">
                        <p class="lead d-flex justify-content-center justify-content-sm-center justify-content-md-start justify-content-lg-start justify-content-xl-start"
                           style="color: #444444;font-family: 'Open Sans', sans-serif;font-weight: normal;margin-bottom: 0;font-style: normal;font-size: 25px;border-radius: 10px;">{{ surgery.surgeons }}</p>
                    </div>
                </div>
            {% endif %}
            {% if surgery.anesthesiologist %}
                <div class="row"
                     style="width: 100%;margin-bottom: 10px;border-width: 5px;background-color: whitesmoke;border-radius: 10px;">
                    <div class="col" style="background-color: #fc9c34;border-radius: 5px;padding: 15px 20px;">
                        <h3 class="d-flex justify-content-center justify-content-sm-center justify-content-md-start justify-content-lg-start justify-content-xl-start"
                            style="color: white;font-weight: bold;margin-bottom: 0;">Anesthesiologist</h3>
                    </div>
                    <div class="col-xl-8"
                         style="padding: 15px 20px;background-color: whitesmoke;border-radius: 10px;border-bottom-right-radius: 5px;border-bottom-left-radius: 5px;">
                        <p class="lead d-flex justify-content-center justify-content-sm-center justify-content-md-start justify-content-lg-start justify-content-xl-start"
                           style="color: #444444;font-family: 'Open Sans', sans-serif;font-weight: normal;margin-bottom: 0;font-style: normal;font-size: 25px;border-radius: 10px;">{{ surgery.anesthesiologist }}</p>
                    </div>
                </div>
            {% endif %}
            {% if surgery.anesthesia %}
                <div class="row"
                     style="width: 100%;margin-bottom: 10px;border-width: 5px;background-color: whitesmoke;border-radius: 10px;">
                    <div class="col" style="background-color: #fc9c34;border-radius: 5px;padding: 15px 20px;">
                        <h3 class="d-flex justify-content-center justify-content-sm-center justify-content-md-start justify-content-lg-start justify-content-xl-start"
                            style="color: white;font-weight: bold;margin-bottom: 0;">Anesthesia</h3>
                    </div>
                    <div class="col-xl-8"
                         style="padding: 15px 20px;background-color: whitesmoke;border-radius: 10px;border-bottom-right-radius: 5px;border-bottom-left-radius: 5px;">
                        <p class="lead d-flex justify-content-center justify-content-sm-center justify-content-md-start justify-content-lg-start justify-content-xl-start"
                           style="color: #444444;font-family: 'Open Sans', sans-serif;font-weight: normal;margin-bottom: 0;font-style: normal;font-size: 25px;border-radius: 10px;">{{ surgery.anesthesia }}</p>
                    </div>
                </div>
            {% endif %}
            {% if surgery.duration %}
                <div class="row"
                     style="width: 100%;margin-bottom: 10px;border-width: 5px;background-color: whitesmoke;border-radius: 10px;">
                    <div class="col" style="background-color: #fc9c34;border-radius: 5px;padding: 15px 20px;">
                        <h3 class="d-flex justify-content-center justify-content-sm-center justify-content-md-start justify-content-lg-start justify-content-xl-start"
                            style="color: white;font-weight: bold;margin-bottom: 0;">Duration</h3>
                    </div>
                    <div class="col-xl-8"
                         style="padding: 15px 20px;background-color: whitesmoke;border-radius: 10px;border-bottom-right-radius: 5px;border-bottom-left-radius: 5px;">
                        <p class="lead d-flex justify-content-center justify-content-sm-center justify-content-md-start justify-content-lg-start justify-content-xl-start"
                           style="color: #444444;font-family: 'Open Sans', sans-serif;font-weight: normal;margin-bottom: 0;font-style: normal;font-size: 25px;border-radius: 10px;">{{ surgery.duration }}</p>
                    </div>
                </div>
            {% endif %}
            <div class="row"
                 style="width: 100%;margin-bottom: 10px;border-width: 5px;background-color: whitesmoke;border-radius: 10px;">
                <div class="col align-self-center"
                     style="background-color: #fc9c34;border-radius: 5px;padding: 15px 20px;">
                    <h3 class="d-flex justify-content-center justify-content-sm-center justify-content-md-start justify-content-lg-start justify-content-xl-start"
                        style="color: white;font-weight: bold;margin-bottom: 0;font-size: 24px;">Burn Operation
                        Number</h3>
                </div>
                <div class="col-xl-8"
                     style="padding: 15px 20px;background-color: whitesmoke;border-radius: 10px;border-bottom-right-radius: 5px;border-bottom-left-radius: 5px;">
                    <p class="lead d-flex justify-content-center justify-content-sm-center justify-content-md-start justify-content-lg-start justify-content-xl-start"
                       style="color: #444444;font-family: 'Open Sans', sans-serif;font-weight: normal;margin-bottom: 0;font-style: normal;font-size: 25px;border-radius: 10px;">{{ surgery.burn_operation_number }}</p>
                </div>
            </div>
            {% if surgery.type_of_surgery %}
                <div class="row"
                     style="width: 100%;margin-bottom: 10px;border-width: 5px;background-color: whitesmoke;border-radius: 10px;">
                    <div class="col" style="background-color: #fc9c34;border-radius: 5px;padding: 15px 20px;">
                        <h3 class="d-flex justify-content-center justify-content-sm-center justify-content-md-start justify-content-lg-start justify-content-xl-start"
                            style="color: white;font-weight: bold;margin-bottom: 0;">Type of Surgery</h3>
                    </div>
                    <div class="col-xl-8"
                         style="padding: 15px 20px;background-color: whitesmoke;border-radius: 10px;border-bottom-right-radius: 5px;border-bottom-left-radius: 5px;">
                        <p class="lead d-flex justify-content-center justify-content-sm-center justify-content-md-start justify-content-lg-start justify-content-xl-start"
                           style="color: #444444;font-family: 'Open Sans', sans-serif;font-weight: normal;margin-bottom: 0;font-style: normal;font-size: 25px;border-radius: 10px;">{{ surgery.type_of_surgery }}</p>
                    </div>
                </div>
            {% endif %}
            {% if surgery.area_operated %}
                <div class="row"
                     style="width: 100%;margin-bottom: 10px;border-width: 5px;background-color: whitesmoke;border-radius: 10px;">
                    <div class="col" style="background-color: #fc9c34;border-radius: 5px;padding: 15px 20px;">
                        <h3 class="d-flex justify-content-center justify-content-sm-center justify-content-md-start justify-content-lg-start justify-content-xl-start"
                            style="color: white;font-weight: bold;margin-bottom: 0;">Area Operated</h3>
                    </div>
                    <div class="col-xl-8"
                         style="padding: 15px 20px;background-color: whitesmoke;border-radius: 10px;border-bottom-right-radius: 5px;border-bottom-left-radius: 5px;">
                        <p class="lead d-flex justify-content-center justify-content-sm-center justify-content-md-start justify-content-lg-start justify-content-xl-start"
                           style="color: #444444;font-family: 'Open Sans', sans-serif;font-weight: normal;margin-bottom: 0;font-style: normal;font-size: 25px;border-radius: 10px;">{{ surgery.area_operated }}</p>
                    </div>
                </div>
            {% endif %}
            {% if surgery.complications %}
                <div class="row"
                     style="width: 100%;margin-bottom: 10px;border-width: 5px;background-color: whitesmoke;border-radius: 10px;">
                    <div class="col" style="background-color: #fc9c34;border-radius: 5px;padding: 15px 20px;">
                        <h3 class="d-flex justify-content-center justify-content-sm-center justify-content-md-start justify-content-lg-start justify-content-xl-start"
                            style="color: white;font-weight: bold;margin-bottom: 0;">Complications</h3>
                    </div>
                    <div class="col-xl-8"
                         style="padding: 15px 20px;background-color: whitesmoke;border-radius: 10px;border-bottom-right-radius: 5px;border-bottom-left-radius: 5px;">
                        <p class="lead d-flex justify-content-center justify-content-sm-center justify-content-md-start justify-content-lg-start justify-content-xl-start"
                           style="color: #444444;font-family: 'Open Sans', sans-serif;font-weight: normal;margin-bottom: 0;font-style: normal;font-size: 25px;border-radius: 10px;">{{ surgery.complications }}</p>
                    </div>
                </div>
            {% endif %}
            {% if surgery.consent %}
                <div class="row"
                     style="width: 100%;margin-bottom: 10px;border-width: 5px;background-color: whitesmoke;border-radius: 10px;">
                    <div class="col" style="background-color: #fc9c34;border-radius: 5px;padding: 15px 20px;">
                        <h3 class="d-flex justify-content-center justify-content-sm-center justify-content-md-start justify-content-lg-start justify-content-xl-start"
                            style="color: white;font-weight: bold;margin-bottom: 0;">Consent for Photos?</h3>
                    </div>
                    <div class="col-xl-8"
                         style="padding: 15px 20px;background-color: whitesmoke;border-radius: 10px;border-bottom-right-radius: 5px;border-bottom-left-radius: 5px;">
                        {% if surgery.consent == True %}
                            <p class="lead d-flex justify-content-center justify-content-sm-center justify-content-md-start justify-content-lg-start justify-content-xl-start"
                               style="color: #444444;font-family: 'Open Sans', sans-serif;font-weight: normal;margin-bottom: 0;font-style: normal;font-size: 25px;border-radius: 10px;">
                                Yes</p>
                        {% else %}
                            <p class="lead d-flex justify-content-center justify-content-sm-center justify-content-md-start justify-content-lg-start justify-content-xl-start"
                               style="color: #444444;font-family: 'Open Sans', sans-serif;font-weight: normal;margin-bottom: 0;font-style: normal;font-size: 25px;border-radius: 10px;">
                                No</p>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
            <div class="row"
                 style="margin-top: 20px;border-style: solid;border-color: #fc9c34;border-radius: 7px;width: 100%;">
                <div class="col d-flex flex-column justify-content-center align-items-center">
                    <h1 class="text-center" style="color: #fc9c34;font-size: 30px;margin-bottom: 5px;">Surgeries</h1>
                    nav>
                    <ul class="pagination">
                        {% for surgery in surgeries %}
                            <li class="page-item"><a class="page-link"
                                                     href="{% url 'surgery_page' patient.slug surgery.id %}"
                                                     style="color: white;background-color: #fc9c34;">{{ forloop.counter }}</a>
                            </li>
                        {% endfor %}
                        <li class="page-item">
                            <a class="page-link" href="{% url 'add_surgery' patient.slug %}"
                               style="color: white;background-color: #fc9c34;"
                               aria-label="Next"><span aria-hidden="true">+</span></a>
                        </li>
                    </ul>
                    </nav>
                </div>
            </div>
        </div>
    </main>

{% endblock %}