{% extends 'base.html' %}

{% block header %}
    <title>Terms of Service</title>
{% endblock %}

{% block content %}
    <main class="d-flex d-xl-flex justify-content-center align-items-center justify-content-xl-center align-items-xl-center"
          style="height: 100vh;">
        <div class="container"
             style="color: var(--main-color);background-color: white;padding: 50px;border-radius: max(0px, min(8px, calc((100vw - 4px - 100%) * 9999))) / 8px;font-weight: 500;">
            <div class="row no-gutters">
                <div class="col">
                    <h1 style="font-weight: bold;text-align: center;margin-bottom: 30px;">Terms of Service</h1>
                </div>
            </div>
            <div class="row no-gutters" style="margin-bottom: 30px;">
                <div class="col">
                    <div style="max-height: 400px;color: #555555;font-family: 'Open Sans', sans-serif;overflow: auto;border-radius: max(0px, min(8px, calc((100vw - 4px - 100%) * 9999))) / 8px;border-style: solid;border-color: lightgray;padding: 5px;font-size: 14px;">
                        <p style="font-family: Raleway, sans-serif;">Subject to the terms of any other applicable
                            written agreement you (<strong>“you”</strong>) have with Elijah Lopez dba TvachaCare,
                            TvachaCare&#39;s sale of Software is governed by these terms and conditions of sale
                            (<strong>“Terms”</strong>).
                              Any contrary terms or conditions will be of no effect.  No waiver, modification, or
                            addition to these Terms, or any assignment of your rights or obligations under them is valid
                            or binding on TvachaCare unless in writing and signed
                            by our authorized representative.  These Terms and any other applicable agreements you enter
                            into with TvachaCare constitute the entire agreement between you and TvachaCare for your
                            purchase and use of the Software<br/></p>
                        <ol
                                style="font-family: 'Open Sans', sans-serif;">
                            <li><strong>Definitions</strong>. &quot;<strong>Software</strong>&quot; means any software,
                                library, utility, tool, or other computer or program code, in object (binary) or
                                source-code form, as well as the related documentation, provided
                                by TvachaCare to you.  Software includes software locally installed on your systems and
                                software accessed by you through the Internet or other remote means (such as websites,
                                portals, software-as-a-service (“SaaS”) and &quot;cloud-based&quot;
                                solutions).<br/></li>
                            <li><strong>Acceptance, Inspection, Notice of Non conformance:  </strong>Your acceptance of
                                the Software is deemed to occur when the Software is activated or otherwise made
                                available for your access or use, whichever is earlier.  You
                                are responsible for giving prompt written notice of identified non conformance of the
                                Software.  You must inspect the condition of the Software upon receipt and indicate any
                                non conformance. If you retain the Software without
                                giving notice within ten (10) business days, you will be deemed to have waived your
                                right to reject the Software.<br/></li>
                        </ol>
                        <ol start="3" style="margin-bottom: 8px;">
                            <li><strong>Limited Warranty:</strong><br/></li>
                        </ol>
                        <ol style="padding-left: 80px;" type="i">
                            <li><strong>Software:</strong>  We warrant to you, and only to you, as applicable, that our
                                Software will substantially conform to the functional specifications provided by
                                TvachaCare for a period of 90 days.  During the warranty
                                period, our liability and your exclusive remedy is limited, at TvachaCare’s option, to
                                repairing or correcting the Software subject to the warranty in this Section 3.1, which
                                upon inspection we determine is non-conforming.<br
                                /></li>
                            <li><strong>Warranty Exclusions:</strong>  The foregoing limited warranty only applies if
                                and to the extent that (a) the Software is properly and correctly installed, configured,
                                interfaced, maintained, stored, and operated in
                                accordance with our applicable documentation and specifications, and (b) the Software is
                                not modified or misused. This limited warranty does not apply to, and we are not
                                responsible for defects or performance problems resulting
                                from (i) operating the Software under any specification other than, or in addition to,
                                our standard specifications for them or (ii) the unauthorized installation,
                                modification, repair or use of the Software; or We do not
                                warrant or guarantee the results obtained through the use of the Software.  <em><span
                                        style="text-decoration: underline;">NOTICE REGARDING SATELLITE OR WIRELESS TECHNOLOGY</span></em>.
                                Your use of the Software is dependent
                                on the availability and coverage of wireless networks, telecommunications networks,
                                satellite positioning systems and the Internet, which involve facilities owned and
                                operated by third parties.  WE ARE NOT RESPONSIBLE FOR
                                THE OPERATION, AVAILABILITY OR FAILURE OF SUCH THIRD PARTY SYSTEMS OR FACILITIES.<br/>
                            </li>
                            <li><strong>WARRANTY DISCLAIMER:  </strong>THE FOREGOING LIMITED WARRANTY TERMS ARE IN LIEU
                                OF ALL OBLIGATIONS OR LIABILITIES ON OUR PART ARISING OUT OF, OR IN CONNECTION WITH, OUR
                                SOFTWARE AND STATE OUR ENTIRE LIABILITY AND YOUR
                                EXCLUSIVE REMEDIES RELATING TO THEM. EXCEPT AS OTHERWISE EXPRESSLY PROVIDED IN THESE
                                TERMS, THE SOFTWARE AND ANY ACCOMPANYING DOCUMENTATION ARE PROVIDED &quot;AS-IS&quot;
                                AND WITHOUT EXPRESS OR IMPLIED WARRANTY OR CONDITION
                                OF ANY KIND, EITHER BY US OR ANYONE WHO HAS BEEN INVOLVED IN ITS CREATION, PRODUCTION,
                                INSTALLATION, OR DISTRIBUTION, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OR
                                CONDITIONS OF MERCHANTABILITY AND FITNESS FOR
                                A PARTICULAR PURPOSE, SATISFACTORY QUALITY, TITLE, AND NONINFRINGEMENT. ADDITIONALLY, WE
                                MAKE NO EXPRESS OR IMPLIED WARRANTY THAT SOFTWARE PROVIDED TO YOU IN CONNECTION WITH
                                THESE TERMS, IS OR WILL BE SECURE, ACCURATE,
                                COMPLETE, UNINERRUPTED, FREE OF ERRORS, OR FREE OF VIRUSES, OR OTHER MALWARE OR PROGRAM
                                LIMITATIONS. SOME JURISDICTIONS DO NOT ALLOW LIMITATIONS ON DURATION OR THE EXCLUSION OF
                                AN IMPLIED WARRANTY, SO THE ABOVE LIMITATION
                                MAY NOT APPLY OR FULLY APPLY TO YOU.<br/></li>
                        </ol>
                        <ol start="4" style="margin-bottom: 8px;">
                            <li><strong>Warranty Procedures</strong><br/></li>
                        </ol>
                        <ol style="padding-left: 80px;" type="i">
                            <li><strong>Determination of Warranty Applicability:  </strong>We reserve the right to
                                refuse warranty services if a claim is made outside the warranty period or if a claim is
                                excluded under Section 3.2 above. Following our examination
                                of your claim, we will notify you of warranty status.<br/></li>
                            <li><strong>Not Responsible for Lost Data.</strong>  We are not responsible for any
                                modification or damage to, or loss of any programs, data, or other information stored on
                                any media or any part of the Software, or for the consequence
                                of such damage or loss, (such as business loss in the event of system, program or data
                                failure.) <br/></li>
                        </ol>
                        <ol start="5" style="margin-bottom: 8px;">
                            <li><strong>LIMITATION OF LIABILITY:  OUR ENTIRE LIABILITY FOR ANY AND ALL CLAIMS ARISING
                                OUT OF OR IN CONNECTION WITH THESE TERMS IS LIMITED TO THE AMOUNTS YOU ACTUALLY PAID TO
                                US UNDER THE TERMS.  FURTHER, WE ARE NOT LIABLE FOR ANY INCIDENTAL, CONSEQUENTIAL,
                                PUNITIVE DAMAGES OR OTHER DAMAGES, OR LOSS OF PROFITS, LOSS OF REVENUE, LOSS OF DATA,
                                LOSS OF USE OF THE SOFTWARE, COSTS OF COVER, DOWNTIME AND USER TIME OR FOR BREACH OF ANY
                                EXPRESS OR IMPLIED WARRANTY OR CONDITIONS, BREACH OF CONTRACT, NEGLIGENCE, STRICT
                                LIABILITY OR ANY OTHER LEGAL THEORY RELATED TO THE SOFTWARE. EXCEPT TO THE EXTENT
                                PROHIBITED BY APPLICABLE LAW, ANY IMPLIED WARRANTY OF SATISFACTORY QUALITY OR FITNESS
                                FOR A PARTICULAR PURPOSE APPLYING TO THE SOFTWARE IS LIMITED IN DURATION TO THE DURATION
                                OF THE WARRANTY SPECIFIED IN SECTION 3, ABOVE. YOU AND WE AGREE THAT THESE LIMITATIONS
                                OF LIABILITY ARE AGREED ALLOCATIONS OF RISK CONSTITUTING IN PART THE CONSIDERATION FOR
                                TVACHACARE’S SALE OF SOFTWARE TO YOU, AND SUCH LIMITATIONS WILL APPLY NOTWITHSTANDING
                                THE FAILURE OF ESSENTIAL PURPOSE OF ANY LIMITED REMEDY.</strong><strong>SOME
                                JURISDICTIONS DO NOT ALLOW THE EXCLUSION OR LIMITATION OF INCIDENTAL, CONSEQUENTIAL OR
                                SPECIFIED OTHER DAMAGES, OR ALLOW LIMITATIONS ON HOW LONG AN IMPLIED WARRANTY LASTS, SO
                                THE ABOVE LIMITATIONS OR EXCLUSIONS MAY NOT APPLY, OR MAY NOT FULLY APPLY TO
                                YOU.</strong><br
                            /></li>
                            <li><strong>Use of Intellectual Property:</strong>You hereby agree that the Software will
                                only be used by Helpers United, Inc. and that it will not be
                                sold, given, or otherwise transferred to any third party. Additionally, the sale of the
                                Software to you by TvachaCare is non-exclusive.
                                TvachaCare is permitted to sell or license the Software to third parties so long as it
                                does not use your name, trademarks or any of your
                                confidential information.<br/></li>
                            <li><strong>Applicable law - Settlement of Disputes:</strong> These Terms and any dispute,
                                claim or controversy arising therefrom shall be governed by the laws the State of
                                California and applicable United States federal law, without
                                reference to “conflict of laws” principles. The United Nations Convention on Contracts
                                for the International Sale of Goods will not apply.   No dispute or legal action arising
                                under these Terms, may be brought by either
                                party more than one (1) year after such cause of action accrued.<br/></li>
                            <li><strong>Sever-ability:</strong>  These Terms may be sever-able and the invalidity,
                                illegality or unenforceable in whole or in part of any provision does not affect the
                                validity of other provisions.<br/></li>
                            <li><strong>Notices:</strong>  Any notice or other communication given by either party to
                                the other regarding these Terms will be deemed given and served when personally
                                delivered, delivered by reputable international courier requiring
                                signature for receipt, or five (5) business days after mailing (postage prepaid),
                                addressed to the party at its notice address. Either party may change its notice address
                                by written notice to the other. Your notice address
                                will be the address appearing on the accepted invoice.  Our notice address is:  Elijah
                                Lopez, 675 Devonshire Loop, Brentwood, California, USA.<br/></li>
                        </ol>
                    </div>
                </div>
            </div>
        {% if request.user.is_authenticated %}
            {% if not request.user.is_accepted %}
            <div class="row">
                <div class="col">
                    <form method="post" enctype="multipart/form-data">{% csrf_token %}
                        <div role="group" class="btn-group" style="width: 100%;">
                            <button class="btn btn-danger border-danger" name="decline" type="submit">Decline</button>
                            <button class="btn btn-success border-success" name="accept" type="submit">Accept</button>
                        </div>
                    </form>
                </div>
            </div>
            {% endif %}
        {% endif %}
        </div>
    </main>
{% endblock %}